﻿@model Model.LocalPasswordModel

<style  >
    .modal-body {
        max-height: 400px;
    }
</style>

<div class="modal-dialog" style="width:600px;">
    <div class="modal-content">


        <div class="modal-header">
            @if(@ViewBag.passwordExpired !=true){
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            }
           
            <h4 id="myModalLabel">Change Password</h4>
            <p id="message"></p>
        </div>

        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "change-password-form" }))
{
            @*@Html.AntiForgeryToken()*@
    if (ViewContext.FormContext == null)
    {
        ViewContext.FormContext = new FormContext();
    }
    if (Model == null || !Model.IsChangePasswordSuccess)
    {
            <head>
                <title></title>
                <style>
                    .row-buffer {
                        margin-top: 10px;
                    }

                </style>
            </head>
            <fieldset>
                <legend>Change Password Form</legend>
                <div class="container-fluid" style="overflow-y: auto; height: 200px;">
                    <div class="row row-buffer">
                        <span class="col-md-5 text-right">
                            @Html.LabelFor(m => m.OldPassword)
                        </span>
                        <span class="col-md-7">
                            @Html.PasswordFor(m => m.OldPassword, new { title = "Password must not have been used for 8 previous password changes." })
                            @Html.ValidationMessageFor(m => m.OldPassword)
                        </span>
                    </div>
                    <div class="row row-buffer">
                        <span class="col-md-5 text-right">
                            @Html.LabelFor(m => m.NewPassword)
                        </span>
                        <span class="col-md-7">
                            @Html.PasswordFor(m => m.NewPassword)
                            @Html.ValidationMessageFor(m => m.NewPassword)
                        </span>
                    </div>
                    <div class="row row-buffer">
                        <span class="col-md-5 text-right">
                            @Html.LabelFor(m => m.ConfirmPassword)
                        </span>
                        <span class="col-md-7">
                            @Html.PasswordFor(m => m.ConfirmPassword)
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </span>
                    </div>
                </div>
                  <div class="modal-footer">
                    <div class="col-sm-1 form-group pull-left">

                    </div>
                    <button class="btn btn-primary" type="submit" id="btnChangePassword">Change Password</button>                  

                </div>
            </fieldset>
    }
    else
    {
            <h2 class="warning">You password is changed.</h2>
    }
}
    </div>
    <!-- /.modal-content -->
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var $form = $('#change-password-form');
        $.validator.unobtrusive.parse($form);
        $form.submit(function () {
            var $form = $(this);
            if ($form.valid()) {
                $.ajax({
                    cache: false,
                    type: "POST",
                    data: $('#change-password-form').serializeArray(),
                    url: '@Url.Action("ChangePassword", "Account")',
                    error: function (a, b, c) { alert(a + b + c) },
                    success: function (data) {
                        if (data.result == true) {
                            alert("Password changed.");
                            $("#dialogCommon").dialog("close");
                            window.location.reload();
                        }
                        else {
                            alert("Input error. Please ensure old password is entered correctly; new password must not have been used for 8 previous password change.");
                            return false;
                        }
                    }
                });
            }
            return false;
        });
        return false;
    });
</script>
