﻿@model Model.LoginModel
@{
    ViewBag.Title = "";
}
<link href="../../Content/themes/base/minified/jquery-ui.min.css" rel="stylesheet">
<script>
    $(function () {
        //debugger;
        $("#helpDialog").dialog({
            autoOpen: false,
            resizable: false,
            width: 640,
            height: 240,
            modal: true,
            show: { effect: 'fade' },
            closeOnEscape: false,
            buttons: {
                Close: function() {
                    $(this).dialog("close");
                }
            }
        });
        $("#helpWithLogin").on("click", function() {
            $("#helpDialog").dialog("open");
        });
    });
</script>
@*<marquee style="margin-top: 20px; margin-bottom: -20px; color: red;"><h4>The Portal will be under maintenance from Friday, July 28 2017 8:00 PM EST till Sunday, July 30 2017 8:00 PM EST</h4></marquee>*@
<hgroup class="title">
    <h4>@ViewBag.Title</h4>
</hgroup>
<section id="loginFormWithoutLine">
    @*<h2>Use a local account to log in.</h2>*@
    <div id="helpDialog" title="Help with Logging in" style="display: none">
        <p>Your User Name is the email address used to set up your account.</p>
        <p>If you need further assistance, please email HHCP@HUD.gov and provide your name, your phone number and the name of your institution.</p>
    </div>
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl, FormMethod.Post }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <br />
          <table style="width: 1050px">
              <tr>
                  <td>
                      <table style="border: 1px solid darkblue; border-collapse: collapse; padding: 5px; width: 550px; height: 410px">
                          <tr class="HCP_Tr1">
                              <td style="height:37px">
                                  &nbsp;&nbsp; Section 232
                              </td>
                          </tr>
                          <tr class="HCP_Tr2">
                              <td style="text-align:left">
                                  <ul>
                                      <br />
                                      <li>
                                          <b>Office of Residential Care Facilities (ORCF)</b> - The ORCF administers the Section 232 loan program. Section 232 is an FHA-Insured loan product that covers housing for the frail elderly - those in need of supportive services. Nursing homes, assisted living facilities, and board and care are all examples of this type of housing (a project may include more than one type).
                                      </li>
                                      <br />
                                      <li>
                                          <b>Section 232</b> - Section 232 may be used to finance the purchase, refinance, new construction, or substantial rehabilitation of a project. A combination of these uses is acceptable - e.g. refinance of a nursing home coupled with new construction of an assisted living facility.
                                      </li>
                                      <br />
                                      <li>
                                          <b>Reengineered</b> - The program was re-engineered in 2008 to provide exceptional customer service, reduce processing time, and streamline operations to reduce risk to the FHA fund.
                                      </li>
                                      <br />
                                  </ul>
                                  <br />
                              </td>
                          </tr>
                      </table>
                  </td>
                  <td style="width: 10px;">
                      &nbsp;&nbsp;
                  <td>
                  <td>
                      <table style="border: 1px solid darkblue; border-collapse: collapse; width: 450px; height:410px">
                          <tr class="HCP_Tr1">
                              <td colspan="3">
                                  &nbsp;&nbsp; Log In
                              </td>
                          </tr>
                          <tr class="HCP_Tr2">
                              <td style="text-align:right">
                                  <br />
                                  <br />
                              </td>
                              <td style=" text-align: left; "></td>
                              <td style=" text-align: left; "></td>
                          </tr>

                          @*----------------User Name----------------*@
                          <tr>
                              <td></td>
                              <td style=" text-align: center;">
                                  <table>
                                      <tr>
                                          <td style="padding-left: 16px;">@Html.LabelFor(m => m.UserName)</td>
                                          <td></td>
                                          <td style="padding-left: 10px;"><a id="helpWithLogin" title="Help with Logging in" style="cursor:pointer;text-decoration: underline;">Help with Logging in</a></td>
                                      </tr>
                                  </table>
                              </td>
                              <td style=" text-align: center; text-wrap:none"></td>

                          </tr>
                          <tr>
                              <td></td>
                              <td style="padding-left:10px; text-align: center;">&nbsp;&nbsp;&nbsp;@Html.TextBoxFor(m => m.UserName, new { id = "userInput", tabindex = 1, @style = "text-transform:lowercase" })&nbsp;&nbsp;&nbsp;&nbsp;</td>
                              <td style=" text-align: left; "></td>

                          </tr>
                          <tr class="HCP_Tr2">
                              <td style="padding-left:10px; text-align:center" colspan="3">@Html.ValidationMessageFor(m => m.UserName)</td>
                          </tr>

                          @*----------------Password----------------*@
                          <tr>
                              <td></td>
                              <td style=" text-align: center;">
                                  <table>
                                      <tr>
                                          <td style="padding-left: 16px;">@Html.LabelFor(m => m.Password)</td>
                                          <td></td>
                                          <td style="text-align: right;padding-left: 10px;">@Html.ActionLink("Forgot your password?", "ForgetPassword", "Account", new {title = "Forgot your password?", style="text-decoration: underline;"})</td>
                                      </tr>
                                  </table>
                              </td>
                              <td style=" text-align: center; text-wrap:none"></td>
                          </tr>

                          <tr>
                              <td></td>
                              <td style="padding-left: 10px; text-align: center;">&nbsp;&nbsp;&nbsp;@Html.PasswordFor(m => m.Password, new { tabindex = 2 })&nbsp;&nbsp;&nbsp;&nbsp;</td>
                              <td style=" text-align: left; "></td>
                          </tr>
                          <tr class="HCP_Tr2">
                              <td style="text-align:center;" colspan="3">@Html.ValidationMessageFor(m => m.Password)</td>
                          </tr>
                          <tr>
                              <td style="text-align: left; "></td>
                              <td style="text-align: center"></td>
                              <td style=" text-align: left; "></td>
                          </tr>
                          <tr>
                              <td style="text-align: right; "></td>
                              <td style="text-align: left; "></td>
                              <td style=" text-align: left; "></td>
                          </tr>
                          <tr>
                              <td colspan="3" style=" text-align: center; ">
                                  <input type="submit" value="Log In" tabindex="3" />
                              </td>
                          </tr>
                          <tr>
                              <td colspan="3" style="text-align: center; ">
                                  <br />
                                  <i class="HCP_Tr2">In the IE Tools menu, please turn off <a href="http://windows.microsoft.com/en-us/internet-explorer/ie-security-privacy-settings" target="_blank" style="cursor:pointer;text-decoration: underline;" title="Turn off Pop-up blocker">Pop-up blocker</a> for this site.</i>
                                  <br/>
                                  <i class="HCP_Tr2">For best performance, use IE 10 or higher.</i>
                                  <br />
                              </td>
                          </tr>
                      </table>
                  </td>
              </tr>
</table>

    }
    <div id="dialogCommon"></div>

    
</section>

<section>
<table >
    <tr class="HCP_Tr2">
        <td>
            <div>

            <table style="padding: 10px; width: 1020px; height: 18px">

                    <tr style="text-align: left" class="HCP_Tr2">
                <tr class="HCP_Tr2">
                        <td style="text-align: left">
                        <ul>
                            <li style="padding-bottom:5px">
                                    Information collection requirements contained in this document have been approved by the Office of Management and Budget(OMB) under the Paperwork Reduction Act of 1995(44 U.S.C &#167 3501-3520) and assigned OMB Control Numbers 2502-0605.
                            </li>
                            
                            <li>
                                    In accordance with the paperwork Reduction Act, HUD may not conduct or sponsor, and a person is not required to respond to, a collection of information unless the collection displays a currently valid OMB Control Number.
                            </li>
                        </ul>
                        </td>
</tr>

            </table>

        </div>
        </td>
    </tr>
</table>
    </section>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
            @Scripts.Render("~/bundles/jqueryui")
        }
        <style type="text/css">
            .userInput.WaterMarkedTextBox {
                color: gray;
            }

            .userInput.NormalTextBox {
                color: black;
            }
        </style>
        <script type="text/javascript">
            function OpenDialog() {
                $('#dialogCommon').dialog('open');
            }
            $(document).ready(

                function () {
                    $("#userInput").focus();

                    $('#dialogCommon').dialog({
                        autoOpen: false,
                        modal: true,
                        open: function (event, ui) {
                            //alert("test");
                            $(this).load("/Account/ChangePassword");
                        }
                    });
                });
        </script>


