﻿@model NewPasswordModel
@{
    ViewBag.Title = "ResetPassword";
}
<section id="registerUser" style="width:960px;">
    @*<h4 style="margin-top:50px;">Reset password</h4>*@
    <h2 class="warning">@ViewBag.Message</h2>
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { style = "margin:auto;" }))
    {
        @Html.AntiForgeryToken()
        <div class="container-fluid">
            <div class="row" style="margin-top:30px;">
                <span class="col-md-6 text-center"><strong>Reset password</strong></span>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <span class="col-md-2 text-right">
                    @Html.LabelFor(m => m.Password)
                </span>
                <span class="col-md-4">
                    @Html.PasswordFor(m => m.Password, new { placeholder = "New Password" })
                    @Html.ValidationMessageFor(m => m.Password)
                </span>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <span class="col-md-2 text-right">
                    @Html.LabelFor(m => m.ConfirmPassword)
                </span>
                <span class="col-md-4">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </span>
            </div>
            <div class="row" style="margin-top:15px;">
                <span class="col-md-2 text-right">
                </span>
                <span class="col-md-2">
                    <input type="submit" value="Reset Password" />
                </span>
                <span class="col-md-2">
                    <input type="button" value="Cancel" onclick="window.location.href='/Account/Login'">
                </span>
            </div>
        </div>
    }
</section>
