﻿@model OPAViewModel

@{
    ViewBag.Title = "";
}
<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
@*<link href="~/Content/jquery.jqGrid/jquery-uiv2.css" rel="stylesheet" />*@
@*<script src="~/Scripts/free-jqGrid/jquery-1.9.1.min.js"></script>*@
@*<script src="~/Scripts/JqGrid/jquery-ui-1.10.0.min.js"></script>*@
@*<script src="~/Scripts/JqGrid/grid.locale-en.js"></script>*@
<script src="~/Scripts/free-jqGrid/jquery.jqGrid.min.js"></script>

<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />

<script type="text/javascript" src="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<label id="lblsmg" style="font-size: small; font-style: italic; color: red; display: none">Please correct document name for the highlighted rows.</label>
@*<label id="lblsmg0" style="font-size: large; font-style: italic; font-weight: 400">There will be a small note at the bottom of the File Upload Grid to notify the Lender that the highlighted rows in the grid are the ones that do not have document types associated with them.</label>*@

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Delete Attachements</h4>

            </div>
            <div class="modal-body">
                <div class="alert alert-danger">
                    <strong>Are you Sure you want to Delete the selected Attachments?</strong>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" id="deleteAttachment">Yes</button>
            </div>
        </div>
    </div>
</div>
<div id="UploadGriDiv" style="width:1800px">
    <table id="fileUploadGrid"></table>
    <div id="fileUploadGridPager"></div>

</div>
<label id="lblsmg0" style="font-size: small; font-style: italic; color: red; display: none">Please correct document name for the highlighted rows.</label>
@*<label id="lblsmg1" style="font-size: large; font-style: italic; font-weight: 400">There will be a small note at the bottom of the File Upload Grid to notify the Lender that the highlighted rows in the grid are the ones that do not have document types associated with them.</label>*@
<script>

    function handleDeleteFile(id) {
        //  debugger;
        var childFileId = id;
        $("#spinner").attr('class', 'overlay');
        $.ajax({
            type: "POST",
            url: "/OPAForm/Deletefile/?taskfileid=" + childFileId,

            contentType: false,
            processData: false,
            cache: false,
            success: function (result) {
                //  debugger;
                if (result === "Success") {
                    alert("File Deleted Successfully");
                    //jQuery('#fileUploadGrid').trigger('reloadGrid');
                    window.location.href = '/ProductionApplication/Reload/GroupTaskInstanceId?=' + $("#GroupTaskInstanceId").val() + "&PropertyId=" + $("#PropertyId").val();

                }
                else if (result === "unauthorized") {
                    alert("You are Not Authorized to Delete this File");
                }
            },
            error: function (xhr, status, p3, p4) {
                //  debugger;
                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                console.log(err);
            }
        });
    }

</script>


<script>

        function handleCreateFolder(id, type) {
            var selectedProjectAction = $('#projectActionType').val();
            var fha = $('#FhaNumber').val();
            if (selectedProjectAction) {
                if (type == 1) {

                    if (confirm("Are you sure you want to add an additional folder to this folder structure?") == true) {
                        //debugger;
                        var folderkey = id;
                        $("#spinner").attr('class', 'overlay');
                        $.ajax({
                            type: "POST",
                            //url: "/ProductionApplication/addfolder/?folderkey=" + folderkey + "&PropertyId=" + $("#PropertyId").val() + "&FhaNumber=" + $("#FhaNumber").val() + "&GroupTaskInstanceId=" + $("#GroupTaskInstanceId").val(),
                            url: "/ProductionApplication/addfolder/?folderkey=" + folderkey + "&PropertyId=" + $("#PropertyId").val() + "&FhaNumber=" + $("#ddlFHANumbers").val() + "&GroupTaskInstanceId=" + $("#GroupTaskInstanceId").val() + "&PageTypeId=" + @Model.pageTypeId,
                            contentType: false,
                            processData: false,
                            cache: false,
                            success: function (result) {
                                if (result === "Success") {
                                    alert("The new folder has been created Successfully");
                                    //jQuery('#fileUploadGrid').trigger('reloadGrid');
                                    window.location.href = '/ProductionApplication/Reload/GroupTaskInstanceId?=' + $("#GroupTaskInstanceId").val();

                                }
                                else {
                                    alert("There was an error to create new folder. Please contact adminstrator. ");
                                }
                            },
                            error: function (xhr, status, p3, p4) {
                                //  debugger;
                                var err = "Error " + " " + status + " " + p3 + " " + p4;
                                if (xhr.responseText && xhr.responseText[0] == "{")
                                    err = JSON.parse(xhr.responseText).Message;
                                console.log(err);
                            }
                        });
                    }
                }
                else if (type == 0) {
                    if (confirm("Are you sure you want to delete this folder?") == true) {

                        var folderkey = id;
                        $("#spinner").attr('class', 'overlay');
                        $.ajax({
                            type: "POST",
                            url: "/ProductionApplication/DeleteFolder/?folderkey=" + folderkey + "&PropertyId=" + $("#PropertyId").val() + "&FhaNumber=" + $("#ddlFHANumbers").val(),

                            contentType: false,
                            processData: false,
                            cache: false,
                            success: function (result) {
                                if (result === "Success") {
                                    alert("Folder deleted Successfully");
                                    //jQuery('#fileUploadGrid').trigger('reloadGrid');
                                    window.location.href = '/ProductionApplication/Reload/GroupTaskInstanceId?=' + $("#GroupTaskInstanceId").val();

                                }
                                else if (result === "Filed") {
                                    alert("There was an error to delete this folder. Please contact adminstrator. ");
                                }
                                else if (result === "HasFile") {
                                    alert("This folder has file(s), please delete the file(s) before you delete the folder. ");
                                }
                                else if (result === "unauthorized") {
                                    alert("You are Not Authorized to Delete this Folder");
                                }
                            },
                            error: function (xhr, status, p3, p4) {
                                //  debugger;
                                var err = "Error " + " " + status + " " + p3 + " " + p4;
                                if (xhr.responseText && xhr.responseText[0] == "{")
                                    err = JSON.parse(xhr.responseText).Message;
                                console.log(err);
                            }
                        });
                    }
                }
            }
            else {
                alert('Please select FhaNumber to continue');
            }

            {

            }
        }

</script>

<script type="text/javascript">
        $(document).ready(function () {
            //  DocType();

        });
</script>
<script type="text/javascript">
            $(document).ready(function () {
                function reloadGrid() {
                    location.reload();
                    $("#fileUploadGrid").trigger("reloadGrid");
                }

                $("#fileUploadGrid").jqGrid({
                    colNames: ['folderNodeId', 'Folder View', 'Add/Remove Folders', 'level', 'parent', 'isLeaf', 'expanded', 'loaded', 'File Name', 'File Size(KB)', 'File Uploaded Date', 'FileID', 'Remove Attachment', 'Upload Files', 'DocTypeID', 'DocTypesList', 'New File Name'],
                    colModel: [
                         { name: 'id', index: 'id', width: 150, editable: false, hidden: true, sortable: false },
                         { name: 'folderNodeName', index: 'folderNodeName', width: 340, editable: false, hidden: false, sortable: false, align: 'left' },
                         {
                             name: 'SubfolderSequence', index: 'SubfolderSequence', width: 150,  sortable: false,
                             formatter: function (cellvalue, options, rowObject) {
                                 var _sequence = cellvalue[0];
                                 if (rowObject.parent == null) {
                                     if (_sequence == 'A') {
                                        // debugger;
                                         //var fha = $('#FhaNumber').val();
                                         return '<a href="javascript:handleCreateFolder(' + rowObject.id + ',' + 1 + ') ">' + "<img src='/Content/images/addFolder2.png' id='" + rowObject.id + "' height='30' width='30' align='center' alt='my image'/>" + '</a>';
                                     }
                                     else {
                                         return '<a href="javascript:handleCreateFolder(' + rowObject.id + ',' + 0 + ') ">' + "<img src='/Content/images/deleteFolder.png' id='" + rowObject.id + "' height='30' width='30' align='center' alt='my image'/>" + '</a>';

                                     }
                                 }
                                 else
                                     return '';

                             },
                             formatoptions: {
                                 keys: true,
                                 editformbutton: true
                             }

                         },

                         { name: 'level', index: 'level', width: 150, editable: false, hidden: true, sortable: false },

                        {
                             name: 'parent', index: 'parent', width: 130, editable: false, hidden: true, sortable: false,
                             formatter: function (cellvalue, options, rowObject) {
                                 if (rowObject.parent == null) {
                                     return "null"
                                 }
                                 else {
                                     return cellvalue;
                                 }
                             }
                         },

                         { name: 'isLeaf', index: 'isLeaf', width: 150, editable: false, hidden: true, sortable: false },
                         { name: 'expanded', index: 'expanded', width: 150, editable: false, hidden: true, sortable: false },
                         { name: 'loaded', index: 'loaded', width: 150, editable: false, hidden: true, sortable: false },
                         {

                             name: 'fileName', index: 'fileName', type: 'link', width: 210, editable: false,
                             cellattr: function (cellvalue, options, rowObject) {
                                 if (rowObject.fileName != null) {

                                     return ' style="text-decoration: underline"';
                                 }
                             },
                             formatter: function (cellvalue, options, rowObject) {
                                 if (rowObject.fileName == null) {
                                     return " "
                                 }
                                 else {
                                     //return '<a onclick="event.preventDefault();" href="/OPAForm/DownloadTaskFile/?taskfileid=' + (rowObject.fileId) + '">' + rowObject.fileName + '</a>';
                                     return '<a onclick="event.preventDefault(); getFile(' + (rowObject.fileId) + ');" href="#" >' + rowObject.fileName + '</a>';
                                 }
                             }
                         },

                       {
                           name: 'fileSize', index: 'fileSize', editable: false, width: 90,
                           formatter: function (cellvalue, options, rowObject) {
                               if (rowObject.fileName == null) {
                                   return " "
                               }
                               else {
                                   return cellvalue;
                               }
                           }
                       },
                       { name: 'uploadDate', index: 'uploadDate', editable: false, formatter: 'date', width: 140, formatoptions: { newformat: 'm/d/Y' } },
                       { name: 'fileId', index: 'fileId', editable: true, hidden: true },

                       // Just commented out removing single attachment button 
                      // {
                      //     Key: false, name: 'FileId', index: 'FileId', width: 150, sortable: false,
                      //     formatter: function (cellvalue, options, rowObject) {

                      //         if (rowObject.fileId == null) {
                      //             return ""
                      //         }
                      //         else {
                      //             //return '   <input id="' + rowObject.fileId + '" type=\'button\' value=\'Delete\' class=\'deleteLinkClass\'    />';
                      //             return "<img src='/Content/images/delete.jpg' id='" + rowObject.fileId + "' height='10' width='10' align='center' alt='my image' value=\'Delete\' class=\'deleteLinkClass\' />";
                      //         }
                      //     },
                      //     formatoptions: {
                      //         keys: true,
                      //         editformbutton: true
                      //     }

                      //},
                       //{ name: 'isUploadedByMe', index: 'isUploadedByMe', editable: true, hidden: true },
                        {
                            name: 'multiDelete', index:"multiDelete", align: 'center', edittype: 'checkbox', width: 152,
                            editoptions: { value: 'Yes:No', defaultValue: 'Yes' },
                            formatoptions: { disabled: false },
                            formatter: function (cellvalue, options, rowObject) {

                                if (rowObject.fileId != null && rowObject.isUploadedByMe) {
                                    return '<input type="checkbox" id="cbPassed-' + rowObject.fileId +
                                        (rowObject.active === true ? '" checked="checked" />' : '" />');

                                }
                                else {
                                    return ''
                                }
                            },
                           //formatter: "checkbox", formatoptions: { disabled: false }, sortable: false,
                       },
                        //end new added
                      {
                          name: 'act', index: 'act', width: 110, sortable: false,

                          formatter: function (cellvalue, options, rowObject) {
                              ////debugger;
                              if (rowObject.level == 0) {

                                  return '   <input id=\'' + options.rowId + '_btnUploadFile\' class="btn btn-success" type=\'button\' title=\'Upload File(s)\' value=\'Upload\' onclick=\'Upload(' + options.rowId + '); return false;\'  />'
                              }
                              else {

                                  return ''
                              }

                          }
                      },
                    { name: 'DocTypeID', index: 'DocTypeID', width: 150, editable: false, hidden: true, sortable: false },
                         { name: 'DocTypesList', index: 'DocTypesList', width: 150, editable: false, hidden: true, sortable: false },
                              {

                            name: 'DocTypeID', index: 'DocTypeID', type: 'link', width: 210, editable: false,


                            formatter: function (cellvalue, options, rowObject) {
                                if (rowObject.level == 0) {
                                    return ''
                                }
                                else {
                                    if (rowObject.DocTypeID == null && rowObject.DocTypesList != null) {

                                        return rowObject.DocTypesList
                                    }
                                    else

                                        return ''
                                }
                            }

                        },


                    ],
                    url: "/ProductionApplication/GetProdLenderUploadFileGridContent?taskInstanceId=" + $("#GroupTaskInstanceId").val() + "&PropertyId=" + $("#PropertyId").val() + "&FhaNumber=" + $("#ddlFHANumbers").val() + "" + "&FormName=" +  @Model.pageTypeId, 
                    datatype: 'json',
                    mtype: 'POST',
                    pager: jQuery('#fileUploadGridPager'),
                    rowNum: 10,
                    loadonce: false,
                    rowList: [10, 20, 30, 40],
                    shrinkToFit: false,
                    height: '100%',

                    viewrecords: true,
                    multiselect: false,
                    gridComplete: function () {
                        var rows = $("#fileUploadGrid").getDataIDs();
                        //debugger;
                        for (var i = 0; i < rows.length; i++) {
                            var doclist = $("#fileUploadGrid").getCell(rows[i], "DocTypesList");
                            var docTypeId = $("#fileUploadGrid").getCell(rows[i], "DocTypeID");

                            if ((doclist != null && doclist != "") ) {
                                //debugger;
                                $("#fileUploadGrid").jqGrid('setRowData', rows[i], false, {background: '#7db0d7' });

                                $("#lblsmg").show();
                                $("#lblsmg0").show();
                            }
                        }
                    },
                    beforeSelectRow: function (rowid, e) {

                        //    debugger;
                        var $self = $(this),
                            p = $self.jqGrid("getGridParam"),
                            $td = $(e.target).closest("tr.jqgrow>td"),
                            cm = $td.length > 0 ? p.colModel[$td[0].cellIndex] : null,
                            cmName = cm != null ? cm.name : null;
                        localData = $self.jqGrid("getLocalRow", rowid);
                        if (cmName === "FileId") {
                            handleDeleteFile(e.target.id);

                        }
                        if (cmName === "multiDelete") {
                            localData.active = $(e.target).is(":checked");
                        }

                        return false;
                    },

                    gridview: true,
                    autoencode: true,
                    treeGrid: true,
                    autoRowHeight: false,
                    rownumbers: false,
                    treeGridModel: 'adjacency',
                    treedatatype: "local",
                    ExpandColumn: 'folderNodeName',
                    sortname: 'id',
                    width: 1370,
                    caption: 'File Upload Grid',
                    emptyrecords: 'No records to display',
                    jsonReader: {
                        root: "rows",
                        page: "page",
                        total: "total",
                        records: "records",
                        repeatitems: false
                    },


                });



            });



       function DocType() {
            var url = '@Url.Action("GetDocTypesForSelectedFolder", "ProductionApplication")';
            debugger;
            $.ajax({
                url: url,
                type: 'POST',
                data: { FoldeKey: 3 },
                success: function (data) {
                    $("#_ddlDocType").empty();
                    if (data != null) {
                        $.each(data, function () {

                            $("#_ddlDocType").append($("<option />").val(this.Id).text(this.documenttype));


                        });
                    }
                },
                error: function (data) {
                    alert("Error on retriving Contractors");
                },

            });
       }


 function ChangrDocTypeConfirmation(fid) {
                // debugger;

                 var selectedValue = $("#" + fid + "_ddlDocType" + " :selected").val();
                 var selectedText = $("#" + fid + "_ddlDocType" + " :selected").text();

    var txt;
    if (confirm("Are you sure you want to assign this file name to the file?") == true)
    {
        var url = '@Url.Action("changeDoumentType", "ProductionApplication")';
        //debugger;
        $.ajax({
            url: url,
            type: 'POST',
            data: { fileId: fid, docType: selectedValue, DocName: selectedText, taskinstanceId: $("#GroupTaskInstanceId").val(), referrer:"Application" },
            success: function (data) {

            },
            error: function (data) {
                alert("Error on changing document name.");
            },

        });
       // $("#fileUploadGrid").trigger('reloadGrid');
        window.location.href = '/ProductionApplication/Reload/GroupTaskInstanceId?=' + $("#GroupTaskInstanceId").val();
    }


       }

    $(".fileUploadGrid_ChkToDelete").change(function () {
        if (this.checked) {
            alert("Checked")
        }
        else {
            alert("Unchecked")
        }
    });
    var fileIdsToDelete = null;
    $("#DeleteFile").click(function () {
        //var myGrid = $('#fileUploadGrid');
        var myGrid = $('#fileUploadGrid'), i, rowData, fileIds = [],
            rowIds = myGrid.jqGrid("getDataIDs"),
            n = rowIds.length;

        //console.log(JSON.stringify(rowIds));
        for (i = 0; i < n; i++) {
            rowData = myGrid.jqGrid("getLocalRow", rowIds[i]);
            if (rowData.active) {
                fileIds.push(rowData.fileId);
            }
            //console.log('selected row data:'+ JSON.stringify(rowData));
        }
        if (fileIds.length > 0) {
            fileIdsToDelete = fileIds;
                $('#myModal').modal('show');   
            
        }
    else
        {      
            alert("Please Select row to delete!")
        }


    })
    $("#deleteAttachment").click(function () {
        $('#myModal').modal('hide');  
        MultiDelete(fileIdsToDelete);

    });
    
    
    function MultiDelete(fileIDs) {
        var ids = JSON.stringify(fileIDs);
        var url = '@Url.Action("MultipleDelete", "ProductionApplication")';
        $.ajax({
            url: url,
            type: 'POST',
            data: { taskFileIDs: fileIDs.toString() },
            success: function () {
                alert("File Deleted Successfully")
                window.location.href = '/ProductionApplication/Reload/GroupTaskInstanceId?=' + $("#GroupTaskInstanceId").val() + "&PropertyId=" + $("#PropertyId").val();
               }
                ,
                error: function(data) {
                    alert("Error on Deleting Files");
                    },

            });
    }
</script>
