﻿@model OPAViewModel

@{
    ViewBag.Title = "";
}
<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
@*<link href="~/Content/jquery.jqGrid/jquery-uiv2.css" rel="stylesheet" />*@
@*<script src="~/Scripts/free-jqGrid/jquery-1.9.1.min.js"></script>*@
@*<script src="~/Scripts/JqGrid/jquery-ui-1.10.0.min.js"></script>*@
@*<script src="~/Scripts/JqGrid/grid.locale-en.js"></script>*@
<script src="~/Scripts/free-jqGrid/jquery.jqGrid.min.js"></script>

<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />

<script type="text/javascript" src="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.js"></script>

<div id="AEGriDiv" style="width:1300px">
    <table id="folderGrid"></table>
    <div id="folderGridPager"></div>
</div>

<div id="commentGrid">
    <table id="historyCommentGrid"></table>
    <div id="historyCommentGridPager"></div>
</div>

<div id="fileGrid">

    <table id="historyFileGrid"></table>
    <div id="historyFileGridPager"></div>
</div>

<style type="text/css">
    .mylink {
        text-decoration: underline;
    }

    .ui-jqgrid tr.jqgrow td {
        word-wrap: break-word; /* IE 5.5+ and CSS3 */
        white-space: pre-wrap; /* CSS3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap;
        /* Opera 7 */
        overflow: hidden;
        height: auto;
        vertical-align: middle;
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 1.2em;
    }

    .hiddenCell {
        visibility: collapse;
    }

    .historyImageCursor {
        cursor: pointer;
    }

    .overlay {
        position: fixed;
        background-color: #FAFAFA;
        z-index: 2147483647 !important;
        opacity: 0.8;
        overflow: hidden;
        text-align: center;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }
    .ui-dialog .ui-dialog-titlebar-close {
        position: relative !important;
        float: right !important;
        margin: 1px 0 0 0 !important;
    }
</style>

<script type="text/javascript">


    fileHistory = "<span class='fa fa-fw fa-plus'></span>&nbsp;" +
                "<span class='mylink'> View files</span>";

    function CommentHistoryDialog(id) {
        $("#commentGrid").hide();
        $("#historyCommentGrid").jqGrid({ //set your grid id
            url: '/OPAReview/GetFileCommentHistory?taskFileId=' + id + '',
            datatype: 'json',
            mtype: 'GET',
            width: 500,
            maxHeight: 300,
            colNames: ['User Name','User Role', 'Comment', 'Modified Date'], //define column names
            colModel: [
            { name: 'name', index: 'name', width: 150 },
            { name: 'userRole', index: 'userRole', width: 150 },
            { name: 'comment', index: 'comment', width: 250 },
            { name: 'uploadDate', index: 'uploadDate', width: 250, formatter: 'date', formatoptions: { newformat: 'm/d/Y' } }

            ],
            pager: jQuery('#historyCommentGridPager'), //set your pager div id
            loadComplete: function (data) {
                $("#commentGrid").show();
                $("#commentGrid").dialog({
                    title: 'Comments History',
                    modal: true,
                    closeOnEscape: true,
                    width: 600,
                    height: 500,
                    buttons: false,
                    position: "center"
                });

            },


        });
    }

    function getFile(fileid) {
       // alert(1);
        window.open("/OPAForm/DownloadTaskFile/?taskfileid=" + fileid, '_blank');
    }

    function FileHistoryDialog(id) {
        $("#fileGrid").hide();
        $("#historyFileGrid").jqGrid({ //set your grid id
            url: '/OPAReview/GetFileUploadHistory?taskFileId=' + id + '',
            datatype: 'json',
            mtype: 'GET',
            width: 500,
            maxHeight: 300,
            colNames: ['User Name', 'User Role', 'File Name', 'File Size', 'Upload Date'], //define column names
            colModel: [
            { name: 'name', index: 'name', width: 150 },
            { name: 'userRole', index: 'userRole', width: 250 },
            {
                name: 'fileName', index: 'fileName', type: 'link', width: 150, editable: false,
                cellattr: function (cellvalue, options, rowObject) {
                    if (rowObject.fileName != null) {

                        return ' style="text-decoration: underline"';
                    }
                },
                formatter: function (cellvalue, options, rowObject) {
                    if (rowObject.fileName == null) {
                        return " ";
                    }
                    else {
                        //karri
                        //return '<a onclick="event.preventDefault();"  href="/OPAForm/DownloadTaskFile/?taskfileid=' + (rowObject.fileId) + '">' + rowObject.fileName + '</a>';
                        //return '<a onclick="event.preventDefault(); getFile(' + (rowObject.fileId) + ');" href="#" >' + rowObject.fileName + '</a>';
                        //return '<a onclick="event.preventDefault(); getFile(' + (rowObject.fileId) + ');" href="#" >' + rowObject.fileName + '</a>';
                        return '<a onclick="event.preventDefault(); getFile(' + (rowObject.fileId) + ');" href="#" >' + rowObject.fileName + '</a>';
                    }
                }
            },
            { name: 'fileSize', index: 'fileSize', width: 250 },
            { name: 'uploadDate', index: 'uploadDate', width: 100, formatter: 'date', formatoptions: { newformat: 'm/d/Y' } }

            ],
            pager: jQuery('#historyFileGridPager'), //set your pager div id
            loadComplete: function (data) {
                $("#fileGrid").show();
                $("#fileGrid").dialog({
                    title: 'File Upload History',
                    modal: true,
                    closeOnEscape: true,
                    width: 600,
                    height: 500,
                    buttons: false,
                    position: "center"
                });

            },


        });
    }


  
    $(document).ready(function () {

        $("#folderGrid").jqGrid({
            colNames: ['Folder Key','Folder Name'],
            colModel: [
               { name: 'FolderKey', index: 'FolderKey', editable: false, width: 50,  hidden: true },
               { name: 'FolderName', index: 'FolderName', width: 1220, editable: false,align:'left' },
            ],
            url: "/ProductionApplication/GetProdOpaHistoryFolderList?taskInstanceId=" + $("#TaskGuid").val() + "",
            datatype: 'json',
            mtype: 'POST',
            pager: jQuery('#folderGridPager'),
            rowNum: 10,
            loadonce: true,
            rowList: [10, 20, 30, 40],
            shrinkToFit: false,
            height: '100%',
            viewrecords: true,
            sortname: 'FolderKey',
            sortorder: 'asc',
            multiselect: false,
            gridview: true,
            autoencode: true,
            width: 1250,
            caption: 'File System',
            emptyrecords: 'No records to display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false
            },
            subGrid: true,
            subGridBeforeExpand: function (subgridDivId, rowid) {

                var expanded = jQuery("td.sgexpanded", "#folderGrid")[0];
                if (expanded) {
                    setTimeout(function () {
                        $(expanded).trigger("click");
                    }, 100);
                }
                return true;
            },
            subGridRowExpanded: function (subgrid1, row1) {

                subgrid1_table = subgrid1 + "_t";
                subgrid1_pager = "p_" + subgrid1_table;
                $("#" + subgrid1).html("<table id='" + subgrid1_table + "' class='scroll'></table><div id='" + subgrid1_pager + "' class='scroll'></div>");
                var selectedFK = $(this).jqGrid("getLocalRow", row1).FolderKey;

                jQuery("#" + subgrid1_table).jqGrid({
                    colNames: ['Action', 'Submitted By', 'Role','Comment',  'Submitted Date', 'FileID', 'File History', 'Comment History', 'File Name', 'File Size(KB)', 'File Uploaded Date', 'File Extn', 'File Status', 'downloadFileId', 'isFileHistory', 'isCommentHistory'],
                    colModel: [
                          {
                              name: 'actionTaken', index: 'actionTaken', editable: false, width: 150
                             
                          },
                          {
                              name: 'name', index: 'name', editable: false
                              
                          },
                          {
                              name: 'userRole', index: 'userRole', editable: false
                              
                          },
                          {
                              name: 'comment', index: 'comment', editable: false

                          },
                          { name: 'submitDate', index: 'submitDate', width: 100, editable: false, formatter: 'date', formatoptions: { newformat: 'm/d/Y' } },
                          { name: 'fileId', index: 'fileId', editable: false, hidden: true },
                          {
                              name: "fileHistory", align: "center", width: 70,
                              formatter: function (cellvalue, options, rowObject) {

                                  if (rowObject.isFileHistory != null & rowObject.isFileHistory & rowObject.level == "1") {
                                      return "<img class='historyImageCursor' src='/Content/images/formicon.png' alt='File History' />";;
                                  }
                                  else {
                                      return " ";
                                  }
                              }
                          },
                          {
                              name: "commentHistory", align: "center", width: 70,
                              formatter: function (cellvalue, options, rowObject) {

                                  if (rowObject.isFileComment != null & rowObject.isFileComment & rowObject.level == "1") {
                                      return "<img class='historyImageCursor' src='/Content/images/comments.png' alt='Comment History' />";
                                  }
                                  else {
                                      return " ";
                                  }
                              }
                          },
                           {
                               name: 'fileName', index: 'fileName', type: 'link', width: 150, editable: false,
                               cellattr: function (cellvalue, options, rowObject) {
                                   if (rowObject.fileName != null) {

                                       return ' style="text-decoration: underline"';
                                   }
                               },
                               formatter: function (cellvalue, options, rowObject) {
                                   if (rowObject.fileName == null) {
                                       return " "
                                   }
                                   else {
                                       //return '<a onclick="event.preventDefault();" href="/OPAForm/DownloadTaskFile/?taskfileid=' + (rowObject.downloadFileId) + '">' + rowObject.fileName + '</a>';
                                       return '<a onclick="event.preventDefault(); getFile(' + (rowObject.fileId) + ');" href="#" >' + rowObject.fileName + '</a>';
                                   }
                               }
                           },
                         
                          {
                              name: 'fileSize', index: 'fileSize', editable: false, width: 60,
                              formatter: function (cellvalue, options, rowObject) {
                                  if (rowObject.fileName == null || cellvalue == null) {
                                      return " "
                                  }
                                  else {
                                      return cellvalue;
                                  }
                              }
                          },
                          {
                              name: 'uploadDate', index: 'uploadDate', editable: false, hidden: true, formatter: 'date', width: 100, formatoptions: { newformat: 'm/d/Y' }
                              
                          },
                          { name: 'fileExt', index: 'fileExt', width: 10, editable: true, hidden: true, sortable: false },
                          { name: 'fileReviewStatusId', index: 'fileReviewStatusId', width: 10, editable: false, hidden: true, sortable: false },
                          { name: 'downloadFileId', index: 'downloadFileId', width: 10, editable: false, hidden: true, sortable: false },
                          { name: 'isFileHistory', index: 'isFileHistory', width: 10, editable: false, hidden: true, sortable: false },
                          { name: 'isFileComment', index: 'isFileComment', width: 10, editable: false, hidden: true, sortable: false }
                    ],
                    url: "/ProductionApplication/GetProdOpaHistoryFileList?taskInstanceId=" + $("#TaskGuid").val() + "&folderKey=" + selectedFK + "&viewId=0",
                    datatype: 'json',
                    mtype: 'POST',
                    pager: $('#'+subgrid1_pager+''),
                    rowNum: 10,
                    loadonce: true,
                    rowList: [10, 20, 30, 40],
                    shrinkToFit: false,
                    height: '100%',
                    viewrecords: true,
                    multiselect: false,
                    gridview: true,
                    autoencode: true,
                    width: 1250,
                    caption: 'Documentation Grid',
                    emptyrecords: 'No records to display',
                    jsonReader: {
                        root: "rows",
                        page: "page",
                        total: "total",
                        records: "records",
                        repeatitems: false
                    },
                    gridComplete: function () {

                        if(selectedFK == 1 || selectedFK == 2)
                        {
                            $('#' + subgrid1_table + '').jqGrid('hideCol', ["commentHistory", "fileHistory", "fileName", "fileRename", "fileSize", "uploadDate", "isReqAddInfo", "raiComments", "isApprove"]);
                        }
                        else
                        {
                            $('#' + subgrid1_table + '').jqGrid('hideCol', ["comment"]);
                        }
                    },
                    afterInsertRow: function(rowid, aData, rowelem) {
                
                        var rowData = $('#' + subgrid1_table + '').getRowData(rowid);
                        if(rowData.fileId == null || rowData.fileId == ''){
                            $('tr#' + rowid, $('#' + subgrid1_table + ''))
                             .children("td.sgcollapsed")
                             .html("")
                             .removeClass('ui-sgcollapsed sgcollapsed');
                    }
                },
                    subGrid: true,
                    subGridBeforeExpand: function (subgridDivId, rowid) {

                        var expanded = jQuery("td.sgexpanded", "#" + subgrid1_table+"")[0];
                        if (expanded) {
                            setTimeout(function () {
                                $(expanded).trigger("click");
                            }, 100);
                        }
                        return true;
                    },
                    subGridRowExpanded: function (subgrid2, row2) {

                        subgrid2_table = subgrid2 + "_t";
                        subgrid2_pager = "p_" + subgrid2_table;
                        $("#" + subgrid2).html("<table id='" + subgrid2_table + "' class='scroll'></table><div id='" + subgrid2_pager + "' class='scroll'></div>");
                        var selectedFile = $(this).jqGrid("getLocalRow", row2).fileId;

                        jQuery("#" + subgrid2_table).jqGrid({


                            colNames: ['User Name', 'Role', 'Request Additional Info', 'Comments', 'Approve', 'Updated Date'],
                            colModel: [

                               { name: 'name', index: 'name', editable: false, width: 120 },
                               { name: 'userRole', index: 'userRole', editable: false, width: 120 },
                               
                               {
                                   name: 'isReqAddInfo', index: 'isReqAddInfo', editable: false, edittype: 'checkbox', width: 90,
                                   formatter: "checkbox", formatoptions: { disabled: true }, sortable: false,
                               },
                       {
                           name: 'raiComments', index: 'raiComments', editable: false, edittype: 'textarea', sortable: false,
                       },

                       {
                           name: 'isApprove', index: 'isApprove', editable: false, edittype: 'checkbox', editoptions: { value: "True:False" }, width: 80,
                           formatter: "checkbox", formatoptions: { disabled: true }, sortable: false,

                       },
                       { name: 'submitDate', index: 'submitDate', editable: true, formatter: 'date', formatoptions: { newformat: 'm/d/y' }, width: 120 }],
                            url: "/ProductionApplication/GetProdOpaHistoryReviewersList?fileId=" + selectedFile + "&viewId=" + $("#ViewId").val() + "",
                            datatype: 'json',
                            mtype: 'POST',
                            rowNum: 8,
                            pager: $('#' + subgrid2_pager + ''),
                            sortname: 'submitDate',
                            sortorder: "asc",
                            viewrecords: true,
                            caption: 'Reviewer(s) Grid',
                            emptyrecords: 'No reviewer(s) assigned',
                            sortable: true,
                            height: '100%',
                            width: 1000,
                            jsonReader: {
                                root: "rows",
                                page: "page",
                                total: "total",
                                records: "records",
                                repeatitems: false
                                //Id: "0"
                            },
                        });
                        $('#' + subgrid2_table + '').jqGrid('navGrid', "#" + subgrid2_pager, { edit: false, add: false, del: false, search: false });
                    }
                });
                $('#' + subgrid1_table + '').jqGrid('navGrid', "#" + subgrid1_pager, { edit: false, add: false, del: false, search: false });
            }
        });
        $('#folderGrid').jqGrid('navGrid', "#folderGridPager", { edit: false, add: false, del: false, search: true });
    });
</script>

