﻿@model HUDHealthcarePortal.Model.OPAViewModel
@using HUDHealthcarePortal.Core
@using Core
@using Model
@using HUDHealthcarePortal.BusinessService

@{
    ViewBag.Title = "";

}


<script type="text/javascript" src="/Scripts/autoNumeric.js"></script>
@*<link href="../../Content/formUpload.css" rel="stylesheet">*@
<style>
    .fileClass {
        width: 75px !important;
        padding: 5px !important;
    }
</style>
<div id='dialogDiv' class='modal fade in'>
    <div id='dialogContent'></div>
</div>
<section id="projectactionform" style="width: 1300px; height: 1150px;">
    <div id="dialogCommon"></div>
    @if (Model.RequestStatus == 2)
    {


        <h4 style="text-align: center;"> <b>@Html.DisplayName(EnumType.GetEnumDescription((PageType)Model.pageTypeId)) Request (Completed)</b></h4>
    }

    else if (Model.RequestStatus == 5)
    {


        <h4 style="text-align: center;"><b>@Html.DisplayName(EnumType.GetEnumDescription((PageType)Model.pageTypeId)) Request (Denied)</b></h4>
    }
    
    else
    {
        <h4 style="text-align: center;"><b>@Html.DisplayName(EnumType.GetEnumDescription((PageType)Model.pageTypeId)) Request (Under review)</b></h4>
    }

    @using (Html.BeginForm("ApproveOrDenyApplicationRequest", "ProductionApplication", FormMethod.Post, new { enctype = "multipart/form-data", style = "margin:auto;", id = "projectActionFrm" }))
    {

        @Html.HiddenFor(m => m.RequestStatus, new { id = "requestStatus" })
        @Html.HiddenFor(m => m.Concurrency, new { id = "Concurrency" })
        @Html.HiddenFor(m => m.TaskGuid, new { id = "TaskGuid" })
        @Html.HiddenFor(m => m.taskxrefId, new { id = "TaskxrefId" })
        @Html.HiddenFor(m => m.viewId, new { id = "ViewId" })
        @Html.HiddenFor(m => m.TaskStepId, new { id = "TaskStepId" })
        @Html.HiddenFor(m => m.RequestStatus, new { id = "RequestStatus" })
        @Html.HiddenFor(m => m.SequenceId, new { id = "SequenceId" })
        @Html.HiddenFor(m => m.AssignedBy, new { id = "AssignedBy" })
        @Html.HiddenFor(m => m.FhaNumber, new { id = "FhaNumber" })
        @Html.HiddenFor(m => m.GroupTaskId, new { id = "GroupTaskId" })
        @Html.HiddenFor(m => m.GroupTaskInstanceId, new { id = "GroupTaskInstanceId" })
        @Html.HiddenFor(m => m.ProjectActionTypeId, new { id = "ProjectActionTypeId" })
        @Html.HiddenFor(m => m.ProjectActionFormId, new { id = "ProjectActionFormId" })
        @Html.HiddenFor(m => m.TaskInstanceId, new { id = "TaskInstanceId" })
        @Html.HiddenFor(m => m.TaskId, new { id = "TaskId" })
        @Html.HiddenFor(m => m.GroupTaskCreatedOn, new { id = "GroupTaskCreatedOn" })
        @Html.HiddenFor(m => m.CreatedOn, new { id = "CreatedOn" })
        @Html.HiddenFor(m => m.CreatedBy, new { id = "CreatedBy" })
        @Html.HiddenFor(m => m.ModifiedBy, new { id = "ModifiedBy" })
        @Html.HiddenFor(m => m.ModifiedOn, new { id = "ModifiedOn" })
        @Html.HiddenFor(m => m.ProjectActionDate, new { id = "ProjectActionDate" })
        @Html.HiddenFor(m => m.RequestDate, new { id = "RequestDate" })
        @Html.HiddenFor(m => m.ServicerSubmissionDate, new { id = "ServicerSubmissionDate" })
        @Html.HiddenFor(m => m.PropertyName, new { id = "PropertyName" })
        @Html.HiddenFor(m => m.RequesterName, new { id = "RequesterName" })
        @Html.HiddenFor(m => m.IsAgreementAccepted, new { id = "IsAgreementAccepted" })
        @Html.HiddenFor(m => m.IsEditMode, new { id = "IsEditMode" })
        @Html.HiddenFor(m => m.IsPAMReport, new { id = "IsPAMReport" })
        @Html.HiddenFor(m => m.ProjectActionName, new { id = "ProjectActionName" })
        @Html.HiddenFor(m => m.IsPAMReport, new { id = "IsPAMReport" })
        @Html.HiddenFor(m => m.IsViewFromGroupTask, new { id = "IsViewFromGroupTask" })
        @Html.HiddenFor(m => m.IsReassigned, new { id = "IsReassigned" })
        @Html.HiddenFor(m => m.ServicerComments, new { id = "ServicerComments" })
        @Html.HiddenFor(m => m.ChildTaskInstanceId)
        @Html.HiddenFor(m => m.userName, new { id = "UserName" })
        @Html.HiddenFor(m => m.userRole, new { id = "UserRole" })
        @Html.HiddenFor(m => m.IschildTask, new { id = "IsChild" })

        @Html.HiddenFor(m => m.hasReviewComments, new { id = "HasReviewComments" })

        @Html.HiddenFor(m => m.PropertyAddress.AddressLine1)
        @Html.HiddenFor(m => m.PropertyAddress.City)
        @Html.HiddenFor(m => m.PropertyAddress.StateCode)
        @Html.HiddenFor(m => m.PropertyAddress.ZIP)

        @Html.HiddenFor(m => m.IsAddressChange)
        @Html.HiddenFor(m => m.ButtonName)
        @Html.HiddenFor(m => m.pageTypeId, new { id = "PageTypeId" })


        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right required">
                    @Html.Label("FHA Number", new { @class = "required" })
                </span>
                <span class="col-md-4">
                    @Html.LabelForModel(Model.FhaNumber ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Project Number")
                </span>
                <span class="col-md-4">
                    @Html.LabelForModel(Model.PropertyId.ToString(), new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Property Name")
                </span>
                <span class="col-md-4">
                    @Html.LabelForModel(Model.PropertyName ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
        </div>
        <hr />
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-11 text-center">
                    @Html.Label("Property Address")
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Street Address")
                </span>
                <span class="col-md-4">
                    @Html.LabelForModel(Model.PropertyAddress.AddressLine1 ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("City")
                </span>
                <span class="col-md-4">
                    @Html.LabelForModel(Model.PropertyAddress.City ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("State")
                </span>
                <span class="col-md-4">
                    @Html.LabelForModel(Model.PropertyAddress.StateCode ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Zip code")
                </span>
                <span class="col-md-4">
                    @Html.LabelForModel(Model.PropertyAddress.ZIP ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
        </div>
        <div class="container-fluid" style="padding-top: 15px">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Is the property address listed correctly?")
                </span>
                <span class="col-md-1 text-right">
                    <label>Yes</label>
                    <span>

                        @Html.RadioButtonFor(m => m.IsAddressChange, true, new { @id = "rbYes", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;", @disabled = "disabled" })

                    </span>
                </span>
                <span class="col-md-1 text-right">
                    <label>No</label>
                    <span>

                        @Html.RadioButtonFor(m => m.IsAddressChange, false, new { @id = "rbNo", @class = "rbFakeClass", @style = "width:20px;margin-left:30px;", @disabled = "disabled" })

                    </span>
                </span>
            </div>
        </div>
        <hr />
        <div class="container-fluid" style="padding-top: 15px;display:none">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Date of Request")
                </span>
                <span class="col-md-4">
                    @Html.LabelForModel(string.Format("{0:MM/dd/yyyy}", Model.RequestDate) ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
        </div>
        <div class="container-fluid" style="padding-top: 15px">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Requester's Name")
                </span>
                <span class="col-md-4">
                    @Html.LabelForModel(Model.RequesterName ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
        </div>
        <div class="container-fluid" style="padding-top: 15px">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Date of Lender's Submission")
                </span>
                <span class="col-md-4">
                    @Html.LabelForModel(string.Format("{0:MM/dd/yyyy h:mm tt }", Model.ServicerSubmissionDate) ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
        </div>
        <div class="container-fluid" style="padding-top: 15px">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Project Loan Type", new { @class = "required" })
                </span>
                <span class="col-md-4">
                    @Html.LabelForModel(Model.ProjectActionName ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
        </div>
        <hr />
        <div id="dvEdit" class="container-fluid">

        </div>

        <div class="container-fluid" style="padding-top: 15px">
            <div class="row">

                @Html.Partial("~/Views/Production/ApplicationRequest/_ApplicationParentLenderGrid.cshtml", Model)
            </div>
        </div>
           //umesh code for showing the tab
            if (Model.TaskStepId == 20 || Model.TaskStepId == 21)
             {
                 
                 @Html.Partial("~/Views/Production/ApplicationRequest/_TabbedWorkProduct.cshtml")
             }
        <div class="container-fluid">
        </div>
        <div id="dvEdit" class="container-fluid" style="padding-top: 20px">

            @if (!Model.IsEditMode || Model.RequestStatus == 2 || Model.RequestStatus == 5
                || Model.IschildTask.HasValue && Model.IschildTask.Value == true
                || Model.viewId != (int)ProductionView.UnderWriter)
            {

                <div id="dvBack" class="container-fluid" style="margin: 0 auto;">
                        @if (Model.IsReassigned.HasValue && Model.IsReassigned.Value == true)
                        {
                            <span class="col-md-1 text-right">

                                <input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to My ReAssigned Tasks" onclick="location.href='@Url.Action("MyReAssignmentTasks", "TaskReAssignment", new {page = TempData["page"], sort = TempData["sort"], sortdir = TempData["sortdir"]})'" />
                            </span>
                        }
                        else if (Model.IsLenderPAMReport)
                        {
                             <span class="col-md-1 text-right">
                                @*<input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to PAM Report" onclick="location.href='@Url.Action("Index", "ProdLenderPAM", new { wlmIds = ViewData["wlmIds"], aeIds = ViewData["aeIds"], fromDate = ViewData["fromDate"], toDate = ViewData["toDate"], status = ViewData["status"], projectAction = ViewData["projectAction"], page = ViewData["page"], sort = ViewData["sort"], sortdir = ViewData["sortdir"] })'" />*@
                                <input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to Prod Lender PAM Report" onclick="location.href='@Url.Action("Index", "ProdLenderPAM")'" />
                            </span>
                            <div class="row">
                                <span class="col-md-4">
                                    @Html.HiddenFor(m => m.PropertyName)
                                    @Html.HiddenFor(m => m.TaskId)
                                </span>
                            </div>                        
                        }
                        
                        else if (!Model.IsPAMReport)
                        {
                            <span class="col-md-4 text-left">
                               
                                <button type="reset" class="btn btn-info btn-sm" value="Return to My Tasks" onclick="location.href='@Url.Action("Index", "ProductionMyTask", new { page = TempData["page"], sort = TempData["sort"], sortdir = TempData["sortdir"] })'">Return to My Tasks </button>

                            </span>
                            <span class="col-md-2">
                                @if (@Model.TaskStepId == 20 && RoleManager.IsUserLenderRole(UserPrincipal.Current.UserName))
                                {
                                    <button id="btnReqFirm" type="reset" class="btn btn-primary btn-sm" value="Request Firm Commitmen"><span class="ui-button-text">Respond to Firm Commitment</span></button>
                                }
                            </span>
                        }
                        else
                        {
                            <span class="col-md-1 text-right">
                                <input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to PAM Report" onclick="history.go(-1); " />
                            </span>
                            <div class="row">
                                <span class="col-md-4">
                                    @Html.HiddenFor(m => m.PropertyName)
                                    @Html.HiddenFor(m => m.TaskId)
                                </span>
                            </div>
                        }
                    </div>

            }
            else
            {
                <div id="dvSubmit" class="container-fluid" style="margin-top:10px">
                    <div class="row" style="margin-top:10px">
                        <span class="col-md-4 text-right" style="margin-top: 15px;">
                            <label class="required">Comments :</label>
                        </span>
                        <span class="col-md-3" style="  margin-top: 10px;">
                            @Html.TextAreaFor(m => m.AEComments, new { id = "txtAEComments", @style = "height:70px;width:300px;", maxlength = "500" })
                        </span>
                    </div>
                    <div class="container-fluid" style="padding-top: 15px">
                        <div class="row">
                            <span class="col-md-5 text-right">
                                <input type="submit" style="padding-left: 5px; margin-top: -3px; border: 1px solid #787878; background: #fff; color: black; " value="Approve" id="btnApprove" name="submitButton" />
                            </span>
                            <span class="col-md-1 text-right">
                                <input type="submit" style="padding-left: 5px; margin-top: -3px; border: 1px solid #787878; background: #fff; color: black; " value="Deny" id="btnDisApprove" name="submitButton" />
                            </span>
                         
                            @if (Model.IsReassigned.HasValue && Model.IsReassigned.Value == true)
                                {
                                    <span class="col-md-1 text-right">

                                        <input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to My ReAssigned Tasks" onclick="location.href='@Url.Action("MyReAssignmentTasks", "TaskReAssignment", new {page = TempData["page"], sort = TempData["sort"], sortdir = TempData["sortdir"]})'" />
                                    </span>
                                }
                                else if (Model.IsLenderPAMReport)
                                {
                                     <span class="col-md-1 text-right">
                                        @*<input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to PAM Report" onclick="location.href='@Url.Action("Index", "ProdLenderPAM", new { wlmIds = ViewData["wlmIds"], aeIds = ViewData["aeIds"], fromDate = ViewData["fromDate"], toDate = ViewData["toDate"], status = ViewData["status"], projectAction = ViewData["projectAction"], page = ViewData["page"], sort = ViewData["sort"], sortdir = ViewData["sortdir"] })'" />*@
                                        <input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to Prod Lender PAM Report" onclick="location.href='@Url.Action("Index", "ProdLenderPAM")'" />
                                    </span>
                                    <div class="row">
                                        <span class="col-md-4">
                                            @Html.HiddenFor(m => m.PropertyName)
                                            @Html.HiddenFor(m => m.TaskId)
                                        </span>
                                    </div>                        
                                }
                                else if (!Model.IsPAMReport)
                                {
                                    <span class="col-md-1 text-right">
                                        <input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to My Tasks" onclick="location.href='@Url.Action("MyTasks", "Task", new { page = TempData["page"], sort = TempData["sort"], sortdir = TempData["sortdir"] })'" />

                                    </span>
                                    <span class="col-md-12 ">
                                        @if (RoleManager.IsUserLenderRole(UserPrincipal.Current.UserName))
                                        {
                                            <button id="btnReqFirm" type="reset" class="btn btn-primary btn-sm" value="Request Firm Commitmen"><span class="ui-button-text">Request Firm Commitment</span></button>
                                        }
                                    </span>
                            }
                            else
                            {
                                    <span class="col-md-1 text-right">
                                        <input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to PAM Report" onclick='history.go(-1);' />
                                    </span>
                                    <div class="row">
                                        <span class="col-md-4">
                                            @Html.HiddenFor(m => m.PropertyName)
                                            @Html.HiddenFor(m => m.TaskId)
                                        </span>
                                    </div>
                                }
                        </div>
                        <div class="row" style="margin-top: 30px;">

                        </div>
                    </div>
                </div>
            }

            <hr />

            <br />
        </div>
    }

</section>

<script>

    //Changes for Work Product Grid//

    function changeDocumentType(fileid) {

        $('#dialogContent').html('');
        $('#dialogContent').load('@Url.Action("ChangeDocumentTypePopup", "ProductionApplication")',
            {
                taskInstanceId: $("#TaskInstanceId").val(),
                fileId: fileid,

            }, function () {
                $('#dialogDiv').modal({
                    backdrop: 'static',
                    keyboard: true
                }, 'show');
                //bindForm(this);
                $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");

            });

        return false;


    }
    function reArrangeDocType() {

        $('#dialogContent').html('');
        $('#dialogContent').load('@Url.Action("DocTypeRearrangePopup", "ProductionApplication")', { taskInstanceId: $("#GroupTaskInstanceId").val() }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;
    }

    function Upload(key) {

        debugger;
    
        var model = JSON.stringify($('#projectActionFrm').serializeArray());
            var obj = JSON.parse(model);
            //var list=obj.join(",");
            var list = [];
            for (var i = 0; i < obj.length; i++) {
                list.push(JSON.stringify(obj[i]));
                /// var item= JSON.stringify(obj[i] );
       
            //("#packages").trigger("reloadGrid");
            $('#dialogContent').load('@Url.Action("UploadPopupLoadHUD", "ProductionApplication")', { FolderKey: key, Model: list.join("||||") }, function () {
                $('#dialogDiv').modal({
                    backdrop: 'static',
                    keyboard: true
                }, 'show');
                //bindForm(this);
                $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
            });

            return false;
        }
      


    }



    function Reorder() {
        // debugger;
        //  var model= $('#AppFrm').serialize();
        // var editData = JSON.stringify({ 'taskInstanceId': $("#TaskGuid").val(), 'fileUpdates': fileData, 'nfrComment': nfrComment, 'IsNewfile': IsNewfile });

        var model = JSON.stringify($('#AppFrm').serializeArray());
        var obj = JSON.parse(model);
        //var list=obj.join(",");
        var list = [];
        for (var i = 0; i < obj.length; i++) {
            list.push(JSON.stringify(obj[i]));
            /// var item= JSON.stringify(obj[i] );
        }
        //("#packages").trigger("reloadGrid");
        $('#dialogContent').html('');
        $('#dialogContent').load('@Url.Action("FolderRearrangePopupLoad", "ProductionApplication")', { taskInstanceId: $("#GroupTaskInstanceId").val(), Model: list.join("||||") }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;

    }


    function MapDocument() {
        // debugger;
        //  var model= $('#AppFrm').serialize();
        // var editData = JSON.stringify({ 'taskInstanceId': $("#TaskGuid").val(), 'fileUpdates': fileData, 'nfrComment': nfrComment, 'IsNewfile': IsNewfile });

        var model = JSON.stringify($('#AppFrm').serializeArray());
        var obj = JSON.parse(model);
        //var list=obj.join(",");
        var list = [];
        for (var i = 0; i < obj.length; i++) {
            list.push(JSON.stringify(obj[i]));
            /// var item= JSON.stringify(obj[i] );
        }
        //("#packages").trigger("reloadGrid");
        $('#dialogContent').html('');
        $('#dialogContent').load('@Url.Action("DocumentMappingpopupLoad", "ProductionApplication")', { taskInstanceId: $("#GroupTaskInstanceId").val(), Model: list.join("||||") }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;

    }


    function Removefile(taskFileId, TaskInstanceId) {
        // var groupTaskInstanceId = $('#GroupTaskInstanceId').val();
        // debugger;
        //alert(taskFileId);
        $("#isAgreementRequiredErrorMessage").hide();
        var TaskGuid = $('#TaskGuid').val();
        var lendercomment = $('#txtRAI').val();
        var data = new FormData();
        data.append("TaskGuid", TaskGuid);
        data.append("lendercomment", lendercomment);
        $("#spinner").attr('class', 'overlay');
        $.ajax({
            url: '/OPAForm/Removefile/TaskGuid?=' + TaskGuid,
            data: {
                taskInstanceId: groupTaskInstanceId,
                taskFileId: taskFileId,
                OPAProjectActionViewModel: '@Model',
                TaskGuid: TaskGuid,
                lendercomment: lendercomment


            },
            cache: false,
            type: 'POST',
            success: function (response) {
                // debugger;

                $("#paformreadonly").html("");
                $("#paformreadonly").html(response);
                $("#paform").html("");
                $("#paform").html(response);
                alert('File successfully deleted');
                $("h4:first").html('');


                $("#isAgreementRequiredErrorMessage").hide();




            },
            error: function (xhr) {
                // TODO: alert the user about the error
            }
        });
    }

    function hideColumn(columnIndex) {
        $('.webGrid td:nth-child(' + (columnIndex + 1) + '),th:nth-child(' + (columnIndex + 1) + ')').hide();
    }

    function Hidetabs() {

        if ('@Model.TaskStepId' >= 20) {
        
            $("#btnReqFirm span").text("Respond to Firm Commitment");
            $("#tab1primary").addClass("tab-pane fade in active");
            $("#tab1primaryhead").addClass("active");
            $('#tab2primaryhead').hide();
            $('#tab2primary').hide();

        }
        if ('@Model.TaskStepId' == 21) {
            $('#btnReqFirm').hide();
            $('#uploadbtn').hide();
            $('#attachtext').hide();
        }
        
        
    }

    $(document).ready(function () {
        
        //axax call to upload the files
        Hidetabs();
        $('.fileClass').on('change', function (e) {
            debugger;
            var Size = 0;
            var cnt = this.files.length;
            for (i = 0; i < cnt; i++) {
                Size += this.files[i].size;
            }

            if (Size > 1073741824) {
                //show an alert to the user
                alert("Your Allowed file size exceeded. (Max. 1 GB)")
                //reset file upload control
                return false;
            }



            for (i = 0; i < cnt; i++) {
                var uploadFile = this.files[i];
                if (!(/\.(gif|doc|DOC|DOCX|xls|xlsx|XLS|XLSX|pdf|PDF)$/i).test(uploadFile.name)) {
                    alert('The file is not in the expected format. Please make sure the file you are attaching is in accepted format gif,doc,docx,pdf,xls,xlsx.');
                    return false;
                }

            }
            var files = e.target.files;
            var FhaNumber = $('#txtFhaNumber').val();
            var PropertyName = $('#txtPropertyName').val();
            var requestDate = $('#requestDate').val();
            var RequesterName = $('#RequesterName').val();
            var ServicerSubmissionDate = $('#ServicerSubmissionDate').val();
            var ProjectActionTypeId = $('#projectActionType').val();
            var ServicerComments = $('#ServicerComments').val();
            var GroupTaskId = $('#GroupTaskId').val();

            var RequestStatus = $('#RequestStatus').val();
            var IsViewFromGroupTask = $('#IsViewFromGroupTask').val();
            var DisclaimerText = $('#DisclaimerText').val();
            var TaskInstanceId = $('#TaskInstanceId').val();
            var TaskId = $('#TaskId').val();
            var pageTypeId1 = $('#PageTypeId').val();
            var ButtonName = e.srcElement.name;
            //var myID = 3; //uncomment this to make sure the ajax URL works
            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    var data = new FormData();
                    for (var x = 0; x < files.length; x++) {
                        data.append("file" + x, files[x]);
                    }
                    data.append("ButtonName", ButtonName);
                    data.append("FhaNumber", FhaNumber);
                    data.append("PropertyName", PropertyName);
                    data.append("requestDate", requestDate);
                    data.append("RequesterName", RequesterName);

                    data.append("ServicerSubmissionDate", ServicerSubmissionDate);
                    data.append("ProjectActionTypeId", ProjectActionTypeId);
                    data.append("ServicerComments", ServicerComments);
                    data.append("GroupTaskId", GroupTaskId);
                    data.append("IsViewFromGroupTask", IsViewFromGroupTask);
                    data.append("RequestStatus", RequestStatus);
                    //data.append("disclaimer", disclaimer);
                    //data.append("addressschanged", addressschanged);
                    data.append("TaskInstanceId", TaskInstanceId);
                    data.append("TaskId", TaskId)
                    data.append("DisclaimerText", DisclaimerText)
                    data.append("PageTypeId", pageTypeId1)
                    $("#spinner").attr('class', 'overlay');
                    $.ajax({
                        type: "POST",

                        url: '/OPAForm/uploadOpaFiles?Taskid=@Model.TaskInstanceId',
                        contentType: false,
                        processData: false,
                        cache: false,
                        data: data,

                        success: function (result) {
                            debugger;
                            $("#paform").html("");
                            $("#paform").html(result);
                            $("#paformreadonly").html("");
                            $("#paformreadonly").html(result);

                            $('#ddlFHANumbers').attr('readonly', true);
                            $("#ddlFHANumbers").css("background-color", "#eee");
                            $('#projectActionType').attr('disabled', true);
                            $('#projectActionType').attr('readonly', true);
                            $("#projectActionType").css("background-color", "#eee");

                            var addressschanged = $('#IsAddressChange').val();

                            if (addressschanged.toUpperCase() == 'TRUE') {
                                $('#rbYes').attr('checked', true);
                                $('#rbNo').attr('checked', false);

                            }
                            else {
                                $('#rbYes').attr('checked', false);
                                $('#rbNo').attr('checked', true);
                            }
                            $('#IsDrat').val('TRUE');

                            if (result === "Success") {
                                //alert("File Deleted Successfully");
                                jQuery('#opacontentnew').trigger('reloadGrid');

                            }else
                                if (result === "Success FWP") {
                                    //alert("File Deleted Successfully");
                                    jQuery('#opacontent').trigger('reloadGrid');

                                }
                           else  if (result === "failed") {
                                alert("Sorry, an error occurred while uploading the file. Please go to the “Contact Us” tab on the menu and submit the query. Thank you for your patience!");
                                //jQuery('#TaskGrid').trigger('reloadGrid');

                            }
                            Readonly = true;
                        },



                        error: function (xhr, status, p3, p4) {
                            var err = "Error " + " " + status + " " + p3 + " " + p4;
                            if (xhr.responseText && xhr.responseText[0] == "{")
                                err = JSON.parse(xhr.responseText).Message;
                            console.log(err);
                        }
                    });
                } else {
                    alert("This browser doesn't support HTML5 file uploads!");
                }
            }
        });
        $(".fileClass").click(function () {
           // debugger;
            var selectedProjectAction = $('#projectActionType').val();
            if (selectedProjectAction != '' || selectedProjectAction != 0) {
                projectActionSelected = true;
            }
            var IsDrat = $('#IsDrat').val();


            //  alert(status);
            //if (IsDrat.toUpperCase() == 'FALSE') {
            //    // $('#FhaNumber').removeAttr('readonly');
            //    if ($('#FhaNumber').val() == '') {
            //        alert("Please select an FHA Number");
            //        autocompleteTextBox.focus();
            //        return false;
            //    } else if ($.inArray(autocompleteTextBox.val(), possibleValues) == -1) {
            //        alert("Please select an FHA Number");
            //        autocompleteTextBox.focus();
            //        return false;
            //    } else if ($('#requestDate').val() == '') {
            //        alert("Please enter Request Date");
            //        $('#requestDate').focus();
            //        return false;
            //    } else if (projectActionSelected == false) {
            //        alert("Please select Project Action Type");
            //        $('#projectActionType').focus();
            //        return false;
            //    }
            //}





        });

        //hideColumn(9);
        if ('@Model.IsApprovedPopupDisplayedForAe' == 'True') {
            disableAllLinks();
            $('#dialogCommon').dialog('open');
        }
        $('#dialogCommon').dialog({
            title: '@TempData["Title"]',
            autoOpen: '@TempData["bAutoOpen"]' == 'True' ? true : false,
            autoOpen: false,
            resizable: '@TempData["bResizable"]' == 'True' ? true : false,
            height: '@TempData["winHeight"]',
            width: '@TempData["winWidth"]',
            show: { effect: 'fade' },
            modal: true,
            draggable: '@TempData["bDraggable"]' == 'True' ? true : false,
            closeOnEscape: false,
            close: function (event, ui) {
                $(this).dialog('close');
            },
            open: function (event, ui) {
                //debugger;
                $(this).load('@TempData["sLoadUrl"]', { id: g_modal_paramId });
                if ('@TempData["bShowCloseBtn"]' == 'False')
                    $('.ui-dialog-titlebar-close').hide();
            }
        });

               function disableAllLinks() {
            links = document.getElementsByTagName('A');
            buttons = document.getElementsByTagName('input');

            for (var i = 0; i < links.length; i++) {
                links[i].href = "javascript:return false";
            }

            for (var i = 0; i < buttons.length; i++) {
                buttons[i].disable = true;
            }
        };
    });

    $(document).ready(function () {


        $("#btnReqFirm").click(function () {
            //debugger;
            var data = new FormData();
            //var TaskInstanceId = $('#TaskInstanceId').val();
            //data.append("TaskInstanceId", TaskInstanceId);
            $.ajax({

                url: '@Url.Action("FirmCommitmentReply", "ProductionApplication", new { Taskinstanceid = Model.ChildTaskInstanceId })',
                contentType: false,
                processData: false,
                cache: false,
                data: data,

                success: function (result) {
                    if (result === "Success") {

                        alert('Firm Commitment Response Sent');
                        window.location.href = '/ProductionMyTask/Index';

                    } else if (result === "No File") {
                        alert('Please attach the file(s) before you respond to Firm Commitment');
                        return false;
                    } else {
                        alert('Error occured while sending Firm Commitment Response ');


                    }
                },
                error: function (response) {
                   // debugger;
                    alert('Error occured while sending Firm Commitment Response ');

                }
            });

        });

        if ($('#IsEditMode').val() == "False") {
            document.getElementById('dvEdit').style.display = 'none';
        }

        $('input[id="btnApprove"]').click(function () {
            //debugger;
            $('#requestStatus').val(2);
        });

        $('input[id="btnDisApprove"]').click(function () {
            if ($('#txtAEComments').val() == '') {
                alert("Comments are required");
                $('#txtAEComments').focus();
                return false;
            }
            else {
                $('#requestStatus').val(5);
            }
        });

        //$('input[id="btnRAI"]').click(function () {
        //    if ($('#txtRAI').val() == '') {
        //        alert("Request additional information comments are required");
        //        $('#txtRAI').focus();
        //        return false;
        //    }
        //    else {
        //        $('#requestStatus').val(7);
        //    }
        //});
    });
</script>


<script>

    //Function for Prod Task Assignment
    function assignExternalReviewer(id) {
      //  debugger;
        $('#dialogContent').load('@Url.Action("ExternalReviewerAssignment", "ProductionApplication")', { taskInstanceId: id }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;
    }

</script>