﻿@using Core
@using Core.Utilities
@model Model.ReportHeaderModel
@{
    ViewBag.Title = "SuperUserReportHeaderDetail";
}
    <div class="row">
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-left">
                    @Html.Label("Report Name: ")
                </span>
                <span class="col-md-4">
                    @Html.DisplayFor(model => EnumType.GetEnumDescription(model.ReportType))
                </span>
            </div>
            <div class="row">
                <span class="col-md-4 text-left">
                    @Html.Label("Total Unpaid Principal Balance: ")
                </span>
                <span class="col-md-4">
                    @Html.DisplayFor(model => model.UnpaidPrincipalBalance)
                </span>
            </div>
        </div>
    </div>
