﻿@model OPAViewModel

@{
    ViewBag.Title = "";
}
<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
@*<link href="~/Content/jquery.jqGrid/jquery-uiv2.css" rel="stylesheet" />*@
@*<script src="~/Scripts/free-jqGrid/jquery-1.9.1.min.js"></script>*@
@*<script src="~/Scripts/JqGrid/jquery-ui-1.10.0.min.js"></script>*@
@*<script src="~/Scripts/JqGrid/grid.locale-en.js"></script>*@
<script src="~/Scripts/free-jqGrid/jquery.jqGrid.min.js"></script>

<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />

@*<script type="text/javascript" src="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.js"></script>*@

<div id="requestAdditionalMainGrid" >

    <table id="requestAdditionalTaskGrid"></table>
    <div id="pager"></div>


</div>

<div id="commentGrid">

    <table id="historyCommentGrid"></table>
    <div id="historyCommentGridPager"></div>
</div>

<div id="fileGrid">

    <table id="historyFileGrid"></table>
    <div id="historyFileGridPager"></div>
</div>
<style type="text/css">
    .ui-jqgrid {
        font-size: 8.8em;
    }

    .mylink {
        text-decoration: underline;
    }

    .hiddenCell {
        visibility: collapse;
    }

    .ui-jqgrid tr.jqgrow td {
        word-wrap: break-word; /* IE 5.5+ and CSS3 */
        white-space: pre-wrap; /* CSS3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        overflow: hidden;
        height: auto;
        vertical-align: middle;
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 1.2em;
    }

    /*!
       * Helpers to hide text field in type = "file", and present buttons consistently.
       */

    /* Hide the file input using opacity */
    [type=file] {
        position: absolute;
        filter: alpha(opacity=0);
        opacity: 0;
        top: -100px;
    }

        [type=file] + label {
            font-weight: bold;
            border: 1px solid #CCC;
            border-radius: 3px;
            text-align: left;
            padding: 10px;
            margin: 0;
            left: 0;
            position: relative;
        }

        [type=file] + label {
            font-weight: bold;
            text-align: center;
            border-radius: 3px;
            left: 0em;
            top: 0.5em;
            /* Decorative */
            background: #333;
            color: #fff;
            border: none;
            cursor: pointer;
        }

            [type=file] + label:hover {
                background: #3399ff;
            }
    .historyImageCursor {
        cursor: pointer;
    }
    .ui-dialog .ui-dialog-titlebar-close {
        position: relative !important;
        float: right !important;
        margin: 1px 0 0 0 !important;
    }
</style>



<script type="text/javascript">



    function CommentHistoryDialog(id) {
        $("#historyCommentGrid").jqGrid({ //set your grid id
            url: '/OPAReview/GetFileCommentHistory?taskFileId=' + id + '',
            datatype: 'json',
            mtype: 'GET',
            width: 500,
            colNames: ['User Name', 'comment', 'uploadDate'], //define column names
            colModel: [
            { name: 'name', index: 'name', width: 150 },
            { name: 'comment', index: 'comment', width: 250 },
            { name: 'uploadDate', index: 'uploadDate', width: 100, formatter: 'date', formatoptions: { newformat: 'm/d/Y h:i A' } }

            ],
            pager: jQuery('#historyCommentGridPager'), //set your pager div id
            loadComplete: function (data) {

                $("#commentGrid").dialog({
                    title: 'Comments History',
                    modal: true,
                    closeOnEscape: true,
                    width: 600,
                    height: 500,
                    buttons: false,
                    position: "center"
                });
                $("#commentGrid").show();
            },


        });
    }

    function FileHistoryDialog(id) {
        $("#historyFileGrid").jqGrid({ //set your grid id
            url: '/OPAReview/GetFileUploadHistory?taskFileId=' + id + '',
            datatype: 'json',
            mtype: 'GET',
            width: 500,
            colNames: ['User Name', 'User Role', 'File Name', 'File Size', 'Upload Date'], //define column names
            colModel: [
            { name: 'name', index: 'name', width: 150 },
            { name: 'userRole', index: 'userRole', width: 250 },
            {
                name: 'fileName', index: 'fileName', type: 'link', width: 150, editable: false,
                cellattr: function (cellvalue, options, rowObject) {
                    if (rowObject.fileName != null) {

                        return ' style="text-decoration: underline"';
                    }
                },
                formatter: function (cellvalue, options, rowObject) {
                    if (rowObject.fileName == null) {
                        return " ";
                    }
                    else {
                        return '<a href="/OPAForm/OPADownloadTaskFile/?taskfileid=' + (rowObject.fileId) + '">' + rowObject.fileName + '</a>';
                    }
                }
            },
            { name: 'fileSize', index: 'fileSize', width: 250 },
            { name: 'uploadDate', index: 'uploadDate', width: 100, formatter: 'date', formatoptions: { newformat: 'm/d/Y h:i A' } }

            ],
            pager: jQuery('#historyFileGridPager'), //set your pager div id
            loadComplete: function (data) {

                $("#fileGrid").dialog({
                    title: 'File Upload History',
                    modal: true,
                    closeOnEscape: true,
                    width: 600,
                    height: 500,
                    buttons: false,
                    position: "center"
                });
                $("#fileGrid").show();
            },


        });
    }

    $(document).ready(function () {

        $("#requestAdditionalTaskGrid").jqGrid({
            url: "/OPAForm/GetRequestAdditionalGridForLender?taskInstanceId=" + $("#TaskGuid").val() + "",
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Action', 'Name', 'Role', 'Comment', 'File History', 'FileID', 'ChildFileID', 'Expected File Name', 'Attached File', 'File Size(KB)'],
            colModel: [
                { name: 'actionTaken', index: 'actionTaken', editable: false, width: 150 },
                { name: 'name', index: 'name', editable: false },
                { name: 'userRole', index: 'userRole', editable: false },
                {
                    name: "commentHistory", align: "center", width: 100,
                    formatter: function (cellvalue, options, rowObject) {

                        if (rowObject.isFileComment != null & rowObject.isFileComment) {
                            return "<img class='historyImageCursor' src='/Content/images/comments.png' alt='Comment History' />";
                        }
                        else if (rowObject.comment != null) {
                            return rowObject.comment;
                        }
                        else {
                            return " ";
                        }
                    }
                },
                {
                    name: "fileHistory", align: "center", width: 100,
                    formatter: function (cellvalue, options, rowObject) {

                        if (rowObject.isFileHistory != null & rowObject.isFileHistory) {
                            return "<img class='historyImageCursor' src='/Content/images/formicon.png' alt='File History' />";
                        }
                        else {
                            return " ";
                        }
                    }
                },
                { name: 'fileId', index: 'fileId', editable: true, hidden: true },
                { name: 'childFileId', index: 'childFileId', editable: true, hidden: true },
                {
                    name: 'fileName', index: 'expectedFileName', editable: false, hidden: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.actionTaken === 'New File') {
                            return "NA";
                        }
                        else {
                            return cellvalue;
                        }
                    }
                },
                {
                    name: 'newfile', index: 'newfile', type: 'link', width: 120,
                    cellattr: function (cellvalue, options, rowObject) {
                        if (rowObject.fileName != null) {

                            return ' style="text-decoration: underline"';
                        }
                    },
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.childFileId != null) {
                            return '<a href="/OPAForm/OPADownloadTaskFile/?taskfileid=' + rowObject.childFileId + '">' + rowObject.fileName + '</a>';
                        } else if (rowObject.actionTaken === 'New File') {
                            return '<a href="/OPAForm/OPADownloadTaskFile/?taskfileid=' + rowObject.fileId + '">' + rowObject.fileName + '</a>';
                        }
                        else {
                            return "NA";
                        }
                    }
                },
                {
                    name: 'fileSize',
                    index: 'fileSize',
                    editable: false,
                    width: 90,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.fileName == null) {
                            return " ";
                        } else {
                            return cellvalue;
                        }
                    }
                }
            ],
            pager: jQuery('#pager'),
            cellEdit: false,
            cellsubmit: 'clientArray',
            rowNum: 10,
            loadonce: false,
            rowList: [10, 20, 30, 40],
            shrinkToFit: false,
            height: '100%',
            viewrecords: true,
            caption: 'Documentation Grid',
            //width: 1250,
            emptyrecords: 'No records to display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false
                //Id: "0"
            },
            gridComplete: function () {
                //debugger;
                //$("#CreatedBy").val() + $("#CreatedOn").val()
                //$("#requestAdditionalTaskGrid").jqGrid('setGroupHeaders', {
                //    useColSpanStyle: true,
                //    groupHeaders: [
                //      { startColumnName: 'fileId', numberOfColumns: 4, titleText: 'File Details' }
                //    ]
                //});

            },

            loadComplete: function () {

            },
            loadError: function (xhr, status, error) {

            },
            multiselect: false,
            autoencode: true,
            beforeSelectRow: function (rowid, e) {
                var $self = $(this),
                    p = $self.jqGrid("getGridParam"),
                    $td = $(e.target).closest("tr.jqgrow>td"),
                    cm = $td.length > 0 ? p.colModel[$td[0].cellIndex] : null,
                    cmName = cm != null ? cm.name : null;
                if (cmName === "commentHistory") {
                   
                    if ($('#requestAdditionalTaskGrid').jqGrid('getCell', rowid, 'fileId') != null &&
                        $('#requestAdditionalTaskGrid').jqGrid('getCell', rowid, 'fileId').toString().trim().length > 0) {
                        CommentHistoryDialog($('#requestAdditionalTaskGrid').jqGrid('getCell', rowid, 'fileId'));
                        $("#historyCommentGrid").jqGrid('setGridParam', { url: "/OPAReview/GetFileCommentHistory?taskFileId=" + $('#requestAdditionalTaskGrid').jqGrid('getCell', rowid, 'fileId'), page: 1 }).trigger('reloadGrid');
                    }

                }

                if (cmName === "fileHistory") {
                   
                    if ($('#requestAdditionalTaskGrid').jqGrid('getCell', rowid, 'fileId') != null &&
                        $('#requestAdditionalTaskGrid').jqGrid('getCell', rowid, 'fileId').toString().trim().length > 0) {
                        FileHistoryDialog($('#requestAdditionalTaskGrid').jqGrid('getCell', rowid, 'fileId'));
                        $("#historyFileGrid").jqGrid('setGridParam', { url: "/OPAReview/GetFileUploadHistory?taskFileId=" + $('#requestAdditionalTaskGrid').jqGrid('getCell', rowid, 'fileId'), page: 1 }).trigger('reloadGrid');
                    }

            }
            }


        }).jqGrid("hideCol", "subgrid").navGrid('#pager', { edit: false, add: false, del: false, search: false, refresh: false });


    });




    function getCellValue(rowId, cellId) {
        var cell = jQuery('#' + rowId + '_' + cellId);
        var val = cell.val();
        return val;
    }
</script>
