﻿@model HUDHealthcarePortal.Model.OPAViewModel

@{
    ViewBag.Title = "Project Action Request Form";
}

<script type="text/javascript" src="/Scripts/autoNumeric.js"></script>
<link href="../../Content/formUpload.css" rel="stylesheet">
<style type="text/css">
    .ui-dialog .ui-dialog-title {
        text-align: center;
        width: 100%;
    }

    ul.ui-autocomplete {
        list-style: none;
        list-style-type: none;
        padding: 2px;
        margin: 0px;
    }

    .background {
        background-color: #eee;
    }

    span.error {
        color: #e80c4d;
        font-weight: bold;
    }

    input[type="radio"] {
        width: 20px;
    }

    label.required:after {
        content: " *";
        color: red;
    }

    .overlay {
        position: fixed;
        background-color: #FAFAFA;
        z-index: 2147483647 !important;
        opacity: 0.8;
        overflow: hidden;
        text-align: center;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 20px;
    }
</style>

<section id="projectactionform" style="width: 1300px; height: 1150px;">

    <div id="dialogCommon"></div>
    <div id="paform">
        @using (Html.BeginForm("Facade", "OPAForm", FormMethod.Post, new { enctype = "multipart/form-data", style = "margin:auto;", id = "OPAprojectActionFrm" }))
        {
            @*@Html.HiddenFor(m => m.FhaNumber, new { id = "FhaNumber" })*@
            @*@Html.HiddenFor(m => m.Concurrency, new { id = "Concurrency" })
                @Html.HiddenFor(m => m.TaskGuid, new { id = "TaskGuid" })

                @Html.HiddenFor(m => m.SequenceId, new { id = "SequenceId" })
                @Html.HiddenFor(m => m.AssignedBy, new { id = "AssignedBy" })
                @Html.HiddenFor(m => m.ModifiedBy, new { id = "UpdatedBy" })
                @Html.HiddenFor(m => m.CreatedBy, new { id = "CreatedBy" })
                @Html.HiddenFor(m => m.CreatedOn, new { id = "CreatedOn" })
                @Html.HiddenFor(m => m.ModifiedOn, new { id = "UpdatedOn" })
                @Html.HiddenFor(m => m.IsEditMode, new { id = "Mode" })
                 @Html.HiddenFor(m => m.RequestStatus, new { id = "RequestStatus" })*@
            @Html.Hidden("IsDrat")
            @Html.Hidden("Certify")
            // User Story 1901
            @Html.HiddenFor(m => m.TaskGuid, new { id = "TaskGuid" })
            @Html.HiddenFor(m => m.IsAgreementAccepted, new { id = "isAgreementAccepted" })
            @Html.HiddenFor(m => m.DisclaimerText, new { id = "DisclaimerText" })
            @Html.HiddenFor(m => m.RequestStatus, new { id = "RequestStatus" })
            @*@Html.HiddenFor(m => m.IsReassigned, new { id = "IsReassigned" })*@
            @Html.HiddenFor(m => m.GroupTaskId, new { id = "GroupTaskId" })
            @Html.HiddenFor(m => m.GroupTaskInstanceId, new { id = "GroupTaskInstanceId" })
            @Html.HiddenFor(m => m.ProjectActionTypeId, new { id = "ProjectActionTypeId" })
            @Html.HiddenFor(m => m.IsAddressChange, new { id = "IsAddressChange" })
            @Html.HiddenFor(m => m.PropertyId, new { id = "PropertyId" })
            @*@Html.HiddenFor(m => m.GroupTaskCreatedOn, new { id = "GroupTaskCreatedOn" })*@
           
            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-4 text-right">   </span>
                    <span class="col-md-4 text-left"> <h4><b>&nbsp;&nbsp;&nbsp;Project Action Request Form</b></h4> </span>
                </div>
            </div>
            <br />
            <div class="container-fluid" style="padding-top: 15px">
                <div class="row">
                    <span class="col-md-4 text-right required">
                        @Html.Label("FHA Number", new { @class = "required" })
                    </span>
                    <span class="col-md-4">
                        @*<input type="text" id="ddlFHANumbers" value="@Model.FhaNumber" class="updateableFields" />*@
                        @Html.TextBoxFor(model => model.FhaNumber, new { @id = "ddlFHANumbers", @class = "updateableFields" })

                    </span>
                </div>
            </div>
            <div class="container-fluid" style="padding-top: 15px">
                <div class="row">
                    <span class="col-md-4 text-right">
                        @Html.Label("Project Number")
                    </span>
                    <span class="col-md-4">
                       
                            
                            @Html.TextBoxFor(model => model.PropertyId, new {id = "txtPropertyId", title = "Property ID", @style = "background: #eee", @readonly = "true"})
                          @Html.ValidationMessageFor(model => model.PropertyId)
                       
                        
                    </span>
                </div>
            </div> 
            <div class="container-fluid" style="padding-top: 15px">
                <div class="row">
                    <span class="col-md-4 text-right">
                        @Html.Label("Property Name")
                    </span>
                    <span class="col-md-4">
                        @Html.TextBoxFor(model => model.PropertyName, new { id = "txtPropertyName", title = "Property Name", @style = "background: #eee", @readonly = "true" })
                        @Html.ValidationMessageFor(model => model.PropertyName)
                    </span>
                </div>
            </div>    
              
            <div class="container-fluid" style="padding-top: 15px">
                <div class="row">
                    <span class="col-md-12 text-center">
                        @Html.Label("Property Address:")
                    </span>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-4 text-right">
                        @Html.Label("Street Address")
                        @Html.Label("*", new { style = "color: red;" })
                    </span>
                    <span class="col-md-4">
                        @Html.TextBoxFor(m => m.PropertyAddress.AddressLine1, new { id = "txtStreetAddress", title = "Street Address", @readonly = true, @style = "background: #eee", @tabindex = -1 })
                    </span>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-4 text-right">
                        @Html.Label("City")
                        @Html.Label("*", new { style = "color: red;" })
                    </span>
                    <span class="col-md-4">
                        @Html.TextBoxFor(m => m.PropertyAddress.City, new { id = "txtCity", title = "City", @readonly = true, @style = "background: #eee", @tabindex = -1 })
                    </span>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-4 text-right">
                        @Html.Label("State")
                        @Html.Label("*", new { style = "color: red;" })
                    </span>
                    <span class="col-md-4">
                        @Html.TextBoxFor(m => m.PropertyAddress.StateCode, new { id = "txtState", title = "State", @readonly = true, @style = "background: #eee", @tabindex = -1 })
                    </span>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-4 text-right">
                        @Html.Label("Zip code")
                        @Html.Label("*", new { style = "color: red;" })
                    </span>
                    <span class="col-md-4">
                        @Html.TextBoxFor(m => m.PropertyAddress.ZIP, new { id = "txtZipCode", title = "Zip code", @readonly = true, @style = "background: #eee" })
                    </span>
                </div>
            </div>

            <div class="container-fluid" style="padding-top: 15px">
                <div class="row">
                    <span class="col-md-4 text-right">
                        @Html.Label("Is the property address listed correctly?")
                    </span>
                    <span class="col-md-1 text-right">
                        <label>Yes</label>
                        <span>
                            @Html.RadioButtonFor(m => m.IsAddressChange, false, new { @id = "rbYes", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;" })
                        </span>
                    </span>
                    <span class="col-md-1 text-right">
                        <label>No</label>
                        <span>
                            @Html.RadioButtonFor(m => m.IsAddressChange, true, new { @id = "rbNo", @class = "rbFakeClass", @style = "width:20px;margin-left:30px;" })
                        </span>
                    </span>
                </div>
            </div>


            <div class="container-fluid" style="padding-top: 15px;display:none">
                <div class="row">
                    <span class="col-md-4 text-right">
                        @Html.Label("Date of Request", new { @class = "required" })
                    </span>
                    <span class="col-md-4">
                        @Html.TextBoxFor(model => model.RequestDate, "{0:MM/dd/yyyy}", new { @id = "requestDate", @class = "datepicker" })
                        @Html.ValidationMessageFor(model => model.RequestDate)
                    </span>
                </div>
            </div>


            <div class="container-fluid" style="padding-top: 15px">
                <div class="row">
                    <span class="col-md-4 text-right">
                        @Html.Label("Requester's Name")
                    </span>
                    <span class="col-md-4">
                        @Html.TextBoxFor(model => model.RequesterName, new { @style = "background: #eee", @readonly = "true" })
                    </span>
                </div>
            </div>

            <div class="container-fluid" style="padding-top: 15px">
                <div class="row">
                    <span class="col-md-4 text-right">
                        @Html.Label("Date of Servicer's Submission")
                    </span>
                    <span class="col-md-4">
                        @Html.TextBoxFor(model => model.ServicerSubmissionDate, "{0:MM/dd/yyyy h:mm tt }", new { @style = "background: #eee", @readonly = "true" })
                    </span>
                </div>
            </div>
            <div class="container-fluid" style="padding-top: 15px">
                <div class="row">
                    <span class="col-md-4 text-right">
                        @Html.Label("Project Action Request Type", new { @class = "required" })
                    </span>
                    <span class="col-md-4">
                        @Html.DropDownListFor(model => model.ProjectActionTypeId, Model.ProjectActionTypeList, "Select Project Action Type", new { @id = "projectActionType" })
                        @Html.ValidationMessageFor(model => model.ProjectActionTypeId)
                        @Html.HiddenFor(model => model.ProjectActionTypeId, new { @id = "txtProjectActionType" })
                    </span>
                </div>
            </div>
            <hr />

            <div class="container-fluid" style="padding-top: 15px">
                @Html.Partial("~/Views/OPAForm/_OPARequestFormUploadCheckList.cshtml", Model)
            </div>

            <div class="container-fluid" style="padding-top: 15px">
                <div class="row">
                    <span class="col-md-4 text-right">
                        @*@Html.Label("Project Action Request Type", new { @class = "required" })*@
                    </span>

                    <span class="col-md-12 ">
                        @Html.Label("*", new { style = "color: red;" })
                        <b> <i> All files attached at the same time must not exceed 1 GB.  Please make sure the files you are attaching are in the accepted format. (.gif, .doc, .docx, .pdf, .xls, .xlsx).</i> </b>
                    </span>
                </div>
            </div>
            <hr />
            <div class="container-fluid" style="padding-top: 15px">
                @Html.Partial("~/Views/OPAForm/_OpaHistory.cshtml", Model)
            </div>

            <hr />




            <div class="container-fluid" style="padding-top: 15px">
                <div class="row">
                    <span class="col-md-4 text-right">
                        @Html.Label("Lender Comments")
                    </span>
                    <span class="col-md-4">
                        @Html.TextAreaFor(m => m.ServicerComments, new { @style = "height:70px;width:300px;", maxlength = "500" })
                    </span>
                </div>
            </div>
            <hr />
            @* User Story 1901
                    <div id="claimer" class="container-fluid">
                    <div class="row">
                        <span class="col-md-2 text-right">
                            @Html.CheckBoxFor(m => m.IsAgreementAccepted, new { @class = "rbFakeClass, required", @style = "width:80px;margin-left:30px;", @checked = "checked" })
                            @Html.ValidationMessageFor(m => m.IsAgreementAccepted)
                        </span>
                        <span class="col-md-10 text-left">
                            <label>
                                I hereby certify that all documents and information will be processed according to the
                                Healthcare Mortgage Insurance Program Handbook No 42321, Section 3, Chapter 3-3.2.
                            </label>
                        </span>

                    </div>

                </div>*@

            <div class="container-fluid">
                <div class="row">
                    <table>
                        <tr>

                            <label id="isAgreementRequiredErrorMessage" style="color:red;margin-left:40px"> * This field is required</label>

                        </tr>
                        <tr>
                            <td>
                                @Html.CheckBoxFor(m => m.IsAgreementAccepted, new { id = "rdIsAgreementAccepted", @class = "rbFakeClass", @style = "width:80px;margin-left:7px;" })
                            </td>
                            <td>

                                <label id="DisclaimerText" class="required">@Html.DisplayFor(m => Model.DisclaimerText)</label>

                            </td>
                        </tr>

                    </table>

                </div>

            </div>
            <hr />

            <div class="container-fluid" style="padding-top: 15px">
                <div class="row">
                    <span class="col-md-4 text-right">


                        <input type="submit" name="submitButton" value="Submit" id="btnSubmit" />
                    </span>
                    <span class="col-md-4 text-right">

                        <input type="submit" name="submitButton" id="btnSave" value="Save" />
                    </span>

                    <span class="col-md-4 text-right">

                        <input type="submit" name="Save\Check In" id="btncheckin" value="Save and Check-in" />
                    </span>
                </div>
            </div>





        }
    </div>


    <script>
        var autocompleteTextBox = $('#ddlFHANumbers');
        var possibleValues = @Html.Raw(Json.Encode(Model.AvailableFHANumbersList));
        var fhaNumberLoaded = "";
    </script>
</section>

<script src="/Scripts/Shared/autocomplete.js"></script>

<script>
    $(document).ready(function () {
 
        if ($('#PropertyId').val() ==0) {        
            $('#txtPropertyId').val("");
        }
        //debugger;
        //  var projectActionSelected = false;
        $('#IsAgreementAccepted').prop('checked', true);
        $("#isAgreementRequiredErrorMessage").hide(); // User Story 1901
        var isAgreementChecked = false;
        //datepicker
        //$('#claimer').hide();//Commented for  User Story 1901

        $('.datepicker').datepicker();

        $('#requestDate').change(function () {
            //  debugger;
            var date = $(this).val();
            var arrDate = date.split("/");
            var today = new Date();
            var minRequestDate = new Date(today.getFullYear()-1, today.getMonth(), today.getDate());
            var userSelectedDate = new Date(arrDate[2], arrDate[0] - 1, arrDate[1]);
            if (userSelectedDate > today) {
                alert('Date must not be in the future.');
                $(this).val('');
            }
            else if(userSelectedDate < minRequestDate) {
                alert('Date of request should not be older than 365 days.');
                $(this).val('');
            }
        });

        $('#projectActionType').change(function() {
            // debugger;
            CheckTransactionExists($('#ddlFHANumbers').val());

        });

       

        // Update PropertyFunction logic moved to a separate function

        function CheckTransactionExists(FHA)
        {
            // debugger;

            var selectedProjectAction = $('#projectActionType').val();
            if (selectedProjectAction != '' || selectedProjectAction != 0) {
                projectActionSelected = true;
                $.ajax({
                    url: '@Url.Action("CheckIfProjectActionExistsForFhaNumber", "OPAForm")',
                    data: { projectActionTypeId: selectedProjectAction, fhaNumber: FHA },
                    type: 'GET',
                    success: function(data) {
                        {

                            if (data == '1' || data == '7' ) {
                                alert("A request has already been submitted for the same selected Project Action Type and same FHA Number");

                                $('#btnSubmit').attr("disabled", true);

                                $('#btnSave').attr("disabled", true);
                                $('#btncheckin').attr("disabled", true);
                                $('#rdIsAgreementAccepted').attr("disabled", true);// User Story 1901
                                $('#rdIsAgreementAccepted').attr("checked", false);// User Story 1901
                                $('.fileClass').attr('disabled',true);

                                return false;
                            } else if (data == '6') {
                                alert("A request has already been started for the selected Project Action Type and FHA Number. Please select a different FHA Number or Project Action Type.  Your request is currently in My Asset Management Group Tasks in draft mode. please submit your request before attempting to proceed with the same FHA number.");
                                $('#btnSubmit').attr("disabled", true);

                                $('#btnSave').attr("disabled", true);
                                $('#btncheckin').attr("disabled", true);
                                $('#rdIsAgreementAccepted').attr("disabled", true);// User Story 1901
                                $('#rdIsAgreementAccepted').attr("checked", false);// User Story 1901
                                $('.fileClass').attr('disabled',true);
                                return false;
                            }

                            else if (data == 'NA') {
                                $("#btnSubmit").removeAttr("disabled");
                                $("#btnSave").removeAttr("disabled");
                                $("#btncheckin").removeAttr("disabled");
                                $("#rdIsAgreementAccepted").removeAttr("disabled");// User Story 1901
                                $('#rdIsAgreementAccepted').attr("checked", false);// User Story 1901
                                $(".fileClass").removeAttr("disabled");

                            }
                        }
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        alert("Error Retrieving Data\nStatus: " + textStatus + "\nError: " + errorThrown);
                    }
                });
            } else {
                //projectActionSelected = false;
                // $("#nextBtn").prop("disabled", false);
            }
        }
        // override autocompleteTextBox.on function
        autocompleteTextBox.on('autocompleteselect', function (event, ui) {
            // debugger;
            searchTextTyped = ui.item.value;
            autocompleteMatch(searchTextTyped, possibleValues);

            updatePropertyInfo(searchTextTyped);
            //debugger;
            CheckTransactionExists(searchTextTyped);
        });

        autocompleteTextBox.bind('blur', function () {
            //debugger;
            updatePropertyInfo($(this).val());
        });

        function updatePropertyInfo(selectedFHANumber) {
            //debugger;
            var selectedProjectAction = $('#projectActionType').val();
            if ($.inArray(selectedFHANumber, possibleValues) != -1) {
                if (fhaNumberLoaded != selectedFHANumber) {
                    $.ajax({
                        url: '@Url.Action("GetPropertyInfo", "OPAForm")',
                        data: { selectedFhaNumber: selectedFHANumber },
                        dataType: 'json',
                        type: 'GET',
                        success: function(data) {
                            //   debugger;

                            if (selectedFHANumber == '-1' || selectedFHANumber == '') {
                                $('#txtPropertyName').val("");
                                $('#txtPropertyId').val("");
                                $('#txtStreetAddress').val("");
                                $('#txtState').val("");
                                $('#txtCity').val("");
                                $('#txtZipCode').val("");
                            } else {
                                $('#txtPropertyName').val(data.PropertyName);
                                $('#txtPropertyId').val(data.PropertyId);
                                $('#PropertyId').val(data.PropertyId);                              
                                $('#txtStreetAddress').val(data.StreetAddress);
                                $('#txtState').val(data.State);
                                $('#txtCity').val(data.City);
                                $('#txtZipCode').val(data.Zipcode);
                            }
                            $('#txtFha').val(selectedFHANumber);
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown) {
                            alert("Error Retrieving Data\nStatus: " + textStatus + "\nError: " + errorThrown);
                        }
                    });
                }
            } else {
                $('#txtPropertyName').val("");
                $('#txtPropertyId').val("");
            }

            fhaNumberLoaded = selectedFHANumber;
        }

        //$('#IsAgreementAccepted').change(function () {
        //    if (this.checked) {
        //        isAgreementChecked = true;
        //        $("#nextBtn").prop("disabled", false);
        //    } else {
        //        $("#nextBtn").prop("disabled", true);
        //        alert("Please accept the disclaimer");
        //        return false;
        //    }
        //});




    });

</script>

<script type="text/javascript">
    function userSelected(target) {

        // debugger;
        $('#Disclaimer').dialog('close');
        if ($(target).val() == 'Certify') {
            $('#Certify').val('TRUE');
            $('#btnSubmit').click();

        }
        return false;
    }
</script>
<script>
    function Removefile(taskFileId, TaskInstanceId) {
        // var groupTaskInstanceId = $('#GroupTaskInstanceId').val();
        // debugger;
        //alert(taskFileId);
        $("#isAgreementRequiredErrorMessage").hide();
        var TaskGuid = $('#TaskGuid').val();
        var lendercomment = $('#txtRAI').val();
        var data = new FormData();
        data.append("TaskGuid", TaskGuid);
        data.append("lendercomment", lendercomment);
        $("#spinner").attr('class', 'overlay');
        $.ajax({
            url: '/OPAForm/OPARemovefile/TaskGuid?=' + TaskGuid,
            data: {
                taskInstanceId: groupTaskInstanceId,
                taskFileId: taskFileId,
                OPAProjectActionViewModel: '@Model',
                TaskGuid: TaskGuid,
                lendercomment: lendercomment


            },
            cache: false,
            type: 'POST',
            success: function (response) {
                // debugger;

                $("#paformreadonly").html("");
                $("#paformreadonly").html(response);
                $("#paform").html("");
                $("#paform").html(response);
                alert('File successfully deleted');
                $("h4:first").html('');


                $("#isAgreementRequiredErrorMessage").hide();




            },
            error: function (xhr) {
                // TODO: alert the user about the error
            }
        });
    }

    function hideColumn(columnIndex) {
        $('.webGrid td:nth-child(' + (columnIndex + 1) + '),th:nth-child(' + (columnIndex + 1) + ')').hide();
    }

    $(document).ready(function () {
        var projectActionSelected = false;
        var Readonly = false;
        $('#divHtml').hide();
        $('#divsubmit').hide();
        $('#Disclaimer').hide();
        $('#IsDrat').val('FALSE');




        $("#butnSave").click(function () {
            //$('#divHtml').hide();
            window.location = "/GroupTask/Index";
        });

        $("#butnSubmit").click(function () {
            //  debugger;
            //$('#divHtml').hide();
            window.location = "/Task/MyTasks";
        });


        $('.fileClass').on('change', function (e) {

             debugger;
            //Validations
            var Size = 0;
            var cnt = this.files.length;
            for (i = 0; i < cnt; i++) {
                Size += this.files[i].size;
            }

            if (Size > 1073741824) {
                //show an alert to the user
                alert("Your Allowed file size exceeded. (Max. 1 GB)")

                //reset file upload control
                return false;
            }


            //var chkListId = $(this).attr("checklistid");

            //$.each(data.files, function (index, file) {
            //    $('#txt_' + chkListId).text(file.name);
            //    $('#txt_' + chkListId).val(file.name);
            //});
            for (i = 0; i < cnt; i++) {
                var uploadFile = this.files[i];
                if (!(/\.(gif|doc|DOC|DOCX|xls|xlsx|XLS|XLSX|pdf|PDF)$/i).test(uploadFile.name)) {
                    alert('The file is not in the expected format. Please make sure the file you are attaching is in accepted format gif,doc,docx,pdf,xls,xlsx.');
                    return false;
                }

            }
            var files = e.target.files;
            //debugger;
            var fhaNumber = $('#ddlFHANumbers').val();
            var PropertyName = $('#txtPropertyName').val();
            var PropertyId = $('#PropertyId').val();
           // $('#txtPropertyId').value(PropertyId);
            var requestDate = $('#requestDate').val();
            var RequesterName = $('#RequesterName').val();
            var ServicerSubmissionDate = $('#ServicerSubmissionDate').val();
            var ProjectActionTypeId = $('#projectActionType').val();
            var ServicerComments = $('#ServicerComments').val();
            var GroupTaskId = $('#GroupTaskId').val();
            // var Mode = $('#Mode').val();
            var RequestStatus = $('#RequestStatus').val();
            var IsViewFromGroupTask = $('#IsViewFromGroupTask').val();
            var DisclaimerText = $('#DisclaimerText').val();// User Story 1901

            if($('#rbYes').is(':checked'))
            {

                $('#IsAddressChange').val("TRUE")


            }
            else
            {

                $('#IsAddressChange').val("FALSE")
            }

            if ($('#IsAgreementAccepted').is(':checked')) {
                var disclaimer="TRUE";
            }
            else
            {
                var disclaimer="FALSE";
            }
            if($('#rbYes').is(':checked'))
            {
                var addressschanged="TRUE";

            }
            else
            {
                var addressschanged="FALSE";
            }



            //var myID = 3; //uncomment this to make sure the ajax URL works
            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    var data = new FormData();
                    for (var x = 0; x < files.length; x++) {
                        data.append("file" + x, files[x]);
                    }

                    data.append("FHA", fhaNumber);
                    data.append("IsViewFromGroupTask", IsViewFromGroupTask);
                    data.append("PropertyName", PropertyName);
                    data.append("PropertyId", PropertyId);
                    data.append("requestDate", requestDate);
                    data.append("RequesterName", RequesterName);

                    data.append("ServicerSubmissionDate", ServicerSubmissionDate);
                    data.append("ProjectActionTypeId", ProjectActionTypeId);
                    data.append("ServicerComments", ServicerComments);
                    data.append("GroupTaskId", GroupTaskId);
                    data.append("IsViewFromGroupTask", IsViewFromGroupTask);
                    data.append("RequestStatus", RequestStatus);
                    data.append("disclaimer", disclaimer);
                    data.append("addressschanged",addressschanged);
                    data.append("DisclaimerText",DisclaimerText)// User Story 1901


                    $("#spinner").attr('class', 'overlay');
                    $.ajax({

                        type: "POST",
                        url: '/OPAForm/UploadFile?Taskid=@Model.GroupTaskId',
                        contentType: false,
                        processData: false,
                        cache: false,
                        data: data,
                        success: function (result) {
                            //  debugger;
                            $("#paform").html("");
                            $("#paform").html(result);
                            $("#paformreadonly").html("");
                            $("#paformreadonly").html(result);

                            $('#ddlFHANumbers').attr('readonly', true);
                            $("#ddlFHANumbers").css("background-color", "#eee");
                            $('#projectActionType').attr('disabled', true);
                            $('#projectActionType').attr('readonly', true);
                            $("#projectActionType").css("background-color", "#eee");

                            var addressschanged = $('#IsAddressChange').val();

                            if(addressschanged.toUpperCase()=='TRUE')
                            {
                                $('#rbYes').attr('checked',true);
                                $('#rbNo').attr('checked',false);

                            }
                            else
                            {
                                $('#rbYes').attr('checked',false);
                                $('#rbNo').attr('checked',true);
                            }
                            $('#IsDrat').val('TRUE');

                            Readonly = true;
                        },
                        error: function (xhr, status, p3, p4) {
                            var err = "Error " + " " + status + " " + p3 + " " + p4;
                            if (xhr.responseText && xhr.responseText[0] == "{")
                                err = JSON.parse(xhr.responseText).Message;
                            console.log(err);
                        }
                    });
                } else {
                    alert("This browser doesn't support HTML5 file uploads!");
                }
            }
        });


        $(".fileClass").click(function () {
           // debugger;
            projectActionSelected = false;
            var selectedProjectAction = $('#projectActionType').val();
            if (selectedProjectAction != '' || selectedProjectAction != 0) {
                projectActionSelected = true;
            }
            var IsDrat = $('#IsDrat').val();


            //  alert(status);
            if (IsDrat.toUpperCase() == 'FALSE')
            {
               // debugger;
                // $('#FhaNumber').removeAttr('readonly');
                if ($('#FhaNumber').val() == '') {
                    alert("Please select an FHA Number");
                    autocompleteTextBox.focus();
                    return false;
                } else if ($.inArray(autocompleteTextBox.val(), possibleValues) == -1) {
                    alert("Please select an FHA Number");
                    autocompleteTextBox.focus();
                    return false;
                } else if ($('#requestDate').val() == '') {
                    alert("Please enter Request Date");
                    $('#requestDate').focus();
                    return false;
                } else if (projectActionSelected == false) {
                    alert("Please select Project Action Type");
                    $('#projectActionType').focus();
                    return false;
                }
            }





        });

        $('#btnSave').click(function () {
            // debugger;
            var selectedProjectAction = $('#projectActionType').val();
            if (selectedProjectAction != '' || selectedProjectAction != 0) {
                projectActionSelected = true;
            }
            var RequestStatus = $('#RequestStatus').val();

            var IsDrat = $('#IsDrat').val();


            //  alert(status);
            if (IsDrat.toUpperCase()=='FALSE')
            {
                // $('#FhaNumber').removeAttr('readonly');
                if ($('#ddlFHANumbers').val() == '') {
                    alert("Please select an FHA Number");
                    autocompleteTextBox.focus();
                    return false;
                } else if ($('#requestDate').val() == '') {
                    alert("Please enter Request Date");
                    $('#requestDate').focus();
                    return false;
                } else if (projectActionSelected == false) {
                    alert("Please select Project Action Type");
                    $('#projectActionType').focus();
                    return false;
                }
            }
            var title = $(this).attr("value");
            Post(title);

        });

        $('#btncheckin').click(function () {
            //  debugger;
            var selectedProjectAction = $('#projectActionType').val();
            if (selectedProjectAction != '' || selectedProjectAction != 0) {
                projectActionSelected = true;
            }
            var IsDrat = $('#IsDrat').val();


            //  alert(status);
            if (IsDrat.toUpperCase()=='FALSE')
            {
                // $('#FhaNumber').removeAttr('readonly');
                if ($('#ddlFHANumbers').val() == '') {
                    alert("Please select an FHA Number");
                    autocompleteTextBox.focus();
                    return false;
                }  else if ($('#requestDate').val() == '') {
                    alert("Please enter Request Date");
                    $('#requestDate').focus();
                    return false;
                } else if (projectActionSelected == false) {
                    alert("Please select Project Action Type");
                    $('#projectActionType').focus();
                    return false;
                }
            }
            var title = $(this).attr("value");
            Post(title);

        });
        // User Story 1901
        function  validateFormData()
        {
           // debugger;
            projectActionSelected = false;
            var selectedProjectAction = $('#projectActionType').val();
            if (selectedProjectAction != '' || selectedProjectAction != 0) {
                projectActionSelected = true;
            }
            var RequestStatus = $('#RequestStatus').val();

            // $('#FhaNumber').removeAttr('readonly');
            if ($('#ddlFHANumbers').val() == '') {
                alert("Please select an FHA Number");
                autocompleteTextBox.focus();
                return false;
            }  else if ($('#requestDate').val() == '') {
                alert("Please enter Request Date");
                $('#requestDate').focus();
                return false;
            } else if (projectActionSelected == false) {
                alert("Please select Project Action Type");
                $('#projectActionType').focus();
                return false;
            }
            else
            {
                return true;
            }
        }
        // User Story 1901
        $('#rdIsAgreementAccepted').change(function() {
            $("#isAgreementRequiredErrorMessage").hide();

            if (this.checked) {
                //if ($('#btnSubmit').click()) {
                //    if (IsValidationSuccess) {
                //        $(this).prop('disabled', true);
                //        $('#IsSubmitMode').val(true);
                //    } else {
                //        $(this).prop('checked', false);
                //        $(this).prop('disabled', false);
                //    }
                //    return false;
                //}


                if (!validateFormData()) {
                    $('#isAgreementAccepted').val(false);
                    $(this).prop('checked', false);
                    $(this).prop('disabled', false);
                    return false;
                }
                else
                {
                    $('#isAgreementAccepted').val('True');
                    $(this).prop('checked', true);
                    $(this).prop('disabled', true);
                }
            }
            else
            {
                $('#isAgreementAccepted').val(false);
                $(this).prop('checked', false);
                $(this).prop('disabled', false);
                return false;
            }
        });

        //$(".updateableFields").change(function() {
        //    //debugger;
        //    //User Story 1901
        //    resetIsAgreementAccepted();
        //});
        // User Story 1901
        $('#btnSubmit').click(function () {
            // debugger;

            //var selectedProjectAction = $('#projectActionType').val();
            //if (selectedProjectAction != '' || selectedProjectAction != 0) {
            //    projectActionSelected = true;
            //}
            //var RequestStatus = $('#RequestStatus').val();

            var IsDrat = $('#IsDrat').val();


            //  alert(status);
            if (IsDrat.toUpperCase()=='FALSE')
            {
                //// $('#FhaNumber').removeAttr('readonly');
                //if ($('#ddlFHANumbers').val() == '') {
                //    alert("Please select an FHA Number");
                //    autocompleteTextBox.focus();
                //    return false;
                //}  else if ($('#requestDate').val() == '') {
                //    alert("Please enter Request Date");
                //    $('#requestDate').focus();
                //    return false;
                //} else if (projectActionSelected == false) {
                //    alert("Please select Project Action Type");
                //    $('#projectActionType').focus();
                //    return false;
                //}
                if(!validateFormData())
                {
                    return false;
                }
            }
            // debugger;
            // User Story 1901
            if($('#rdIsAgreementAccepted').prop('checked'))
            {//debugger;
                var title = $(this).attr("value");
                var groupTaskId = '@Model.GroupTaskId';
                if (groupTaskId === "") {
                    alert("Please attach file(s) before you submit the application");
                } else {
                    
                    $.ajax({
                        type: "POST",
                        url: '/OPAForm/CheckIfFileExistsByGroupTaskId/',
                        data: {grouptaskId: '@Model.GroupTaskId'},
                        success: function (result) {
                            debugger;
                          if (result === "success") {
                              Post(title);
                          } else {
                              alert("Please attach file(s) before you submit the application");
                              return false;
                          }
                        },
                        error: function (xhr, status, p3, p4) {
                            var err = "Error " + " " + status + " " + p3 + " " + p4;
                            if (xhr.responseText && xhr.responseText[0] == "{")
                                err = JSON.parse(xhr.responseText).Message;
                            console.log(err);
                        }
                    });
                    
                }
                
            }
            else
            {
                $("#isAgreementRequiredErrorMessage").show();
                $("#rdIsAgreementAccepted").focus();
            }
            //Commented for  User Story 1901
            //if ($('#Certify').val()=='TRUE') {

            //    var title = $(this).attr("value");
            //    Post(title);

            //}
            //else
            //{
            //    $('#Disclaimer').show();
            //    $(function () {
            //        $("#Disclaimer").dialog({
            //            modal: true,
            //            height: '300',
            //            width: '720',

            //        });
            //    });

            //}


        });




        function Post(name) {

            //  debugger;
            var fhaNumber = $('#ddlFHANumbers').val();
            var PropertyName = $('#txtPropertyName').val();
            var PropertyId = $('#PropertyId').val();
            var requestDate = $('#requestDate').val();
            var RequesterName = $('#RequesterName').val();
            var ServicerSubmissionDate = $('#ServicerSubmissionDate').val();
            var ProjectActionTypeId = $('#projectActionType').val();
            var ServicerComments = $('#ServicerComments').val();
            var GroupTaskId = $('#GroupTaskId').val();
            var Mode = $('#Mode').val();
            var RequestStatus = $('#RequestStatus').val();
            var IsViewFromGroupTask = $('#IsViewFromGroupTask').val();

            if ($('#IsAgreementAccepted').is(':checked')) {
                var disclaimer="TRUE";
            }
            else
            {
                var disclaimer="FALSE";
            }

            if($('#rbYes').is(':checked'))
            {
                var addressschanged="TRUE";

            }
            else
            {
                var addressschanged="FALSE";
            }


            var data = new FormData();

            data.append("FHA", fhaNumber);
            data.append("PropertyName", PropertyName);
            data.append("PropertyId", PropertyId);
            data.append("requestDate", requestDate);
            data.append("RequesterName", RequesterName);
            data.append("addressschanged",addressschanged)

            data.append("ServicerSubmissionDate", ServicerSubmissionDate);
            data.append("ProjectActionTypeId", ProjectActionTypeId);
            data.append("ServicerComments", ServicerComments);
            data.append("GroupTaskId", GroupTaskId);
            data.append("Mode", Mode);
            data.append("RequestStatus", RequestStatus);
            data.append("IsViewFromGroupTask", IsViewFromGroupTask);
            data.append("disclaimer", disclaimer);

            $("#spinner").attr('class', 'overlay');
            if ($('#OPAprojectActionFrm').valid()) {
                $.ajax({
                    type: "POST",
                    url: '/OPAForm/Facade/submitButton?=@Model.GroupTaskId' + ','+name ,
                    contentType: false,
                    processData: false,
                    cache: false,
                    data: data,
                    success: function (result) {
                        //     debugger;
                        //alert('Your OPA Form Saved Successfully')



                        if (name == "Submit")
                        {

                            $('#divsubmit').show();
                            $(function () {
                                //   debugger;
                                $("#divsubmit").dialog({
                                    modal: true,
                                    height: '220',
                                    width: '380',
                                });
                            });
                            //debugger;
                            // window.location = "/Task/MyTasks";
                        }
                        else  if (name == "Save" || name == "Save and Check-in")
                        {

                            $('#divHtml').show();
                            $(function () {
                                $("#divHtml").dialog({
                                    modal: true,
                                    height: '220',
                                    width: '380',

                                });
                            });
                        }


                        //                     $("#divHtml").load("OPA/SubmitPopup",
                        //                     function () {
                        //                         $("#divHtml").dialog({
                        //                             modal: true,
                        //                             //buttons: {
                        //                             //    Ok: function () {
                        //                             //        $(this).dialog("close");
                        //                             //    }
                        //                             //}
                        //                         });
                        //                     }
                        //);

                        Readonly = true;
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        console.log(err);
                    }
                });
            } else {
                onErrors(event, $('#OPAprojectActionFrm').data('validator'));
            }

        }





    });

    function uploadFile()
    {
        //   debugger;

    }

    function Removefile(taskFileId, groupTaskInstanceId) {
        //  debugger;

        var IsViewFromGroupTask = $('#IsViewFromGroupTask').val();
        var data = new FormData();
        data.append("IsViewFromGroupTask", IsViewFromGroupTask);
        var ServicerComments = $('#ServicerComments').val();


        data.append("ServicerComments", ServicerComments);

        if($('#rbYes').is(':checked'))
        {
            addressschanged="TRUE"
            $('#IsAddressChange').val("TRUE")


        }
        else
        {
            addressschanged="FALSE"
            $('#IsAddressChange').val("FALSE")
        }
        var fhaNumber = $('#ddlFHANumbers').val();
        // data.append("addressschanged",addressschanged)
        $("#spinner").attr('class', 'overlay');
        $.ajax({
            url: '/OPAForm/OPADeleteGroupTaskFile/GroupTaskId?=@Model.GroupTaskId',
            data: {
                taskInstanceId: groupTaskInstanceId,
                taskFileId: taskFileId,
                OPAProjectActionViewModel: '@Model',
                IsViewFromGroupTask: IsViewFromGroupTask,
                fhaNumber:fhaNumber,
                ServicerComments:ServicerComments,
                addressschanged:addressschanged

            },
            cache: false,
            type: 'POST',
            success: function (response) {
                //   debugger;



                $("#paformreadonly").html("");
                $("#paformreadonly").html(response);
                $("#paform").html("");
                $("#paform").html(response);
                $('#ddlFHANumbers').attr('readonly', true);
                $("#ddlFHANumbers").css("background-color", "#eee");
                $('#projectActionType').attr('disabled', true);
                $('#projectActionType').attr('readonly', true);
                $("#projectActionType").css("background-color", "#eee");

                $('#IsDrat').val("TRUE")
                var addressschanged = $('#IsAddressChange').val();

                if(addressschanged.toUpperCase()=='TRUE')
                {
                    $('#rbYes').attr('checked',true);
                    $('#rbNo').attr('checked',false);

                }
                else
                {
                    $('#rbYes').attr('checked',false);
                    $('#rbNo').attr('checked',true);
                }

                alert('File successfully deleted');


                //$("remove_" + taskFileId).hide();
                //$("#spinner").hide();

                //$('#ddlFHANumbers').attr('readonly', true);
                //$("#ddlFHANumbers").css("background-color", "#eee");
                //$('#requestDate').attr('readonly', true);
                //$("#requestDate").css("background-color", "#eee");


                //$('#projectActionType').attr('readonly', true);
                //$("#projectActionType").css("background-color", "#eee");






            },
            error: function (xhr) {
                // TODO: alert the user about the error
            }
        });
    }

</script>