﻿@model FormUploadModel
@{
    ViewBag.Title = "Servicer/Operator Data Input Form";
}
<link href="../../Content/formUpload.css" rel="stylesheet">
<style type="text/css">
    ul.ui-autocomplete {
        list-style: none;
        list-style-type: none;
        padding: 2px;
        margin: 0px;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 20px;
    }

    span.error {
        color: #e80c4d;
        font-weight: bold;
    }
</style>

<section id="formUpload" style="width: 1200px; height: 1150px;">
    <h4 style="text-align: center;"><b>Servicer/Operator Data Input Form</b></h4>
    @if (Session["Confirmation"] != null)
    {
        <h2 class="HCP_Sub_Header_Red" id="uploadError" style="text-align: center; font-weight: bold; color: #e80c4d;">
            @Html.Raw(Session["Confirmation"].ToString())
        </h2>
        Session["Confirmation"] = null;
    }
    <div id="dialogCommon"></div>
    <div id="dialogConfirm"></div>
    <input type="hidden" id="hfAgreementAccepted" />
    @using (Html.BeginForm("SubmitUpload", "FormUpload", FormMethod.Post, new { enctype = "multipart/form-data", style = "margin:auto;", onsubmit = "RemoveCommasFromNumericBoxes()" }))
    {
        @Html.CustomValidationSummary()
        @Html.HiddenFor(m => m.Concurrency, new { id = "Concurrency" })
        @Html.HiddenFor(m => m.TaskGuid, new { id = "TaskGuid" })
        @Html.HiddenFor(m => m.SequenceId, new { id = "SequenceId" })
        @Html.HiddenFor(m => m.AssignedBy, new { id = "AssignedBy" })
        @Html.HiddenFor(m => m.IsReadyToSubmitUpload, new { id = "hfIsReadyToUpload" })
        @Html.HiddenFor(m => m.IsUploadTermConfirmed, new { id = "hfIsUploadTermConfirmed" })
        @Html.HiddenFor(m => m.FullyQualifiedFileName, new { id = "FullyQualifiedFileName" })
        <div class="container-fluid">
            <div class="row">
                <h4>
                    <span>
                        @Html.Label("GENERAL INPUT")
                    </span>
                </h4>
            </div>
        </div>
        <div class="container-fluid">
            <div id="dvLenders">
                <span class="col-md-4 text-right">
                    @Html.Label("Select Lender")
                </span>
                <span class="col-md-4" style="margin-left: -5px;">
                    @Html.DropDownListFor(m => m.SelectedLenderUserId, Model.AvailableLenderUsers, "Select Lender User", new { id = "ddlLenderUsers" })
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("FHA Number")
                </span>
                <span class="col-md-4">
                    <input type="text" id="ddlFHANumbers" value="@Model.FHANumber" />
                    @Html.HiddenFor(m => m.FHANumber, new { id = "fhatxt" })
                    @Html.CheckBoxFor(m => m.IsFhaValid, new { id = "ckbIsFhaValid", @class = "hidden" })
                </span>
            </div>
        </div>
        <span id="pend-loading" style="display: none;">Please wait..</span>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.LabelFor(m => m.ProjectName)
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.ProjectName, new { id = "txtProject", title = "Project Name", @tabindex = -1, @style = "background: #eee", @readonly = "true" })
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.LabelFor(m => m.ServiceName)
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.SelectedLenderName, new { id = "txtLenderName", title = "Servicer Name", @tabindex = -1, @style = "background: #eee", @readonly = "true" })
                    @Html.ValidationMessageFor(m => m.ServiceName)
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Servicer ID")
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.LenderID, new { id = "txtLender", title = "Servicer ID", @tabindex = -1, @style = "background: #eee", @readonly = "true" })
                    @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Content/images/dict.png", Html.ViewContext.HttpContext), "Help", "Glossary", "Home", null, new { target = "_glossary" }, null, "servicer_id")
                    @Html.ValidationMessageFor(m => m.LenderID)
                </span>
            </div>
        </div>
        <hr />
        <div class="container-fluid">
        <div class="row">
            <h4>
                <span>
                    @Html.Label("OPERATOR INPUT")
                </span>
            </h4>
        </div>
    </div>

        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Period Ending")
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.PeriodEnding, new { @class = "datepicker", id = "datePicker", title = "Enter fiscal period end date", style = "width:300px;" })
                    @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Content/images/dict.png", Html.ViewContext.HttpContext), "Help", "Glossary", "Home", null, new { target = "_glossary" }, null, "period_ending")
                    @Html.ValidationMessageFor(m => m.PeriodEnding)
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Months in Period")
                </span>
                <span class="col-md-4">
                    @Html.DropDownListFor(m => m.MonthsInPeriod, Model.AllMonthsInPeriod, "Select Months In Period")
                    @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Content/images/dict.png", Html.ViewContext.HttpContext), "Help", "Glossary", "Home", null, new { target = "_glossary" }, null, "months_in_period")
                    <br />
                    @Html.ValidationMessageFor(m => m.MonthsInPeriod)
                </span>
            </div>
        </div>
        
        if (Model.TaskFileName != null)
        {
            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-4 text-right">
                        @Html.Label("Supporting File")
                    </span>
                    <span class="col-md-4">
                        @Html.ActionLink(Model.TaskFileName, "DownloadTaskFile", new { taskInstanceId = Model.TaskGuid })
                    </span>
                </div>
            </div>
        }
        <div class="container-fluid">
            <div class="row">
                <div id="statusFill">
                </div>
                <span class="col-md-4 text-right">
                    @Html.LabelFor(m => m.BaseFileName, "Attach File")
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.BaseFileName, new { title = "" })
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div id="row">
                <span class="col-md-4 text-right"></span>
                <span class="col-md-4">
                    <i class="HCP_Tr2">**Please Note:  For each submission, one file pertaining to a single Property/FHA Number will be accepted.  The file must have one of the following file extensions: .pdf, .doc, .docx, xls, or .xlsx**</i>
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div id="row">
                <span class="col-md-4 text-right"></span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.UploadFile, new { type = "file" })
                    @Html.LabelFor(m => m.UploadFile, "Attach File", new { id = "UploadFile" })
                    <button type="button" id="btnClearUploadFile" name="clearUploadFile">Remove File</button>
                </span>
            </div>
        </div>
        <br />
       
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Total Revenues")
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.TotalRevenues, new { title = "Provide the sum of operating revenue and non operating revenue", @class = "number" })
                    @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Content/images/dict.png", Html.ViewContext.HttpContext), "Help", "Glossary", "Home", null, new { target = "_glossary" }, null, "total_revenues")
                    <br />
                    @Html.ValidationMessageFor(m => m.TotalRevenues)
                </span>
            </div>
        </div>
       
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Total Operating Expenses")
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.TotalExpenses, new { title = "Provide total expense amount for facility", @class = "number" })
                    @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Content/images/dict.png", Html.ViewContext.HttpContext), "Help", "Glossary", "Home", null, new { target = "_glossary" }, null, "total_expenses")
                    <br />
                    @Html.ValidationMessageFor(m => m.TotalExpenses)
                </span>
            </div>
        </div>
       

        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Actual Number Of Resident Days")
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.ActualNumberOfResidentDays, new { title = "Provide Actual Number Of Resident Days", @class = "number" })
                    @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Content/images/dict.png", Html.ViewContext.HttpContext), "Help", "Glossary", "Home", null, new { target = "_glossary" }, null, "actual_umber_of_resident_days")
                    <br />
                    @Html.ValidationMessageFor(m => m.ActualNumberOfResidentDays)
                </span>
            </div>
        </div>
        
        <hr />
        <div class="container-fluid">
            <div class="row">
                <h4>
                    <span>
                        @Html.Label("LENDER INPUT")
                    </span>
                </h4>
            </div>
        </div>
       

    <div class="container-fluid">
        <div class="row">
            <span class="col-md-4 text-right">
                @Html.Label("FHA Insured Principal & Interest Payment")
            </span>
            <span class="col-md-4">
                @Html.TextBoxFor(m => m.FHAInsuredPrincipalInterestPayment, new { title = "Provide total FHA Principal & Interest paid in financial reporting period", @class = "number" })
                @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Content/images/dict.png", Html.ViewContext.HttpContext), "Help", "Glossary", "Home", null, new { target = "_glossary" }, null, "fha_insured_principal_interest_payment")
                <br />
                @Html.ValidationMessageFor(m => m.FHAInsuredPrincipalInterestPayment)
            </span>
        </div>
    </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("FHA Mortgage Insurance Premium")
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.MortgageInsurancePremium, new { title = "Provide total FHA Premium paid in financial reporting period", @class = "number" })
                    @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Content/images/dict.png", Html.ViewContext.HttpContext), "Help", "Glossary", "Home", null, new { target = "_glossary" }, null, "fha_mortgage_insurance_premium")
                    <br />
                    @Html.ValidationMessageFor(m => m.MortgageInsurancePremium)
                </span>
            </div>
        </div>
       

        <hr />
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-2 text-right">
                </span>
                <span class="col-md-4">
                    @Html.RadioButtonFor(model => model.IsSubmitMode, true, new { id = "rbSubmit", @class = "rbFakeClass", @style = "width:80px;margin-left:30px;" })
                    <label for="rbSubmit" style="margin-left: -110px;">Submit</label>
                    @Html.RadioButtonFor(model => model.IsSubmitMode, false, new { id = "rbUpload", @class = "rbFakeClass", style = "width:80px;margin-left:150px;" })
                    <label for="rbUpload" style="margin-left: -110px;">Upload</label>
                    @Html.ValidationMessage("IsSubmitMode")
                </span>
            </div>
            <div id="dvSubmit" class="row" style="margin-top: 15px;">
                <span class="col-md-2 text-right">
                </span>
                <span class="col-md-1">
                    <input type="submit" value="Submit" id="btnSubmit" name="submitButton" />
                    @Html.Hidden("RedirectToMyTasks", Url.Action("MyTasks", "Task"))
                </span>
                @if (!string.IsNullOrEmpty(Model.Notes))
                {
                    <span class="col-md-1 text-right">
                        @Html.Label("Notes")
                    </span>
                    <span class="col-md-3" style="margin-left: -20px;">
                        @Html.TextAreaFor(m => m.Notes, new { @style = "height:70px;width:300px;", maxlength = "256", @readonly = "readonly" })
                    </span>
                }
                <span class="col-md-1 text-right" style="margin-left: 40px;">
                    @Html.Label("Notes to Lender")
                </span>
                <span class="col-md-3" style="margin-left: -20px;">
                    @Html.TextAreaFor(m => m.NewNotes, new { @style = "height:70px;width:300px;", maxlength = "256" })
                </span>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <span id="Submittxt">

                        <i class="HCP_Tr2">**Used by Servicers to receive or request financial information from its Operators.  No information is sent to HUD during this process. **</i>
                    </span>
                    <span id="Uploadttxt">

                        <i class="HCP_Tr2">**Used to submit financial information and /or documentation to HUD. **</i>
                    </span>
                </div>
            </div>
            <div id="dvUpload" class="row" style="margin-top: 25px;">
                <span class="col-md-2 text-right">
                </span>
                <span class="col-md-4">
                    <input type="submit" value="Upload" id="btnUpload" name="submitButton" />
                </span>
            </div>
        </div>
    }
</section>

<script type="text/javascript">
    var autocompleteTextBox = $('#ddlFHANumbers');
    var possibleValues = @Html.Raw(Json.Encode(Model.AvailableFHANumbersList));
    var selectOpFirstTxt = 'Select an Operator with FHA Numbers';
</script>
<script src="/Scripts/Shared/autocomplete.js"></script>
<script type="text/javascript">
    // jquery hide is not fast enough, use javascript style hide to avoid flash
    if (null != document.getElementById("spInvalidFha")) {
        document.getElementById("spInvalidFha").style.display = 'none';
    }

    $(document).ready(function() {
        $('#Uploadttxt').hide();
        
        if (typeof possibleValues === 'undefined' || !possibleValues || possibleValues == '') {
            possibleValues = [selectOpFirstTxt];
            autocompleteTextBox.val(possibleValues[0]);
        } else {
            autocompleteTextBox.val(selectFHATxt);
        }
        
        if('@Model.IsSubmitMode'.toUpperCase()=='TRUE')
        {
            autocompleteTextBox.val($("#fhatxt").val());
        }

        $("#dialogConfirm").dialog({
            title: '@TempData["Title"]',
            autoOpen: '@TempData["bAutoOpen"]' == "True" ? true : false,
            autoOpen: false,
            resizable: '@TempData["bResizable"]' == "True" ? true : false,
            height: '@TempData["winHeight"]',
            width: '@TempData["winWidth"]',
            show: { effect: 'fade' },
            modal: true,
            draggable: '@TempData["bDraggable"]' == "True" ? true : false,
            closeOnEscape: false,
            close: function(event, ui) {
                $(this).dialog("close");
            },
            open: function(event, ui) {
                $(this).load('@TempData["sLoadUrl"]', { id: g_modal_paramId });
                if ('@TempData["bShowCloseBtn"]' == "False")
                    $(".ui-dialog-titlebar-close").hide();
            },
        });

        if ('@ViewBag.IsReadyToSubmitUpload' == 'True') {
            if ($('#hfAgreementAccepted').val() != 'true')
                $('#dialogCommon').dialog('open');
        }

        $('.datepicker').datepicker();

        $('#datePicker').change(function() {
            var date = $(this).val();
            var arrDate = date.split("/");
            var today = new Date();
            var userSelectedDate = new Date(arrDate[2], arrDate[0] - 1, arrDate[1]);

            if (userSelectedDate > today) {
                alert('Date must not be in the future.');
                $(this).val('');
            }
        });

        $("#UploadFile").change(function () {
            var formAttachmentFileTypes = '@TempData["FormAttachmentFileTypes"]';
            formHelper.checkFileType(formAttachmentFileTypes);
        });

        $("#btnClearUploadFile").click(function() {
            $('#UploadFile').val(null);
            $('#BaseFileName').val(null);
            $('#FullyQualifiedFileName').val(null);
            document.getElementById('BaseFileName').title = "";
        });

        $("#btnSubmit").click(function () {
            if (!$('#TaskGuid').val() && !$('#ckbIsFhaValid').prop('checked') && $.inArray(autocompleteTextBox.val(), possibleValues) == -1) {
                alert("Please enter a valid FHA Number.");
                return false;
            }
            if ($('#ddlLenderUsers').prop('selectedIndex') == 0) {
                alert("Please select a Lender.");
                return false;
            }
        });

        $("#btnUpload").click(function () {
            if (!$('#TaskGuid').val() && !$('#ckbIsFhaValid').prop('checked') && $.inArray(autocompleteTextBox.val(), possibleValues) == -1) {
                alert("Please enter a valid FHA Number.");
                return false;
            }
        });

        // radio button toggles task mode (submit or upload)
        if ($("#rbSubmit").attr("checked")) {
            $('#dvSubmit').show();
            $('#dvUpload').hide();
            $('#dvLenders').show();
        } else {
            $('#dvSubmit').hide();
            $('#dvUpload').show();
            $('#dvLenders').hide();
        }

        $('#rbSubmit').click(function () {
            if ($(this).is(':checked')) {
                $('#Uploadttxt').hide();
                $('#Submittxt').show();
            }
        });

        $('#rbUpload').click(function () {
            if ($(this).is(':checked')) {
                $('#Uploadttxt').show();
                $('#Submittxt').hide();
            }
        });

        function updateProjectInfoText(project, lendername, lenderid) {
            $('#txtProject').val(project);
            $('#txtLenderName').val(lendername);
            $('#txtLender').val(lenderid);
        };

        function updateProjectInfo(selectedValue) {
            $('#fhatxt').val(selectedValue);
            if ($.inArray(selectedValue, possibleValues) != -1) {
                if (fhaNumberLoaded != selectedValue && selectedValue != selectOpFirstTxt) {
                    $.ajax({
                        url: '@Url.Action("ValidateFhaNumber", "FormUpload")',
                        data: { searchText: selectedValue, maxResults: 20 },
                        dataType: 'json',
                        contentType: "application/json; charset=utf-8",
                        type: 'GET',
                        success: function (data) {
                            if (selectedValue == '') {
                                $('#ckbIsFhaValid').prop('checked', false);
                                updateProjectInfoText('',$('#txtLenderName').val(),'');
                            } else {
                                $('#ckbIsFhaValid').prop('checked', true);
                                $.each(data, function () {
                                    updateProjectInfoText(this.ProjectName, this.LenderName, this.LenderId);
                                });
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert("Error Retrieving Data\nStatus: " + textStatus + "\nError: " + errorThrown);
                        }
                    });
                }
            } else {
                $('#ckbIsFhaValid').prop('checked', false);
                updateProjectInfoText('','','');
            }
            fhaNumberLoaded = selectedValue;
        };

        function populateFHANumberDDL(callValue) {
            //var useridvalue = $('#ddlOperators').val();
            var useridvalue = $('#ddlLenderUsers').val();
           // debugger;
            $.ajax({
                url: '@Url.Action("GetFhaNumbers", "FormUpload")',
                data: { userid: useridvalue },
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    possibleValues = [];
                    $.each(data, function() {
                        possibleValues.push(this.Value);
                    });

                    if (callValue == "submit" || callValue == "upload") {
                        if ($('#fhatxt').val() == '') {
                            autocompleteTextBox.val('@Model.FHANumber');
                        } else {
                            autocompleteTextBox.val($('#fhatxt').val());
                        }
                    }
                    else {
                        if (possibleValues.length == 0) {
                            possibleValues.push(selectOpFirstTxt);
                            autocompleteTextBox.val(selectOpFirstTxt);
                        } else {
                            autocompleteTextBox.val(selectFHATxt);
                        }
                        updateProjectInfoText('',$('#txtLenderName').val(),'');
                    }

                    fhaNumberLoaded = fhaNumberLoaded + '_';
                    updateProjectInfo(autocompleteTextBox.val());
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert("Error Retrieving Data\nStatus: " + textStatus + "\nError: " + errorThrown);
                }
            });
        };

        $(".rbFakeClass").change(function() {
            if ($("#rbSubmit").attr("checked")) {
                $('#dvSubmit').show();
                $('#dvUpload').hide();
                $('#dvLenders').show();
                populateFHANumberDDL("submit");
                return false;
            } else {
                $('#dvSubmit').hide();
                $('#dvUpload').show();
                $('#dvLenders').hide();
                populateFHANumberDDL("upload");
                return false;
            }
        });

        $('#ddlLenderUsers').change(function() {
            populateFHANumberDDL("select");
            return false;
        });

        // override autocompleteTextBox.on function
        autocompleteTextBox.on('autocompleteselect', function(event, ui) {
            searchTextTyped = ui.item.value;
            autocompleteMatch(searchTextTyped, possibleValues);

            updateProjectInfo(searchTextTyped);
        });

        autocompleteTextBox.bind('blur', function() {
            if ($(this).val() == "") {
                $(this).val(selectFHATxt);
            }
            updateProjectInfo($(this).val());
        });
    });
</script>
<script src="~/Scripts/App/Helpers/faForm.js"></script>