﻿@{
    ViewBag.Title = "Landing";
}
<link href="~/Content/sliding-carousel.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/jquery-slidingCarousel.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var carousel = $("#carousel").slidingCarousel({
            squeeze: 100
        });
    });
</script>

<div align="left" style="position:absolute;top:30px; background-color: AliceBlue; width:100%;">
    <span style='font-size:14.0pt;font-family:Broadway;color:#5B9BD5'>
        <a href="https://portal.hud.gov/hudportal/HUD?src=/federal_housing_administration/healthcare_facilities/residential_care" target="_blank">
            <span style='color:#5B9BD5'>Office of Residential Care Facilities </span></a><br />
    </span>
    <span style='font-size:14.0pt;font-family:Broadway;color:#5B9BD5'>
        <a href="https://portal.hud.gov/hudportal/HUD?src=/program_offices/administration/hudclips/handbooks/hsgh/42321" target="_blank">
            <span style='color:#5B9BD5'>Healthcare Mortgage Insurance Program Handbook (4232.1) </span></a><br />
    </span>
    <span style='font-size:14.0pt;font-family:Broadway;color:#5B9BD5'>
        <a href="https://peoplesearch.hud.gov/po/i/netlocator/" target="_blank">
            <span style='color:#5B9BD5'>Contact an Employee </span></a><br />
    </span>
    <span style='font-size:14.0pt;font-family:Broadway;color:#5B9BD5'>
        <a href="https://portal.hud.gov/hudportal/HUD?src=/federal_housing_administration/healthcare_facilities/residential_care/loan_servicing" target="_blank">
            <span style='color:#5B9BD5'>Loan Servicing and Asset Management of 232 Loans </span></a><br />
    </span>
    <span style='font-size:14.0pt;font-family:Broadway;color:#5B9BD5'>
        <a href="https://portal.hud.gov/hudportal/HUD?src=/federal_housing_administration/healthcare_facilities/residential_care/final_232_documents" target="_blank">
            <span style='color:#5B9BD5'>Section 232 Forms and Documents </span></a><br />
    </span>
</div>

<div id="carousel" style="position:absolute;top:200px;">
    <div class=" slide">
    <p>
        <a href="https://portal.hud.gov/hudportal/HUD?src=/federal_housing_administration/healthcare_facilities/residential_care/natchez" target="_blank"> <img alt="For more information, please click on the picture." src="~/images/10.jpg" /> </a>
        <span></span>
    </p>
</div>
    <div class="slide">
        <p>
            <a href="https://portal.hud.gov/hudportal/HUD?src=/federal_housing_administration/healthcare_facilities/residential_care/seton" target="_blank"> <img alt="For more information, please click on the picture." src="~/images/11.jpg" />	</a>
            <span></span>
        </p>
    </div>
    <div class="slide">
        <p>
            <a href="https://portal.hud.gov/hudportal/HUD?src=/federal_housing_administration/healthcare_facilities/residential_care/whitehouse" target="_blank"> <img alt="For more information, please click on the picture." src="~/images/12.jpg" /> </a>
            <span></span>
        </p>
    </div>
    <div class="slide">
        <p>
            <a href="https://portal.hud.gov/hudportal/HUD?src=/federal_housing_administration/healthcare_facilities/residential_care/towerlight" target="_blank"> <img alt="For more information, please click on the picture." src="~/images/13.jpg" /> </a>
            <span></span>
        </p>
    </div>
    <div class="slide">
        <p>
            <a href="https://portal.hud.gov/hudportal/HUD?src=/federal_housing_administration/healthcare_facilities/residential_care/natchez" target="_blank"> <img alt="For more information, please click on the picture." src="~/images/10.jpg" /> </a>
            <span></span>
        </p>
    </div>
    <div class="slide">
        <p>
            <a href="https://portal.hud.gov/hudportal/HUD?src=/federal_housing_administration/healthcare_facilities/residential_care/seton" target="_blank"> <img alt="For more information, please click on the picture." src="~/images/11.jpg" />	</a>
            <span></span>
        </p>
    </div>
    <div class="slide">
        <p>
            <a href="https://portal.hud.gov/hudportal/HUD?src=/federal_housing_administration/healthcare_facilities/residential_care/whitehouse" target="_blank"> <img alt="For more information, please click on the picture." src="~/images/12.jpg" /> </a>
            <span></span>
        </p>
    </div>
    <div class="slide">
        <p>
            <a href="https://portal.hud.gov/hudportal/HUD?src=/federal_housing_administration/healthcare_facilities/residential_care/towerlight" target="_blank"> <img alt="For more information, please click on the picture." src="~/images/13.jpg" /> </a>
            <span></span>
        </p>
    </div>
    <div class="navigate-left"><img src="~/images/left.png" /></div>
    <div class="navigate-right"><img src="~/images/right.png" /></div>
</div>


