﻿@using Core
@using HUDHealthcarePortal.BusinessService
@model  HUDHealthcarePortal.Model.AssetManagement.ReserveForReplacementFormModel
@{
    ViewBag.Title = "PAM Report";
}
 @if (Model.RequestStatus == 1 || Model.RequestStatus == 4)
 {
     if (Model.ServicerRemarks != null)
     {
         <div><b>Servicer Comments : </b>@Model.ServicerRemarks</div>
     }

 }

@if (Model.RequestStatus == 2 || Model.RequestStatus == 5)
{

    if (Model.ServicerRemarks != null)
    {
        <div><b>Servicer Comments : </b>@Model.ServicerRemarks</div>
    }

    if (Model.HudRemarks != null)
    {
        <div><b>HUD Remarks : </b>@Model.HudRemarks</div>
    }

    if (Model.AddnRemarks != null)
    {
        <div><b>Additional Remarks : </b>@Model.AddnRemarks</div>
    }
    

}