﻿@using Core
@using HUDHealthcarePortal.BusinessService
@model PAMReportModel
@{
    ViewBag.Title = "Lender PAM Report";
}


<style type="text/css">
    .overlay {
        position: fixed;
        background-color: #FAFAFA;
        z-index: 2147483647 !important;
        opacity: 0.8;
        overflow: hidden;
        text-align: center;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }
</style>
<style>
    ol {
        margin-left: -40px;
    }

        ol il {
            float: left;
            width: 290px;
        }

    br {
        clear: left;
    }

    div.wrapper {
        margin-bottom: 20px;
    }

    .datePickerTextBox {
        width: 100px;
        height: 25px;
    }

    .highrisk {
        color: black;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 5px;
        margin-left: -4px;
        padding-right: 6px;
        margin-right: -5px;
    }

    tr.header_row th:nth-child(5) {
        width: auto;
    }

    tr.item_row td:nth-child(5) {
        width: auto;
    }

    .ui-multiselect {
        padding: 2px 0 2px 4px;
        text-align: left;
        border: 1px solid black;
    }

    .ui-multiselect {
        font-size: 12px;
    }

    .multiselect option {
        display: block;
        font-size: 8px !important;
    }

    /* remove label borders in IE6 because IE6 does not support transparency */

    * html .ui-multiselect-checkboxes label {
        border: none;
        padding: 10px;
    }

    tr.header_row th:nth-child(5) {
        width: 300px;
    }
</style>

<!-- Add all Page Specific CSS files here -->
<!-------------------------------------------------------------------------------------------------------------------------- -->
@*<link href="~/Scripts/jquery-multiSelect/jquery.multiselect.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>*@
<!-------------------------------------------------------------------------------------------------------------------------- -->
@using (Html.BeginForm())
{
  

   
        <div class="row" style="padding: 5px;">

            @Html.Partial("~/Views/ManagementReport/PAMReports/_CommonSearchForLender.cshtml", Model)

        </div>
   

    
         <div class="row">
            <div id="dvUserReport" class="col-md-8">
                @Html.Partial("~/Views/ManagementReport/PAMReports/_LenderPAMReport.cshtml", Model)
            </div>
     </div>


}

<script>

    // setup Aes
    $("#lstStatus").multiselect({
        noneSelectedText: 'Select Status', minWidth: 225
                                , selectedList: 1
                                , enableCaseInsensitiveFiltering: true
                                , filterPlaceholder: 'Search'
                                 , includeSelectAllOption: true
                                , selectedText: function () {
                                    var valSelected = $("#lstStatus").val();
                                    var paSelected = valSelected == '0' ? 'Closed' : valSelected == '1' ? 'Open' : 'All';
                                    return 'Status (' + paSelected + ')';
                                    //numChecked + ' of ' + numTotal + ' Request types selected';
                                }
    });

    $("#lstProjectAction").multiselect({
        noneSelectedText: 'Select Project Action', minWidth: 225
        ,enableCaseInsensitiveFiltering: true
                                , filterPlaceholder: 'Search'
                                 , includeSelectAllOption: true
                                 , checkAll: function () {
            $("#lstProjectAction").multiselect("refresh");
        }
                                , selectedList: 1
                                , maxHeight: 200
                                    , selectedText: function () {

                                        var paSelected = 'All';

                                        var valSelected = $("#lstProjectAction").val();

                                        if (valSelected != null && valSelected.length < 10)
                                            paSelected = valSelected.length;


                                        if (valSelected == '0')
                                            paSelected = 'NCR';
                                        else if (valSelected == '1')
                                            paSelected = 'R4R';
                                        else if (valSelected == '2')
                                            paSelected = 'NCR Extension';
                                        else if (valSelected == '3')
                                            paSelected = 'AR Financing- Final Approval';
                                        else if (valSelected == '5')
                                            paSelected = 'Capital Project (Permission to Build, Improvements)';
                                        else if (valSelected == '6')
                                            paSelected = 'Change In or Addition of Lease';
                                        else if (valSelected == '7')
                                            paSelected = 'Change in or Addition of Lessee Operator';
                                        else if (valSelected == '8')
                                            paSelected = 'Change in or Addition of Management Agent - Final Approval';
                                        else if (valSelected == '11')
                                            paSelected = 'Conversion of Beds';
                                        else if (valSelected == '16')
                                            paSelected = 'Leasing Out Space (Cell and Cable Towers)';
                                        else if (valSelected == '17')
                                            paSelected = 'Leasing Out Space (Commercial)';
                                        else if (valSelected == '19')
                                            paSelected = 'Modification of Note (Interest Only)';
                                        else if (valSelected == '22')
                                            paSelected = 'Other Escrows';
                                        else if (valSelected == '24')
                                            paSelected = 'Partial Release of Collateral (Beds)';
                                        else if (valSelected == '25')
                                            paSelected = 'Partial Release of Security (Real Estate)';
                                        else if (valSelected == '28')
                                            paSelected = 'Sinking Fund';
                                        else if (valSelected == '29')
                                            paSelected = 'Surplus Cash Note or Secondary Financing';
                                        else if (valSelected == '30')
                                            paSelected = 'TPA (Full) - Final Approval';
                                        else if (valSelected == '31')
                                            paSelected = 'TPA (Light) - Final Approval';
                                        else if (valSelected == '32')
                                            paSelected = 'TPA (Modified) - Final Approval';
                                        else if (valSelected == '33')
                                            paSelected = 'Waivers';
                                        else if (valSelected == '36')
                                            paSelected = 'Other';
                                        else if (valSelected == '37')
                                            paSelected = 'Physical Condition Actions';
                                        else if (valSelected == '38')
                                            paSelected = 'Notice of Imposition (NOI)';
                                        else if (valSelected == '39')
                                            paSelected = 'Real Estate Assessment Center Inspection/Report/Responses';
                                        else if (valSelected == '40')
                                            paSelected = '9807 Termination approval request for mortgage termination';
                                        else if (valSelected == '41')
                                            paSelected = 'Revised 9807 Termination request Block Five executed';
                                        else if (valSelected == '42')
                                            paSelected = 'Pending Approval- If the 9807 is incomplete and supporting documentation is missing';
                                        else if (valSelected == '43')
                                            paSelected = 'Termination Letter';
                                        else if (valSelected == '44')
                                            paSelected = 'TPA (Full) - Preliminary approval';
                                        else if (valSelected == '45')
                                            paSelected = 'TPA (Light) - Preliminary approval';
                                        else if (valSelected == '46')
                                            paSelected = 'TPA (Modified) - Preliminary approval';
                                        else if (valSelected == '47')
                                            paSelected = 'CHOW - Preliminary approval';
                                        else if (valSelected == '48')
                                            paSelected = 'CHOW - Final Approval';
                                        else if (valSelected == '49')
                                            paSelected = 'Change In or Addition of Management Agent - Preliminary approval';
                                        else if (valSelected == '50')
                                            paSelected = 'AR Financing - Preliminary Approval';
                                        return 'Project Action (' + paSelected + ')';
                                    }
    });

</script>
