﻿@using Core
@model Model.ReportModel
@{
    ViewBag.Title = "Search";
}


<!-- Add all Page Specific CSS files here -->
<!-------------------------------------------------------------------------------------------------------------------------- -->
@*<link href="~/Scripts/jquery-multiSelect/jquery.multiselect.css" rel="stylesheet" type="text/css" />*@
<link href="~/Scripts/jquery-multiselect/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
<script src="~/Scripts/jquery-multiselect/Bootstrap.multiselectV2.js"></script>
<!-------------------------------------------------------------------------------------------------------------------------- -->

<style type="text/css">
    .overlay {
        position: fixed;
        background-color: #FAFAFA;
        z-index: 2147483647 !important;
        opacity: 0.8;
        overflow: hidden;
        text-align: center;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }
</style>
<div class="container-fluid">


    <div class="row" style="padding: 5px;">
        <div class="row">
            <span class="col-md-2 text-left">

                @Html.Label("Portfolio Number:  ")
            </span>
            <span class="col-md-2">
                @Html.ListBox("PFNumList", Model.PortFolioNumberListItems, new { multiple = "multiple", name = "PFNumList" })
            </span>
            <span id="PfNo" class="col-md-4 text-left">

            </span>
        </div>
    </div>
    <div class="row" style="padding: 5px;">
        <div class="row">
            <span class="col-md-2 text-left">

                @Html.Label("Portfolio Name: ")
            </span>
            <span class="col-md-2">
                @Html.ListBox("PFNameList", Model.PortFolioNameListItems, new { multiple = "multiple", name = "PFNameList" })
            </span>
            <span id="PfName" class="col-md-4 text-left">

            </span>
        </div>
    </div>

    <div class="row" style="padding: 5px;">
        <div class="row">
            <span class="col-md-2 text-left">

                @Html.Label("Project ID: ")
            </span>
            <span class="col-md-2">
                @Html.ListBox("PIDList", Model.PROPIDListItems, new { multiple = "multiple", name = "PIDList" })
            </span>
            <span id="PID" class="col-md-4 text-left">

            </span>
        </div>
    </div>

    <div class="row" style="padding: 5px;">
        <div class="row">
            <span class="col-md-2 text-left">

                @Html.Label("FHA Number: ")
            </span>
            <span class="col-md-2">
                @Html.ListBox("FHAList", Model.FHANOListItems, new { multiple = "multiple", name = "FHAList" })
            </span>
            <span id="FHA" class="col-md-4 text-left">

            </span>
        </div>
    </div>
    <div class="row" style="padding: 5px;">
        <div class="row">
            <span class="col-md-2 text-left">

                @Html.Label("Period Ending: ")
            </span>
            <span class="col-md-2">
                @Html.ListBox("PEList", Model.PeriodEndingListItems, new { multiple = "multiple", name = "PEList" })
            </span>
            <span id="PE" class="col-md-4 text-left">

            </span>
        </div>

    </div>

    <div class="row" style="padding: 5px;">
        <div class="row">
            <span class="col-md-2 text-left">

                @Html.Label("Months in Period:    ")
            </span>
            <span class="col-md-2">
                @Html.ListBox("QtrList", Model.QuarterListItems, new { multiple = "multiple", name = "QtrList" })
            </span>
            <span id="Qtr" class="col-md-4 text-left">

            </span>
        </div>

    </div>
    <div class="row" style="padding: 5px;">
        <div class="row">
            <span class="col-md-2 text-left">

                @Html.Label("Show Exceptions Only:")
            </span>
            <span class="col-md-2">
                @Html.CheckBox("IsShowExceptionsOnly", Model.IsShowExceptionsOnly, new { id = "checkBoxCol", @class = "large" })
            </span>
            @*<span id="Qtr" class="col-md-4 text-left">

            </span>*@
        </div>

    </div>
    <div class="row" style="padding: 5px;">
        <span class="col-md-2 text-left">
            <input id="btnSearch" type="button" class="form-control" value="Search">
        </span>
    </div>

</div>

<script>
    var settingsObject = @Html.Raw(Json.Encode(ViewBag));
   
</script>

<script>
    
    var PLMReport = (function () {
        var progChange = false;
        var settings = window.settingsObject;
        var listBoxToString = function (listBox, all) {
            //  debugger;
            if (typeof listBox === "string") {
                listBox = document.getElementById(listBox);
            }

            if(listBox == null) {return "";}

            if (!(listBox || listBox.options)) {
                throw Error("No options");
            }
            var options = [], opt;
            for (var i = 0, l = listBox.options.length; i < l; ++i) {
                opt = listBox.options[i];
                if (all || opt.selected) {
                    options.push(opt.value);
                }
            }
            return options.join(",");
        };

        var listboxText = function (listBox, all) {
            // debugger;
            if (typeof listBox === "string") {
                listBox = document.getElementById(listBox);
            }

            if(listBox == null) {return "";}

            if (!(listBox || listBox.options)) {
                throw Error("No options");
            }
            var options = [], opt;
            for (var i = 0, l = listBox.options.length; i < l; ++i) {
                opt = listBox.options[i];
                if (all || opt.selected) {
                    options.push(opt.text);
                }
            }
            return options.join(",");
        };



        return {
            InitView: function () {


                //Setup Property ID
                var ischecked=$("#checkBoxCol").is(":checked");
                $("#PIDList").multiselect({




                    enableCaseInsensitiveFiltering: true
                    , filterPlaceholder: 'Search'
                    ,maxHeight: 400
                     ,nonSelectedText: 'Select Project ID'
                     ,includeSelectAllOption: true
                    ,onDeselectAll: function () {
                        PLMReport.AllOutList("PID");
                    }
                   , onSelectAll: function () {
                      // debugger;
                       var arry = listboxText('PIDList', true);
                       PLMReport.AlltoList(arry,"PID");
                       PLMReport.AllOutList("FHA");

                       PLMReport.AllOutList("PE");

                       PLMReport.AllOutList("Qtr");
                       PLMReport.RefreshbyProjectID(arry,"PROJID");

                       var tmp=listboxText('PIDList', true);
                     
                       var array = tmp.split(',');
                      


                       
                }
                                           ,
                    onChange: function(element, checked)
                    {

                        if (checked) {
                          //  debugger;
                            PLMReport.FillSelected(element[0].text,"PID");
                            var arry = listboxText('PIDList', false);
                            PLMReport.AllOutList("FHA");

                            PLMReport.AllOutList("PE");

                            PLMReport.AllOutList("Qtr");
                            PLMReport.RefreshbyProjectID(arry,"PROJID");

                            
                        }
                        else
                        {

                            PLMReport.UnFillSelected(element[0].text);
                        }
                    }


                });


                $("#FHAList").multiselect({

                    enableCaseInsensitiveFiltering: true
                              , filterPlaceholder: 'Search'
                              ,nonSelectedText: 'Select FHA Number'
                              ,maxHeight: 400
                               ,includeSelectAllOption: true
                              ,onDeselectAll: function () {
                                  PLMReport.AllOutList("FHA");
                              }
                             , onSelectAll: function () {
                                // debugger;
                                 var arry = listboxText('FHAList', true);
                       
                                 PLMReport.AlltoList(arry,"FHA");
                                 PLMReport.AllOutList("PE");

                                 PLMReport.AllOutList("Qtr");
                                 PLMReport.RefreshbyFHA(arry,"FHA");

                                 
                      
                             }
                                                     ,
                    onChange: function(element, checked)
                    {
                      // debugger;
                        if (checked) {
                            //  debugger;
                            var arry = listboxText('FHAList', false);
                            PLMReport.AllOutList("PE");

                            PLMReport.AllOutList("Qtr");
                            PLMReport.RefreshbyFHA(arry,"FHA");
                            PLMReport.FillSelected(element[0].text,"FHA");
                           
                        }
                        else
                        {
                            PLMReport.UnFillSelected(element[0].text);
                            var arry = listboxText('FHAList', false);
                            PLMReport.RefreshbyFHA(arry,"FHA");
                          

                        }
                    }


                });




                //Setup FHA

              


                // setup WLM managers
                $("#PEList").multiselect({



                    nonSelectedText: 'Select Period Ending', minWidth: 250
                                            , selectedList: 1
                    ,enableFiltering: true
                    , filterPlaceholder: 'Search'
                    ,includeSelectAllOption: true
                    ,onDeselectAll: function () {
                        PLMReport.AllOutList("PE");
                    }
                     , onSelectAll: function () {
                         //debugger;
                         var arry = listboxText('PEList', true);
                    
                         PLMReport.AllOutList("Qtr");
                      
                         PLMReport.RefreshbyPE(arry,"PE");
                         PLMReport.AlltoList(arry,"PE");
                       

                     }
                                            ,
                                             onChange: function(element, checked) {
                                                 if (!progChange)
                                                 {
                                                   //  debugger;
                                                     if (checked) {
                                                         var arry = listboxText('PEList', false);
                                                         //  debugger;
                                                         PLMReport.AllOutList("Qtr");
                                                         PLMReport.RefreshbyPE(arry,"PE");
                                                         PLMReport.FillSelected(element[0].text,"PE");
                                                    
                                                         progChange = true;
                                                     }
                                                     else
                                                     {

                                                         PLMReport.UnFillSelected(element[0].text);
                                                         progChange = true;
                                                         var arry = listboxText('PEList', false);
                                                         PLMReport.RefreshbyPE(arry,"PE");
                                                     }
                                                 }
                                                 progChange = false;

                        
                    }


                });

                // setup Quarter
                $("#QtrList").multiselect({


                   nonSelectedText: 'Select Months in Period', minWidth: 250
                                            , selectedList: 1
                    , enableCaseInsensitiveFiltering: true
                    , filterPlaceholder: 'Search'
                    ,maxHeight: 400
                     ,includeSelectAllOption: true
                                            , selectedText: function (numChecked, numTotal) {
                                                var aeSelected = numChecked == numTotal ? 'All' : numChecked;
                                                return 'Select Quarter';
                                                //numChecked + ' of ' + numTotal + ' Request types selected';
                                            },


                         onSelectAll: function () {
                        // debugger;
                        var arry = listboxText('QtrList', true);

                        PLMReport.AlltoList(arry,"Qtr");


                    },

                    onDeselectAll: function () {
                        // debugger;

                        PLMReport.AllOutList("Qtr");
                    },

                    onChange: function(element, checked) {
                        // debugger;

                        var arry = listBoxToString('QtrList', false);
                        if (checked) {
                            PLMReport.FillSelected(element[0].text,"Qtr");
                  
                        }
                        else
                        {

                            PLMReport.UnFillSelected(element[0].text);
                        }
                    }
                });



                // setup Quarter
                $("#PFNumList").multiselect({


                    nonSelectedText: 'Select Portfolio Number', minWidth: 250
                                            , selectedList: 1
                       , enableCaseInsensitiveFiltering: true
                    , filterPlaceholder: 'Search'
                    ,maxHeight: 400
                     ,includeSelectAllOption: true

                                        , onChange: function(element, checked) {
                                            //debugger;
                                            if (!progChange)
                                            {


                                                PLMReport.AllOutList("PE");
                                                PLMReport.AllOutList("Qtr");

                                               // PLMReport.RefreshPortfolio(element, checked);
                                               // PLMReport.RefreshPEBasedOnPFNO(element, checked,'PFNumList');

                                                var arry = listboxText('PFNumList', false);

                                                if (checked) {
                                                    src="PFNumList";
                                                    PLMReport.FillSelected(element[0].text,"PfNo");
                                                    PLMReport.FillSelected(element[0].value,"PfName");
                                                    PLMReport.AllOutList("PID");

                                                    PLMReport.AllOutList("FHA");

                                                    PLMReport.AllOutList("PE");

                                                    PLMReport.AllOutList("Qtr");
                                                    PLMReport.RefreshAll(arry,"PFNO");
                                                    progChange = true;
                                                    $("#PFNameList").multiselect('select', element[0].text);


                                                    // $("#PFNameList").multiselect('select', element[0].value);
                                                }
                                                else
                                                {
                                                   // debugger;
                                                    src="PFNumList";
                                                    PLMReport.UnFillSelected(element[0].text);
                                                    PLMReport.UnFillSelected(element[0].value);
                                                    progChange = true;
                                                    var arry = listboxText('PFNumList', false);
                                                    PLMReport.RefreshAll(arry,"PFNO");
                                                    $("#PFNameList").multiselect('deselect', element[0].text);
                                                    //$("#PFNameList").multiselect('deselect', element[0].value);
                                                }
                                                $("#PFNameList").multiselect("rebuild");

                                                //$("#PFNameList").multiselect('destroy');
                                                //$("#PFNameList").multiselect();
                                                //   $('.multiselect').multiselect('refresh');
                                                //PLMReport.FillSelected(arry,"PfNo")
                                            }
                                            progChange = false;
                                        }

                                            , selectedText: function (numChecked, numTotal) {
                                                //  debugger;
                                                var aeSelected = numChecked == numTotal ? 'All' : numChecked;
                                                // return 'PNo (' + aeSelected + ')';
                                                return 'Select Portfolio Number';
                                                //numChecked + ' of ' + numTotal + ' Request types selected';
                                            }
                                            ,

                      onSelectAll: function () {
                    // debugger;
                     // var ui=null;
                      //PLMReport.RefreshPEBasedOnPFNO(e, ui,'PFNumList');
                      var tmp=listboxText('PFNumList', true);
                      // PLMReport.MarkUnMark(tmp,true);
                      var array = tmp.split(',')
                      for (var i = 0; i < array.length; i++) {
                         
                          $("#PFNameList").multiselect('select', array[i]);
                      }
                      var arry = listboxText('PFNumList', true);

                      PLMReport.AlltoList(arry,"PfNo");
                      arry = listboxText('PFNameList', true);

                      PLMReport.AlltoList(arry,"PfName");
                      PLMReport.AllOutList("PID");

                      PLMReport.AllOutList("FHA");

                      PLMReport.AllOutList("PE");

                      PLMReport.AllOutList("Qtr");

                      PLMReport.RefreshAll(array,"PFNO");

                     
                  

                    },
                  onDeselectAll: function () {
                       //debugger;
                       var arry = listboxText('PFNumList', true);

                       var ar = arry.split(',')
                       for (var i = 0; i < ar.length; i++) {
                         
                           $("#PFNameList").multiselect('deselect', ar[i]);
                       }
                                   
                       PLMReport.AllOutList("PfNo");
                       PLMReport.AllOutList("PfName");
                    }
                });

                // setup Quarter
                $("#PFNameList").multiselect({


                  nonSelectedText: 'Select Portfolio Name', minWidth: 250
                                            , selectedList: 1
                      , enableCaseInsensitiveFiltering: true
                    , filterPlaceholder: 'Search'
                    ,maxHeight: 400
                     ,includeSelectAllOption: true
                    ,onChange: function(element, checked) {
                       // debugger;
                        if (!progChange)
                        {

                            PLMReport.AllOutList("PE");
                            PLMReport.AllOutList("Qtr");
                            //PLMReport.RefreshPortfolio(element, checked);
                           // PLMReport.RefreshPEBasedOnPFNO(element, checked,'PFNameList');

                            if (checked) {
                                //debugger;
                                src="PFNameList";
                                PLMReport.FillSelected(element[0].text,"PfName");
                                PLMReport.FillSelected(element[0].value,"PfNo");
                                var arry = listBoxToString('PFNameList', false);
                                PLMReport.AllOutList("PID");

                                PLMReport.AllOutList("FHA");

                                PLMReport.AllOutList("PE");

                                PLMReport.AllOutList("Qtr");
                                PLMReport.RefreshAll(arry,"PFNO");
                                progChange = true;
                                $("#PFNumList").multiselect('select', element[0].text);
                                // $("#PFNumList").multiselect('select', element[0].value);

                                

                            }
                            else
                            {
                                src="PFNameList";
                                PLMReport.UnFillSelected(element[0].text);
                                PLMReport.UnFillSelected(element[0].value);
                                progChange = true;
                                $("#PFNumList").multiselect('deselect', element[0].text);
                                var arry = listBoxToString('PFNameList', false);
                                PLMReport.RefreshAll(arry,"PFNO");
                                // $("#PFNumList").multiselect('deselect', element[0].value);
                            }
                        }
                        progChange = false;
                    }
                                             , click: function (event, ui) {
                                                 PLMReport.AllOutList("PE");
                                                 PLMReport.AllOutList("Qtr");
                                                 PLMReport.RefreshPortfolio(event, ui);
                                                 PLMReport.RefreshPEBasedOnPFNO(event, ui,'PFNameList');
                                                 var arry = listBoxToString('PFNameList', false);
                                                 if (ui.checked) {

                                                     PLMReport.FillSelected(ui.text,"PfName");
                                                     PLMReport.FillSelected(ui.value,"PfNo");
                                                 }
                                                 else
                                                 {
                                                     PLMReport.UnFillSelected(ui.text);
                                                     PLMReport.UnFillSelected(ui.value);
                                                 }


                                             }
                                            , selectedText: function (numChecked, numTotal) {
                                                // debugger;
                                                var aeSelected = numChecked == numTotal ? 'All' : numChecked;
                                                // return 'PName (' + aeSelected + ')';
                                                return '';
                                                //numChecked + ' of ' + numTotal + ' Request types selected';
                                            },


                       onSelectAll: function () {
                         // debugger;
                       // var ui=null;
                        //PLMReport.RefreshPEBasedOnPFNO(e, ui,'PFNameList');

                          var arry = listboxText('PFNameList', true);

                           // PLMReport.MarkUnMark(arry,true);

                           var array = arry.split(',')
                           for (var i = 0; i < array.length; i++) {
                         
                               $("#PFNumList").multiselect('select', array[i]);
                           }
                        var tmp = listboxText('PFNameList', true);
                        PLMReport.AlltoList(tmp,"PfName");
                        arry = listboxText('PFNumList', true);
                        PLMReport.AlltoList(arry,"PfNo");

                        var All = listBoxToString('PFNameList', true);
                        var Alllist = All.split(',');
                        PLMReport.AllOutList("PID");

                        PLMReport.AllOutList("FHA");

                        PLMReport.AllOutList("PE");

                        PLMReport.AllOutList("Qtr");
                        PLMReport.RefreshAll(All,"PFNO");

                      

                    },
                       onDeselectAll: function () {
                       // debugger;
                        var arr = listboxText('PFNameList', true);
                        var array = arr.split(',')
                        for (var i = 0; i < array.length; i++) {
                         
                            $("#PFNumList").multiselect('deselect', array[i]);
                        }

                       
                        PLMReport.AllOutList("PfNo");
                        PLMReport.AllOutList("PfName");
                    }
                });







                $('#btnSearch').click(function() {
                    //var status = listBoxToString('lstStatus', false);
                    //var projectAction = listBoxToString('lstProjectAction', false);

                    //if (projectAction == '') {
                    //    alert("Please select at least one Project Action.");
                    //    return false;
                    //}
                   // debugger;
                    var PEList=listBoxToString('PEList', false);
                    var QtrList=listBoxToString('QtrList', false);
                    var PFNumList=listboxText('PFNumList', false);
                    var PIDList=listBoxToString('PIDList', false);
                    var FHAList=listboxText('FHAList', false);

                    var PFNameList=listboxText('PFNameList', false);


                    //if (PEList == '' && QtrList == '' && PFNumList == '') {
                    //    alert("Please select at least one Search Criteria.");
                    //    return false;
                    //}
                    var pathname = window.location.pathname; // Returns path only
                    var url = window.location.href;

                    var vars = [], hash;
                    var q = url.split('?')[1];
                    if(q != undefined){
                        q = q.split('&');
                        for(var i = 0; i < q.length; i++){
                            hash = q[i].split('=');
                            vars.push(hash[1]);
                            vars[hash[0]] = hash[1];
                        }
                    }

                    var username=escape(vars['userName']);
                    //  debugger;

                    var Role;
                    if (url.toLowerCase().indexOf("superuser") >= 0)
                    {
                        Role='Admin';

                    }

                    else if (url.toLowerCase().indexOf("workloadmanager") >= 0)
                    {
                        Role='WLM';

                    }
                    else if (url.toLowerCase().indexOf("accountexecutive") >= 0)
                    {
                        Role='AE';

                    }

                    else if (url.toLowerCase().indexOf("lender") >= 0)
                    {
                        Role='Lender';

                    }

                    else if (url.toLowerCase().indexOf("specialoptionuser") >= 0)
                    {
                        Role='specialoptionuser';

                    }

                    //var ischecked=$("#checkBoxCol").is(":checked");
                   
                    //debugger;
                    var data = new FormData();
                    data.append("PEList", PEList);
                    data.append("QtrList", QtrList);
                    data.append("PFNumList", PFNumList);
                    data.append("PIDList", PIDList);
                    data.append("FHAList", FHAList);
                    data.append("PFNameList", PFNameList);
                    data.append("Role", Role);
                    data.append("username", username);
                    data.append("IsShowExceptionsOnly",$("#checkBoxCol").is(":checked"))
                    
                 
                   
                    $("#spinner").attr('class', 'overlay');
                    $.ajax({


                        type: "POST",
                        url: settings.SearchRequestsUrl,
                        contentType: false,
                        processData: false,
                        cache: false,
                        data: data,
                        success: function (result) {
                            {
                                // debugger;
                                $("#dvSuperUserReport").html('');
                                $("#dvSuperUserReport").html(result);

                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            //  debugger;
                            alert("Error Refreshing Data: " + textStatus + "\nError Detail: " + errorThrown);
                        }
                    });
                });

            },
            RefreshPortfolio: function (element, checked) {
                //  debugger;
                // Get all the old values from lstStates
                //var wlmIds = listBoxToString('lstWlms', false);
                //  $("#PFNameList").trigger("multiselect");
                if (checked) {
                    // add the state id that was just checked
                    // wlmIds = wlmIds + ',' + ui.value;
                    //$("input[title=" + ui.value+ "]");

                    $('input[value="' + element[0].text + '"]').prop('checked', true);
                    // $('input[value="' + element[0].value + '"]').attr("selected", "selected");
                }
                else {
                    // remove the state id that was just unchecked
                    //  wlmIds = wlmIds.replace(ui.value, '');
                    $('input[value="' + element[0].text + '"]').prop('checked', false);
                }

                // Get the data from the single request

            },

            MarkUnMark: function (list,Ischecked) {
                //  debugger;
                list=list.split(",");
                var arrayLength = list.length;
                for (var i = 0; i < arrayLength; i++) {

                    $('input[title="' + list[i] + '"]').prop('checked', Ischecked);
                }


            },

            FillSelected: function (list, cntrl) {
              //  debugger;
                if(list!=="Select all" || list!=="multiselect-all")
                {
                    var str="<button type='button' id='"+ list  + "' class='btn btn-primary btn-xs'>"+ list +"</button>";


                    $("#" + cntrl).append(str);
                }
               

            },
            UnFillSelected: function (hide) {
                //debugger;
                //  $("#" + cntrl).html('');
                //list=list.split(",");
                //var arrayLength = list.length;
                //for (var i = 0; i < arrayLength; i++) {
                // var str="<button type='button' id="+ list  + "class='btn btn-primary btn-xs'>"+ list[i] +"</button>";
                // $("#" + hide).hide();

                $('button[id="' + hide + '"]').hide();

                // }


            },
            AlltoList: function (list, cntrl) {
                // debugger;
                $("#" + cntrl).html('');
                list=list.split(",");
                var arrayLength = list.length;
                for (var i = 0; i < arrayLength; i++) {
                    var str="<button type='button' id='"+ list[i]  + "' class='btn btn-primary btn-xs'>"+ list[i] +"</button>"
                    //var str="<button type='button' id="+ list[i]  + " class='btn btn-primary btn-xs'>"+ list[i] +"</button>";

                    $("#" + cntrl).append(str);



                }


            },

            AllOutList: function (cntrl) {
                // debugger;
                $("#" + cntrl).html('');
                
                $("#" + cntrl +"List").empty();


            },
            RepopulatQtrListbox: function (response,cntrl) {
                //  debugger;
                // Clear the existing list box
                $("#" + cntrl).empty();


                var Responselist=[];
                for (var i = 0; i < response.temp.length; i++) {
                    if (Responselist.indexOf(response.temp[i].Text) == -1) {
                        Responselist.push(response.temp[i].Text)
                    }
                }

                // Add New items to the List box
                for (var i = 0; i < Responselist.length; i++) {
                    $("#" + cntrl).append('<option value="' + Responselist[i] + '" >' + Responselist[i] + '</option>');
                    // $("input[title=" + Responselist[i] + "]").prop('checked', false);
                }

                // Refresh the grid with the new Aes
                //$("#" + cntrl).multiselect("refresh");
                //$(".multiselect").multiselect("refresh");

                $("#" + cntrl).multiselect("rebuild");

                //for (var i = 0; i < response.temp.length; i++) {
                //   // $('#QtrList').append('<option value="' + response.temp[i].Text + '" selected= "selected">' + response.temp[i].Text + '</option>');
                //    $("input[title=" + response.temp[i].Text + "]").prop('checked', false);
                //}
                $('button[class*=multiselect]').css('width', '200px');
            },


            RefreshAll: function (generic,type) {

                //debugger;
                // Get all the old values from lstStates

                var PEList=listBoxToString('PEList', false);
                var QtrList=listBoxToString('QtrList', false);
                var PFNumList=listboxText('PFNumList', false);
                var PIDList=listBoxToString('PIDList', false);
                var FHAList=listboxText('FHAList', false);

                var PFNameList=listboxText('PFNameList', false);

                var data = new FormData();
                data.append("PEList", PEList);
                data.append("QtrList", QtrList);
                data.append("PFNumList", PFNumList);
                data.append("PIDList", PIDList);
                data.append("FHAList", FHAList);
                data.append("PFNameList", PFNameList);
                data.append("IsShowExceptionsOnly",$("#checkBoxCol").is(":checked"))
                // Get the data from the single request
                $.ajax({
                    url:settings.GenericSearchUrl,
                    data: data,
                    contentType: false,
                    processData: false,
                    cache: false,
                    type: 'POST',
                    success: function (response) {
                     // debugger;
                        PLMReport.RepopulatebyPortfolio(response);
                    },
                    error: function (xhr) {
                        // TODO: alert the user about the error
                    }
                });
            },

            RepopulatebyPortfolio: function (response) {
                // debugger;
                // Clear the existing list box
                $("#PIDList").empty();
                $("#FHAList").empty();
                $("#PEList").empty();
                $("#QtrList").empty();

                
                for (var i = 0; i < response.data.PID.length; i++) {
                    if($("#PIDList option[value='" + response.data.PID[i].PropertyID +"']").length==0)
                    {
                        $("#PIDList").append('<option value="' + response.data.PID[i].PropertyID + '" >' + response.data.PID[i].PropertyID + '</option>');
                    }
                }
                // Add New items to the List box
                for (var i = 0; i < response.data.FHA.length; i++) {
                    if($("#FHAList option[value='" + response.data.FHA[i].FhaNumber +"']").length==0)
                    {
                        $("#FHAList").append('<option value="' + response.data.FHA[i].FhaNumber + '" >' + response.data.FHA[i].FhaNumber + '</option>');
                    }
                }

                for (var i = 0; i < response.data.MIP.length; i++) {
                    if($("#QtrList option[value='" + response.data.MIP[i].MonthsInPeriod +"']").length==0)
                    {
                        $("#QtrList").append('<option value="' + response.data.MIP[i].MonthsInPeriod + '" >' + response.data.MIP[i].MonthsInPeriod + '</option>');
                    }
                }
                   
                for (var i = 0; i < response.data.PE.length; i++) {
                    if($("#PEList option[value='" + response.data.PE[i].PeriodEnding +"']").length==0)
                    {
                        $("#PEList").append('<option value="' + response.data.PE[i].PeriodEnding + '" >' + response.data.PE[i].PeriodEnding + '</option>');
                    }
                  
                }
                    
              
                  
         
                    // $("input[title=" + Responselist[i] + "]").prop('checked', false);
           

                // Refresh the grid with the new Aes
                //$("#" + cntrl).multiselect("refresh");
                //$(".multiselect").multiselect("refresh");

                $("#PIDList").multiselect("rebuild");
                $("#FHAList").multiselect("rebuild");

                $("#PEList").multiselect("rebuild");
                $("#QtrList").multiselect("rebuild");

                
                $('button[class*=multiselect]').css('width', '200px');
                $('input[type=checkbox]').css("float", "none");
            },

            RefreshbyProjectID: function (generic,type) {

                // debugger;
                // Get all the old values from lstStates

           

                var PEList=listBoxToString('PEList', false);
                var QtrList=listBoxToString('QtrList', false);
                var PFNumList=listboxText('PFNumList', false);
                var PIDList=listBoxToString('PIDList', false);
                var FHAList=listboxText('FHAList', false);

                var PFNameList=listboxText('PFNameList', false);


         
                var data = new FormData();
                data.append("PEList", PEList);
                data.append("QtrList", QtrList);
                data.append("PFNumList", PFNumList);
                data.append("PIDList", PIDList);
                data.append("FHAList", FHAList);
                data.append("PFNameList", PFNameList);
                data.append("IsShowExceptionsOnly",$("#checkBoxCol").is(":checked"))
                // Get the data from the single request
                $.ajax({
                    url:settings.GenericSearchUrl,
                    data: data,
                    contentType: false,
                    processData: false,
                    cache: false,
                    type: 'POST',
                    success: function (response) {
                        //debugger;
                        PLMReport.RepopulatebyProjectID(response);
                    },
                    error: function (xhr) {
                        // TODO: alert the user about the error
                    }
                });
            },
            RepopulatebyProjectID: function (response) {
                // debugger;
                // Clear the existing list box
              
                $("#FHAList").empty();
                $("#PEList").empty();
                $("#QtrList").empty();

                
                // Add New items to the List box
                for (var i = 0; i < response.data.FHA.length; i++) {
                    if($("#FHAList option[value='" + response.data.FHA[i].FhaNumber +"']").length==0)
                    {
                        $("#FHAList").append('<option value="' + response.data.FHA[i].FhaNumber + '" >' + response.data.FHA[i].FhaNumber + '</option>');
                    }
                }

                for (var i = 0; i < response.data.MIP.length; i++) {
                    if($("#QtrList option[value='" + response.data.MIP[i].MonthsInPeriod +"']").length==0)
                    {
                        $("#QtrList").append('<option value="' + response.data.MIP[i].MonthsInPeriod + '" >' + response.data.MIP[i].MonthsInPeriod + '</option>');
                    }
                }
                   
                for (var i = 0; i < response.data.PE.length; i++) {
                    if($("#PEList option[value='" + response.data.PE[i].PeriodEnding +"']").length==0)
                    {
                        $("#PEList").append('<option value="' + response.data.PE[i].PeriodEnding + '" >' + response.data.PE[i].PeriodEnding + '</option>');
                    }
                  
                }

           
                $("#FHAList").multiselect("rebuild");

                $("#PEList").multiselect("rebuild");
                $("#QtrList").multiselect("rebuild");

                
                $('button[class*=multiselect]').css('width', '200px');
                $('input[type=checkbox]').css("float", "none");
            },

            RefreshbyFHA: function (generic,type) {

                // debugger;
                // Get all the old values from lstStates

           

                var PEList=listBoxToString('PEList', false);
                var QtrList=listBoxToString('QtrList', false);
                var PFNumList=listboxText('PFNumList', false);
                var PIDList=listBoxToString('PIDList', false);
                var FHAList=listboxText('FHAList', false);

                var PFNameList=listboxText('PFNameList', false);


         
                var data = new FormData();
                data.append("PEList", PEList);
                data.append("QtrList", QtrList);
                data.append("PFNumList", PFNumList);
                data.append("PIDList", PIDList);
                data.append("FHAList", FHAList);
                data.append("PFNameList", PFNameList);
                data.append("IsShowExceptionsOnly",$("#checkBoxCol").is(":checked"))
                // Get the data from the single request
                $.ajax({
                    url:settings.GenericSearchUrl,
                    data: data,
                    contentType: false,
                    processData: false,
                    cache: false,
                    type: 'POST',
                    success: function (response) {
                       // debugger;
                        PLMReport.RepopulatebyFHA(response);
                    },
                    error: function (xhr) {
                        // TODO: alert the user about the error
                    }
                });
            },
            

            RepopulatebyFHA: function (response) {
               // debugger;
                // Clear the existing list box
              
           
                $("#PEList").empty();
                $("#QtrList").empty();

                

         
                for (var i = 0; i < response.data.MIP.length; i++) {
                    if($("#QtrList option[value='" + response.data.MIP[i].MonthsInPeriod +"']").length==0)
                    {
                        $("#QtrList").append('<option value="' + response.data.MIP[i].MonthsInPeriod + '" >' + response.data.MIP[i].MonthsInPeriod + '</option>');
                    }
                }
                   
                for (var i = 0; i < response.data.PE.length; i++) {
                    if($("#PEList option[value='" + response.data.PE[i].PeriodEnding +"']").length==0)
                    {
                        $("#PEList").append('<option value="' + response.data.PE[i].PeriodEnding + '" >' + response.data.PE[i].PeriodEnding + '</option>');
                    }
                  
                }
           
              

                $("#PEList").multiselect("rebuild");
                $("#QtrList").multiselect("rebuild");

                
                $('button[class*=multiselect]').css('width', '200px');
                $('input[type=checkbox]').css("float", "none");
            },

            RefreshbyPE: function (generic,type) {

                // debugger;
                // Get all the old values from lstStates

                var PEList=listBoxToString('PEList', false);
                var QtrList=listBoxToString('QtrList', false);
                var PFNumList=listboxText('PFNumList', false);
                var PIDList=listBoxToString('PIDList', false);
                var FHAList=listboxText('FHAList', false);

                var PFNameList=listboxText('PFNameList', false);


         
                var data = new FormData();
                data.append("PEList", PEList);
                data.append("QtrList", QtrList);
                data.append("PFNumList", PFNumList);
                data.append("PIDList", PIDList);
                data.append("FHAList", FHAList);
                data.append("PFNameList", PFNameList);
                data.append("IsShowExceptionsOnly",$("#checkBoxCol").is(":checked"))
                // Get the data from the single request
                $.ajax({
                    url:settings.GenericSearchUrl,
                    data: data,
                    contentType: false,
                    processData: false,
                    cache: false,
                    type: 'POST',
                    success: function (response) {
                      // debugger;
                        PLMReport.RepopulatebyPE(response);
                    },
                    error: function (xhr) {
                       // debugger;
                        // TODO: alert the user about the error
                    }
                });
            },
            RepopulatebyPE: function (response) {
                // debugger;
                // Clear the existing list box
              
           
              
                $("#QtrList").empty();

                

                // Add New items to the List box
                for (var i = 0; i < response.data.MIP.length; i++) {
                   
                   
                    if($("#QtrList option[value='" + response.data.MIP[i].MonthsInPeriod +"']").length==0)
                    {
                        $("#QtrList").append('<option value="' + response.data.MIP[i].MonthsInPeriod + '" >' + response.data.MIP[i].MonthsInPeriod + '</option>');
                    }
                  
                }

           
                       
                $("#QtrList").multiselect("rebuild");

                
                $('button[class*=multiselect]').css('width', '200px');
                $('input[type=checkbox]').css("float", "none");
            }
           

        }
    }());

    $(document).ready(function () {
        PLMReport.InitView();
        //  debugger;
        $('button[class*=multiselect]').css('width', '200px');

        $('input[type=checkbox]').css("float", "none");
        
    
        //$('.ui-multiselect ui-widget ui-state-default ui-corner-all btn-text-color-fix ui-state-active ui-state-hover').css('width', '200px');
    });

    

</script>
