﻿<style type="text/css">
    .oddRow {
        text-align: left;
    }

    .evenRow {
        background-color: #E4E9F5;
        color: #000;
        text-align: left;
    }

    .header {
        background-color: #C1D4E6;
        font-weight: bold;
    }
</style>
<table ng-app="multiLoanModule" ng-controller="multiLoanModuleCtrl" class="table table-bordered">
    <thead class="header">
        <tr style="width:100%;" class="header">
            <th></th>
            <th ng-click="setOrderBy('ProjectName')">Project Name<i class="glyphicon" ng-class="{'glyphicon-arrow-up': orderBy.asc, 'glyphicon-arrow-down': !orderBy.asc}" ng-show="orderBy.field == 'ProjectName'"></i></th>
            <th ng-click="setOrderBy('OwnerCompanyType')">Company Type<i class="glyphicon" ng-class="{'glyphicon-arrow-up': orderBy.asc, 'glyphicon-arrow-down': !orderBy.asc}" ng-show="orderBy.field == 'OwnerCompanyType'"></i></th>
            <th ng-click="setOrderBy('OwnerContact')">Contact<i class="glyphicon" ng-class="{'glyphicon-arrow-up': orderBy.asc, 'glyphicon-arrow-down': !orderBy.asc}" ng-show="orderBy.field == 'OwnerContact'"></i></th>
            <th ng-click="setOrderBy('OwnerPhone')">Phone<i class="glyphicon" ng-class="{'glyphicon-arrow-up': orderBy.asc, 'glyphicon-arrow-down': !orderBy.asc}" ng-show="orderBy.field == 'OwnerPhone'"></i></th>
            <th ng-click="setOrderBy('FhaCount')">Count<i class="glyphicon" ng-class="{'glyphicon-arrow-up': orderBy.asc, 'glyphicon-arrow-down': !orderBy.asc}" ng-show="orderBy.field == 'FhaCount'"></i></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat-start="loan in Loans | orderBy:orderBy.field:!orderBy.asc" ng-class-odd="'oddRow'" ng-class-even="'evenRow'">
            <td>
                <i class="btn btn-default glyphicon glyphicon-plus" ng-hide="loan.isSubMode" ng-click="toggleSubMode(loan)"></i>
                <i class="btn btn-default glyphicon glyphicon-minus" ng-show="loan.isSubMode" ng-click="toggleSubMode(loan)"></i>
                <input type="hidden" name="propertyId" value="{{loan.PropertyID}}" />
            </td>
            <td>
                {{loan.ProjectName}}
            </td>
            <td>
                {{loan.OwnerCompanyType}}
            </td>
            <td>
                {{loan.OwnerContact}}
            </td>
            <td>
                {{loan.OwnerPhone}}
            </td>
            <td>
                {{loan.FhaCount}}
            </td>
        </tr>
        <tr ng-show="loan.isSubMode" ng-repeat-end>
            <td colspan="6">
                <table class="table table-bordered" style="position:relative;left:50px;" fixed-Header>
                    @*<table class="table table-bordered" ng-show="loan.isSubMode">*@
                    <thead class="header" style="width:100%;">
                        <tr style="width:100%;" class="header">
                            <th>FHA Number</th>
                            <th>Lender Name</th>
                            <th>Address</th>
                            <th>City</th>
                            <th>State</th>
                            <th>ZipCode</th>
                        </tr>
                    </thead>
                    <tbody style="height:auto !important;">
                        <tr ng-repeat="detail in loan.Details" ng-class-odd="'oddRow'" ng-class-even="'evenRow'">
                            <td>
                                {{detail.FHANumber}}
                            </td>
                            <td>
                                {{detail.Lender_Name}}
                            </td>
                            <td>
                                {{detail.AddressLine2}}
                            </td>
                            <td>
                                {{detail.City}}
                            </td>
                            <td>
                                {{detail.StateCode}}
                            </td>
                            <td>
                                {{detail.ZIP}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-resource.js"></script>
<script src="~/Scripts/App/app.js"></script>
<script src="~/Scripts/App/Directives/fixedHeader.js"></script>
<script src="~/Scripts/App/Services/multiLoanModuleSvc.js"></script>
<script src="~/Scripts/App/Controllers/multiLoanModuleCtrl.js"></script>

