﻿@{
    Layout = null;
}
<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/free-jqGrid/jquery.jqGrid.min.js"></script>
<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
<div>
    <div class="col-md-12">
        <div class="panel with-nav-tabs panel-primary">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1primary" data-toggle="tab">Lender</a></li>
                    <li><a href="#tab2primary" id="tab2" data-toggle="tab">Final Docs</a></li>
                    <li><a href="#tab3primary" id="tab3" data-toggle="tab">Work Product</a></li>
                    @*<li><span class="pull-right" style="margin-right:20px;" id=""><i class="glyphicon glyphicon-plus"></i></span></li>*@
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1primary">
                        <div id="div_tab1">
                            @if (@ViewBag.IsLender) {
                            <div class="col-sm-offset-0" style="    margin-bottom: 2px;margin-top: -10px;">                              
                                <a id="btn_LenderAttach" class="btn btn-primary btn-file"><i class="glyphicon glyphicon-cloud-upload" onclick="UploadDoc();"></i>Attach</a>
                            </div>
                            }
                            <table id="aeGrid"></table>
                            <div id="pager2"></div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab2primary">
                        <div id="div_tab2">
                            <div class="col-sm-offset-0" style="    margin-bottom: 2px;margin-top: -10px;">
                                <a id="btn_FinalDocAttach" class="btn btn-primary btn-file"><i class="glyphicon glyphicon-cloud-upload" onclick="UploadDoc();"></i>Attach</a>
                            </div>
                            <table id="finalDocsGrid"></table>
                            <div id="pager2"></div>
                            @Html.Partial("~/Views/InternalExternalTask/FinalDocsGrid.cshtml")
                            </div>
                        </div>
                    <div class="tab-pane fade" id="tab3primary">
                        <div id="div_tab1">
                        <div class="col-sm-offset-0" style="    margin-bottom: 2px;margin-top: -10px;">
                            <a id="btn_wpAttach" class="btn btn-primary btn-file"><i class="glyphicon glyphicon-cloud-upload" onclick="UploadDoc();"></i>Attach</a>
                        </div>  
                            <table id="workProductsGrid"></table>
                            <div id="pager2"></div>
                            @Html.Partial("~/Views/InternalExternalTask/WorkProductGrid.cshtml")
                          </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        "use strict";
        var TaskInstanceId = $('#TaskInstanceID').val();
        var $grid = $("#aeGrid");
        $grid.jqGrid({

             url: '@Url.Action("GetUploadedDocuments", "InternalExternalTask")',
            postData: { TaskInstanceID: TaskInstanceId,uploadType : '@FileType.Lender'},
            datatype: 'json',
            colNames: ['Name', 'Role', 'File Name', 'Size', 'Upload Date'],
            colModel: [
                   {
                    name: 'Name', index: 'Name', width: 100,
                   },
                    {
                        name: 'Role', index: 'Role',width:90,
                    },
                    {
                        name: 'FileName', index: 'FileName', align: "Left",
                    },
                   {
                       name: 'FileSize', index: 'FileSize', width: 70,
                    },
                   {
                       name: 'UploadTime', index: 'UploadTime', width: 90, formatter: 'date', formatoptions: { newformat: 'm/d/Y' }  
                   }

            ],
            pager: "#pager",
            rowNum: 40,
            rowList: [10, 20, 30, 40, 50],

            rownumbers: true,
            loadonce: false,
            caption: "Lender Grid",
            height: "250px",
            autowidth: true,
            autoheight: true,
            shrinkToFit: true,
            sortname: 'name',
            sortorder: 'asc',
            autoencode: true,
            gridview: true,
            ignoreCase: true,
            width: 750,
            grouping: true,
            emptyrecords: 'No records to display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false
            },

            //scroll: 1,
            onSelectRow: function (rowid) {

                return false;
            },

        });

        $grid.jqGrid("navGrid", "#pager",
        { add: false, edit: false, del: false }, {}, {}, {},
        { multipleSearch: false, multipleGroup: false });

    });

</script>

