﻿
 @model HUDHealthcarePortal.Model.AssetManagement.NonCriticalRequestExtensionModel
<link href="../../Content/formUpload.css" rel="stylesheet">
<style type="text/css">
    ul.ui-autocomplete {
        list-style: none;
        list-style-type: none;
        padding: 2px;
        margin: 0px;
    }

    .background {
        background-color: #eee;
    }

    span.error {
        color: #e80c4d;
        font-weight: bold;
    }

    input[type="radio"] {
        width: 20px;
    }

    label.required:after {
        content: " *";
        color: red;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 20px;
    }
</style>

  <section id="editUserProfile" style="width:960px;">
    <h4 style="text-align:center;">Non-Critical Repair Request Escrow Extension Form</h4>
      <div id="dialogCommon"></div>
@using (Html.BeginForm("SubmitForm", "NonCriticalRequestExtension", FormMethod.Post, new {style = "margin:auto;"}))
{
    @Html.HiddenFor(m => m.FHANumber, new { id = "FHANumber" })
    @Html.HiddenFor(m => m.Concurrency, new { id = "Concurrency" })
    @Html.HiddenFor(m => m.TaskGuid, new { id = "TaskGuid" })
    @Html.HiddenFor(m => m.LenderID, new { id = "LenderID" })
    @Html.HiddenFor(m => m.SequenceId, new { id = "SequenceId" })
    @Html.HiddenFor(m => m.AssignedBy, new { id = "AssignedBy" })
    @Html.HiddenFor(m => m.ModifiedBy, new { id = "ModifiedBy" })
    @Html.HiddenFor(m => m.CreatedBy, new { id = "CreatedBy" })
    @Html.HiddenFor(m => m.CreatedOn, new { id = "CreatedOn" })
    @Html.HiddenFor(m => m.ModifiedOn, new { id = "ModifiedOn" })
    @Html.HiddenFor(m => m.IsDisplayAcceptPopup, new { id = "txtPopup" })
    @Html.HiddenFor(m => m.PropertyID, new { id = "PropertyID" })
    @Html.HiddenFor(m => m.ViewName, new { id = "ViewName" })
    @Html.HiddenFor(m => m.ManageMode, new { id = "ManageMode" })
    @Html.Hidden("IsAnyPendingExtensionRequestExist")
    @Html.HiddenFor(m => m.IsDefaultExention)
    @Html.HiddenFor(m => m.IsReassigned, new { id = "IsReassigned" })


    <div class="container-fluid">
        <div class="row">
            <span class="col-md-4 text-right required">
                @Html.Label("FHA Project Number  : ", new {@class = "required"})
            </span>
            <span class="col-md-4">
                <input type="text" id="ddlFHANumbers" value="@Model.FHANumber" />
            </span>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <span class="col-md-4 text-right">
                @Html.Label("Project Number:")
            </span>
            <span class="col-md-4">
                @Html.TextBoxFor(m => m.PropertyID, new {id = "txtPropertyID", title = "Property ID", @style = "background: #eee", @readonly = "true",@Value=""})
                @Html.ValidationMessageFor(m => m.PropertyID)
            </span>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <span class="col-md-4 text-right">
                @Html.Label("Property Name:")
            </span>
            <span class="col-md-4">
                @Html.TextBoxFor(m => m.PropertyName, new {id = "txtPropertyName", title = "Property Name", @style = "background: #eee", @readonly = "true"})
                @Html.ValidationMessageFor(m => m.PropertyName)
            </span>
        </div>
    </div>
    

    <div class="container-fluid">
        <div class="row">
            <span class="col-md-4 text-right">
                @Html.Label("Closing Date:")
            </span>
            <span class="col-md-4">
                @Html.TextBoxFor(m => m.ClosingDate, new {id = "txtClosingDate", title = "Closing Date", @style = "background: #eee", @readonly = "true"})
                @Html.ValidationMessageFor(m => m.ClosingDate)
            </span>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <span class="col-md-4 text-right">
                @Html.Label("Lender Name:")
            </span>
            <span class="col-md-4">
                @Html.TextBoxFor(m => m.LenderName, new {id = "txtLenderName", title = "LenderName", @style = "background: #eee", @readonly = "true"})
                @Html.ValidationMessageFor(m => m.LenderName)
            </span>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <span class="col-md-4 text-right">
                @Html.Label("Pending Request for Extension Date:")
                @Html.Label("(* With default extension 6 months ( 12 + 6 months) )", new { id="lblDefaultExten", @style = "font-size:10px;color:red;font-weight: bold" })
            </span>
            <span class="col-md-4">
                @Html.TextBoxFor(m => m.EndDate, new {id = "txtEndDate", title = "End Date", @style = "background: #eee", @readonly = "true"})
                @Html.ValidationMessageFor(m => m.EndDate)
            </span>
        </div>
    </div>
    
      <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Servicer Comments:")
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.Comments, new { id = "txtServiceComment", title = "Servicer Comment" })
                  
                </span>
            </div>
        </div>

    
    <div class="container-fluid" style="margin-top: 30px">
        <div id="dvSubmit" class="row">
            <span class="col-md-12 text-center">
                <input type="submit" value="Submit Request for Six months Extension" id="btnSubmit" name="submitButton" />
            </span>
        </div>
    </div>


   
}
  
 </section>

<script>
    var autocompleteTextBox = $('#ddlFHANumbers');
    var possibleValues = @Html.Raw(Json.Encode(Model.AvailableFHANumbersList));
    var fhaNumberLoaded = "";
</script>

<script src="/Scripts/Shared/autocomplete.js"></script>
<script>

    var NonCriticalExtension = (function() {

        var addMonths = function(closingDate, months)
        {
            closingDate.setMonth(closingDate.getMonth()+months);
            return closingDate.getMonth()+1 + "/" + closingDate.getDate() + "/" + closingDate.getFullYear();
        }
      
     
        //////////////////////////////////////////////////////////////////////////////////////
        // Private variables and methods
        //////////////////////////////////////////////////////////////////////////////////////
        return {
            InitView: function () {
                autocompleteTextBox.on('autocompleteselect', function(event, ui) {
                    searchTextTyped = ui.item.value;
                    autocompleteMatch(searchTextTyped, possibleValues); 
                    NonCriticalExtension.updatePropertyInfo(searchTextTyped);
                });

                autocompleteTextBox.bind('blur', function() {
                    NonCriticalExtension.updatePropertyInfo($(this).val());
                });
                $('#btnSubmit').click(function () {
                   
                        if (!NonCriticalExtension.ValidateForm()) {
                            return false;
                       
                    }
                    return true;
                });


            },

            updatePropertyInfo: function(selectedFHANumber) {
                if ($.inArray(selectedFHANumber, possibleValues) != -1) {
                    if (fhaNumberLoaded != selectedFHANumber) {
                        $.ajax({
                            url: '@Url.Action("GetPropertyInfo", "NonCriticalRequestExtension")',
                            data: { selectedFhaNumber: selectedFHANumber },
                            dataType: 'json',
                            type: 'GET',
                            success: function(data) {
                                {
                                    if (selectedFHANumber == '-1' || selectedFHANumber == '') {
                                        $('#txtPropertyName').val("");
                                        $('#txtPropertyID').val("");
                                        $('#PropertyID').val("");
                                    } else {
                                        $('#IsAnyPendingExtensionRequestExist').val(data.IsAnyPendingExtensionRequestExist);
                                         var approvalDate = data.ExtensionApprovalDate;
                                         $('#txtPropertyName').val(data.PropertyName);
                                         $('#txtPropertyID').val(data.PropertyId);
                                         $('#PropertyID').val(data.PropertyId);
                                        $('#txtClosingDate').val(data.ClosingDate);
                                        var closingDate = new Date(data.ClosingDate);
                                        if (approvalDate != null && approvalDate != "") {
                                            var endingDate = new Date(data.EndingDate);
                                            var endingDate = new Date("12/12/2017");
                                            $('#txtEndDate').val(addMonths(endingDate, 6));
                                          //  $('#txtEndDate').val(data.EndingDate);
                                            $('#lblDefaultExten').text("(* with 6 months extension)");
                                            $('#IsDefaultExention').val(false);

                                        } else {
                                            $('#txtEndDate').val(addMonths(closingDate, 18));
                                            $('#IsDefaultExention').val(true);

                                        }
                                        $('#FHANumber').val(selectedFHANumber);
                                      
                                    }
                                }
                            },
                            error: function(XMLHttpRequest, textStatus, errorThrown) {
                                alert("Error Retrieving Data\nStatus: " + textStatus + "\nError: " + errorThrown);
                            }
                        });
                    }
                } else {
                    $('#txtPropertyName').val("");                   
                    $('#txtPropertyID').val("");
                    $('#PropertyID').val("");
                    $('#txtLenderName').val("");
                    $('#txtClosingDate').val("");
                    $('#txtEndDate').val("");
                    
                    
                }

                fhaNumberLoaded = selectedFHANumber;
            },
          
            ValidateForm:function()
            {
                if ($("#ddlFHANumbers").val() == "") {
                    alert('Please select the FHA Number');
                    $("#ddlFHANumbers").focus();
                    return false;
                }

                if ($('#IsAnyPendingExtensionRequestExist').val() == "true") {
                    alert('You have a Request for Extension that is Pending for HUD Approval');
                    return false;
                }
                // part of the request extension meeting, commented out the, lender can make requests prior to the extension end date
                //var currExtnEndDate =  new Date($('#txtEndDate').val());
                //var today = new Date();
                //if (currExtnEndDate > today) {
                //    alert('Current or Default extension not expired.');
                //    return false;
                //}
                return true;
            }
        }

     
         


    }());


    $(document).ready(function () {
        // override autocompleteTextBox.on function
        NonCriticalExtension.InitView();

        if ('@Model.IsDisplayAcceptPopup' == 'True') {
            $("#txtPopup").val(true);
            if ($('#txtAgreementAccepted').val() != 'true')
                $('#dialogCommon').dialog('open');
        }

         

        $("#dialogCommon").dialog({
            title: '@TempData["Title"]',
            autoOpen: '@TempData["bAutoOpen"]' == "True" ? true : false,
            autoOpen: false,
            resizable: '@TempData["bResizable"]' == "True" ? true : false,
            height: '@TempData["winHeight"]',
            width: '@TempData["winWidth"]',
            show: { effect: 'fade' },
            modal: true,
            draggable: '@TempData["bDraggable"]' == "True" ? true : false,
            closeOnEscape: false,
            close: function (event, ui) {
                $(this).dialog("close");
            },
            open: function (event, ui) {
                $(this).load('@TempData["sLoadUrl"]', { id: g_modal_paramId });
                if ('@TempData["bShowCloseBtn"]' == "False")
                    $(".ui-dialog-titlebar-close").hide();
            }
        });

    });

   

</script>