﻿<script type="text/javascript">
    function userSelected(target) {
        $('#dialogCommon').dialog('close');
        if ($(target).val() == 'Ok') {
            $('#txtAgreementAccepted').val(true);
            $('#btnSubmit').click();
        }
        else {
            $('#txtAgreementAccepted').val('false');
        }
        return false;
    }
</script>
<div class="container-fluid">
    <div class="row" style="margin-top:20px;">
        <div>
            <p> Please verify that the data is correct before accepting.</p>
             
        </div>
    </div>

    <br />

    <div class="row" style="margin-left:230px;">
        <span class="col-md-2">
            <input id="btnOk" type="submit" name="agreeOrNot" class="form-control" value="Ok" onclick="userSelected(this)">
        </span>
        <span class="col-md-2">
            <input id="btnCancel" type="submit" name="agreeOrNot" class="form-control" value="Cancel" onclick="userSelected(this)">
        </span>
    </div>
</div>