﻿@using System.Diagnostics.Eventing.Reader
@using HUDHealthcarePortal.BusinessService
@model IEnumerable<TaskModel>  
@if (Model == null || (Model.ToList().Count == 1 && string.IsNullOrEmpty(Model.ToList()[0].Notes)))
{
    <div>
        No notes entered.
    </div>
}
else
{
  foreach (var item in Model)
  {
      if (string.IsNullOrEmpty(item.Notes))
      {
          continue;
      }
    <div>
        @item.AssignedBy says to @item.AssignedTo (@TimezoneManager.GetPreferredTimeFromUtc(@item.StartTime)):<br />
        @item.Notes
    </div>
    <hr />
  }
}

