﻿@{
    ViewBag.Title = "ResultsExcelUpload";
    if (UserPrincipal.Current.IsInRole("Lender"))
    {
        Layout = "~/Views/Shared/_Layout_Lender.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}


<!DOCTYPE html>

<html>
<head>
    <title>Results Excel Upload</title>
    <script src="../../Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
    <style type="text/css">
        .webGrid {
            margin: 4px;
            border-collapse: collapse;
            width: 900px;
            height: 250px;
            background-color: #FCFCFC;
        }

        .header {
            background-color: #C1D4E6;
            font-weight: bold;
            color: #ffffff;
        }

        .webGrid th, .webGrid td {
            border: 1px solid #C0C0C0;
            padding: 5px;
        }

        .alt {
            background-color: #E4E9F5;
            color: #000;
        }

        .gridHead a:hover {
            text-decoration: underline;
        }

        .description {
            width: auto;
        }

        .description_width_450 {
            width: 450px;
        }

        .description_width_150 {
            width: 150px;
        }

        .description_width_100 {
            width: 100px;
        }

        .description_width_400 {
            width: 412px;
        }
        .select {
            background-color: #389DF5;
        }
    </style>
</head>
<body>
    @{
        ReportExcelUpload_Model product = new ReportExcelUpload_Model();
    }

    <table>
        <tr>
            <td colspan="2"><h2 class="HCP_Sub_Header"> Welcome John Krishnappa</h2></td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            @{
                                var grid = new WebGrid(Model, canPage: true, rowsPerPage: 6, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
                                grid.Pager(WebGridPagerModes.NextPrevious);}
                            <div id="gridContent">
                                @grid.GetHtml(tableStyle: "webGrid",
                                headerStyle: "header",
                                alternatingRowStyle: "alt",
                                selectedRowStyle: "select",
                                displayHeader: Model.Count > 0 ? true : false,
                                columns: grid.Columns(
                                         grid.Column("LenderID", "View", format: (item) => Html.ActionLink((string)item.LenderID.ToString(), "GoogleChart", "Chart", new { LenderID = item }, null)),
                                         grid.Column("Lender_Name", "Lender Name", style: "description_width_450"),
                                         grid.Column("DateInserted", "Date Inserted", format: (item) => Html.ActionLink((string)item.DataInserted.ToString(), "ViewExcelUploadDetail", "ExcelUploadView_", new { dateInserted = item.DataInserted }, null))
                         ))
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding-top:-50px" colspan="2" ><h2 class="HCP_Sub_Header"> Excel Upload</h2></td>
        </tr>
        <tr>
            <td colspan="2">
                <div style=" margin-left:75px;width:860px;">
                    <table>
                        <tr>
                            <td>
                                @{
                                    if (Session["Confirmation"] != null)
                                    {
                                        if (Session["Confirmation"] == "Encountered Problem while uploading file" ||
                                            Session["Confirmation"] == "You are not allowed to upload file for another lender.")
                                        {
                                            <h2 class="HCP_Sub_Header_Red" id="uploadError">
                                                @Html.Raw(Session["Confirmation"].ToString())
                                            </h2>
                                        }
                                        else
                                        {
                                            <h2 class="HCP_Sub_Header_Green" id="uploadPass">
                                                @Html.Raw(Session["Confirmation"].ToString())
                                            </h2>
                                        }
                                    }
                                    Session["Confirmation"] = null;
                                }
                            </td>
                        </tr>
                    </table>

                    @using (Html.BeginForm("Importexcel", "ExcelUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div align="center" class="HCP_Label">
                            <table style="border:1px solid darkblue; box-shadow: inherit">
                                <tr>
                                    <td></td>
                                    <td class="HCP_Label" style="padding-bottom:40px;">
                                        <h6>Please Select Excel File:</h6>
                                    </td>
                                    <td>
                                        <input style="width:560px; font-family:Segoe UI;font-size:small" type="file" id="FileUpload1" name="FileUpload1" />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" align="center">
                                        <input type="submit" id="Submit" name="Submit" value="Submit" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    }
                </div>
            </td>
        </tr>

    </table>
    @*@if (grid.HasSelection)
        {
            product = (HUDHealthCarePortal.Models.ReportExcelUpload_Model)grid.Rows[grid.SelectedIndex].Value;
            <b>Date Inserted</b> @product.DateInserted<br />
            <b>Lender Name</b>  @product.LenderName<br />
            <b>Lender ID</b> @product.LenderID<br />
            <b>User Name</b> @product.UserName<br />

        }*@

</body>
</html>
