﻿@using HUDHealthcarePortal.BusinessService
@model PaginateSortModel<Model.ProjectAction.GroupTaskModel>
<script type="text/javascript">
    $(document).ready(
        function() {
            styleGrid();
        });

    function styleGrid() {
        $('.webGrid .color').each(function (index, element) { $(element).parent().css('background-color', $(element).html()); });
    }
</script>
@{
    var grid = new WebGrid(canPage: true, rowsPerPage: 10,
        selectionFieldName: "selectedRow",
        ajaxUpdateContainerId: "gridContent",
        ajaxUpdateCallback: "styleGrid");
    grid.Bind(Model.Entities, autoSortAndPage: false, rowCount: Model.TotalRows);
}
<div id="gridContent">
    @{
        var gridColumns = new List<WebGridColumn>();

        gridColumns.Add(grid.Column("ProjectActionName", "FHA# - Project Action Name", format: (item) => string.IsNullOrEmpty(item.ProjectActionName) ? new MvcHtmlString(String.Empty) : Html.ActionLink(((object)item.FhaNumber) + " - " + ((object)item.ProjectActionName).ToString(), "GetGroupTaskDetail", "GroupTask", new { @taskId = item.TaskId, @style = "text-decoration:underline" }, null)));
        gridColumns.Add(grid.Column("Status", "Status",  style: "description"));
        gridColumns.Add(grid.Column("UserRole", "Role", style: "description"));
        gridColumns.Add(grid.Column("UserNameInUse", "In Use", style: "description"));
        gridColumns.Add(grid.Column("ProjectActionStartDate", "Date & Time created", style: "description"));
        gridColumns.Add(grid.Column("ServicerSubmissionDate", "Submitted Date", format: (item) =>
        {
            if (item.Status == "Draft" )
            {
                return Html.Raw(string.Empty);
            }


            if (item.ServicerSubmissionDate == null)
            {
                return Html.Raw(string.Empty);
            }
            return Html.Raw(string.Format("{0:MM/dd/yyyy}", item.ServicerSubmissionDate));
        },
        style: "description"));
        if (RoleManager.IsLenderAdmin(UserPrincipal.Current.UserName))
        {
            gridColumns.Add(grid.Column("Unlock", format: (item) =>
            {
                if (item.Status == "Draft" && item.InUse > 0 && item.UserNameInUse != "")
                {
                    return Html.ActionLink("Unlock", "UnlockGroupTask", "GroupTask", new {@taskId = item.TaskId, @style = "text-decoration:underline"}, null);
                }
                return Html.Raw(string.Empty);
            }
            ));
        }
        
       
    }
    @if (Model.Entities.Any())
    {
        @grid.GetHtml(tableStyle: "webGrid",
                headerStyle: "header_row",
                rowStyle: "item_row",
                alternatingRowStyle: "item_alt_row",
                selectedRowStyle: "select",
               mode: WebGridPagerModes.All,
               firstText: "<< First",
               previousText: "< Prev",
               nextText: "Next >",
               lastText: "Last >>",

                columns: gridColumns.ToArray())
    }
    else
    {
        <p style="margin-left:20px;">@(string.IsNullOrEmpty(ViewBag.EmptyMessage) ? "No data found." : @ViewBag.EmptyMessage)</p>
    }
    
</div>