﻿@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h4 class="error">Access Denied</h4>
</hgroup>

<div>
    <p><b>If you believe this is an error, please<a href='../Home/Contact' style="text-decoration: underline" id="Contact" title="Contact us"> Contact us</a>.</b></p>
</div>
