﻿@{
    ViewBag.Title = "Index";
}
<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/free-jqGrid/jquery.jqGrid.min.js"></script>
<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
<style type="text/css">
    .ui-jqgrid {
        font-family: Arial;
    }

    .well {
        padding: 10px;
        background: #d9edf7;
    }

    .ui-jqgrid > .ui-jqgrid-view {
        font-size: 12px;
    }

        .ui-jqgrid > .ui-jqgrid-view button {
            font-size: 10px;
        }

        .ui-jqgrid > .ui-jqgrid-view a {
            color: #428bca;
            font-weight: bolder;
        }

    tr.jqgroup td {
        font-weight: bold !important;
        color: black;
    }

    .ui-icon {
        font-size: 40px;
    }

    jqdialog .glyphicon, .ui-jqgrid .glyphicon {
        font-size: 20px;
        top: auto;
        color: darkslateblue;
    }

    .overlay {
        position: fixed;
        background-color: #FAFAFA;
        z-index: 2147483647 !important;
        opacity: 0.8;
        overflow: hidden;
        text-align: center;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }
</style>

<h4>Internal External Group Task</h4>
<div>
    <table id="IntExtGroupTask"></table>
    <div id="pager"></div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        var $grid = $('#IntExtGroupTask');
        "use strict";      
        $grid.jqGrid({

                url: '@Url.Action("GetInternalExternalGroupTask", "InternalExternalGroupTask")',
            //postData: { TaskInstanceID: TaskInstanceId,uploadType : '@FileType.FinalDoc'},
            datatype: 'json',
            colNames: ['Task Name', 'Status', 'Usertype', 'Role', 'InUse','Created Date','UnLock'],
            colModel: [
                   {
                    name: 'InternalExternalTaskName', index: 'InternalExternalTaskName',
                   },
                    {
                        name: 'Status', index: 'Status',
                    },
                    {
                        name: 'Usertype', index: 'Usertype',
                    },
                   {
                       name: 'Role', index: 'Role', width: 90,
                    },
                   {
                       name: 'InUse', index: 'InUse', width: 90,
                   },
                   {
                       name: 'CreatedDate', index: 'CreatedDate', width: 90, formatter: 'date', formatoptions: { newformat: 'm/d/Y' }
                   },
                   {
                       name: 'Unlock', index: 'Unlock', width: 90,
                       formatter: function (cellvalue, options, rowObject) {
                           if (rowObject.Unlock == true) {
                               return "<span class='ui-icon ui-icon-unlock'>"+'Unlock'+"</span >";
                           } else {
                               return "";
                           }
                       }
                   }

            ],
            pager: "#pager",
            rowNum: 40,
            rowList: [10, 20, 30, 40, 50],

            rownumbers: true,
            loadonce: false,
            caption: "Internal External Group Task Grid",
            height: "500px",
            autowidth: true,
            autoheight: true,
            shrinkToFit: true,
            sortname: 'name',
            sortorder: 'asc',
            autoencode: true,
            gridview: true,
            ignoreCase: true,
            width: 750,
            grouping: true,
            emptyrecords: 'No records to display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false
            },

            //scroll: 1,
            onSelectRow: function (rowid) {

                return false;
            },

        });

        $grid.jqGrid("navGrid", "#pager",
        { add: false, edit: false, del: false }, {}, {}, {},
        { multipleSearch: false, multipleGroup: false });

       // $('#IntExtGroupTask').jqGrid('setGridWidth', '1164');
    });
</script>
